<div class="form-row">
    {{ form_row(form.nombre, {
        container_attr: {class: 'col-lg-6'},
        label_attr: {class: 'font-weight-bold text-dark text-2'}
    }) }}
    {{ form_row(form.from, {
        container_attr: {class: 'col-lg-6'},
        label_attr: {class: 'font-weight-bold text-dark text-2'}
    }) }}
</div>

<div class="form-row">
    {{ form_row(form.mensaje, {
        container_attr: {class: 'col'},
        label_attr: {class: 'font-weight-bold text-dark text-2'}
    }) }}
</div>