html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: normal;
}

main, div.body {
    min-height: 100%;
    position: relative;
    background-image: url("../../../img/sel/evaluacion/pta-elemento-grafico-1.2.jpg");
    background-position: left 10px;
    background-repeat: repeat-x;
    font-size: 20px;
    background-color: #FFF;
}


#evaluacion.container {
    padding-bottom: 82px;
    /* Height of the footer element */
}

#evaluacion-footer {
    width: 100%;
    height: 82px;
    position: absolute;
    bottom: 0;
    left: 0;
}

header{
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

p, label, li{
    line-height: 2.1rem;
    font-weight: 300;
}

/* Dark Gray Gradient */
#evaluacion-footer{
    background-image: -webkit-radial-gradient(circle farthest-side at 110% 0, #596070, #31353e);
    background-image: -o-radial-gradient(circle farthest-side at 110% 0, #596070, #31353e);
    background-image: radial-gradient(circle farthest-side at 110% 0, #596070, #31353e);
    background-repeat: no-repeat;
}

.e-py-20 {
    padding-top: 1.42857rem !important;
}
.e-pt-60 {
    padding-top: 4.28571rem !important;
}
.e-mr-10 {
    margin-right: 0.71429rem !important;
}

.e-bg-white-opacity-0_1 {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.e-bg-white-opacity-0_1--after::after {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.e-bg-white-opacity-0_2--hover:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}
.e-color-white-opacity-0_6 {
    color: rgba(255, 255, 255, 0.6) !important;
}