/** DIAPOSITIVAS **------------------------------------------------------------------------------------------------- **/
.diapositiva-2 .bienvenido-grupo{
    margin: 60px 0;
}
.diapositiva-2 .logo-pta {
    width: 200px;
}
.diapositiva-2 .logo-servilabor {
    width: 300px;
    margin-top: 40px;
}