$lightgray: #efefee;
$primary: #362a6b;
$tertiary: #2baab1;

$heroImgLeft: '../../img/slides/slide-cliente2.jpg';
$heroImgRight: '../../img/slides/slide-empleado2.jpg';

$menu-min-width: get("menuMinWidth");