$lightgray: #efefee;
//$primary: #24135F; // horrible
$primary: #3f317d;
$tertiary: #2baab1;

$heroImgLeft: '../../img/slides/slide-cliente2.jpg';
$heroImgCenter: '../../img/slides/slide-empleado2.jpg';
$heroImgRight: '../../img/slides/startup-reunion.jpg';

//$menu-min-width: get("menuMinWidth");
$menu-min-width: "1152px"