/* Forms */
form label {
  font-weight: normal;
}

textarea {
  resize: vertical;
}

select {
  border: 1px solid #E5E7E9;
  border-radius: 6px;
  outline: none;
}

.label {
  font-weight: normal;
}

label.required:after {
  content: "*";
  font-size: 0.8em;
  margin: 0.3em;
  position: relative;
  top: -2px;
}

.form-group:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.form-control {
  border-color: rgba(0, 0, 0, 0.09);
}

.form-control:not(.form-control-lg) {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.3;
}

.form-control:not(.form-control-sm):not(.form-control-lg) {
  font-size: 13.6px;
  font-size: 0.85rem;
  line-height: 1.85;
}

.form-control.form-control-focused {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-color: #CCC;
}

.form-control:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-color: #CCC;
}

.form-control.error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control.error:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.page-link {
  border-color: rgba(0, 0, 0, 0.06);
}

.input-group .form-control {
  height: auto;
}

.input-group-rounded .form-control {
  border-radius: 2rem 0rem 0rem 2rem;
  border: 0;
  padding-left: 16px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-append .btn {
  border-color: rgba(0, 0, 0, 0.09);
  border-radius: 0rem 2rem 2rem 0rem;
  font-size: 11.2px;
  font-size: 0.7rem;
  padding: 13.92px;
  padding: 0.87rem;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  z-index: 3;
}

/* Form - iOS Override */
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
  -webkit-appearance: none;
}

.form-control::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}

.form-control::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #bdbdbd;
}

.form-control:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bdbdbd;
}

/* Form - Bootstrap Override */
.btn-lg,
.btn-group-lg > .btn {
  line-height: 1.334;
}

.input-group-btn .btn {
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}

select.form-control-sm, select.form-control-lg {
  line-height: 1;
  height: auto !important;
}

.bootstrap-timepicker-widget input {
  border: 0;
}

.bootstrap-timepicker-widget table td input {
  width: 40px;
}

.fileupload .btn {
  line-height: 20px;
  margin-left: -5px;
}

/* Forms Validations */
label.valid {
  display: inline-block;
  text-indent: -9999px;
}

label.error {
  color: #c10000;
  font-size: 0.9em;
  line-height: 18px;
  padding: 5px 0 0;
}

label.error#captcha-error {
  margin-top: 15px;
}

.form-errors-light .form-control.error {
  border-color: #FFF;
}

.form-errors-light label.error {
  color: #FFF;
}


/* Form Styles */
.form-style-2 .form-group {
  margin-bottom: 11.2px;
  margin-bottom: 0.7rem;
}

.form-style-2 .form-control {
  padding: 11.2px 16px;
  padding: 0.7rem 1rem;
  border: 0;
}

.form-style-2 .form-control::-webkit-input-placeholder {
  color: #202528;
  opacity: 0.5;
}

.form-style-2 .form-control::-moz-placeholder {
  color: #202528;
  opacity: 0.5;
}

.form-style-2 .form-control:-ms-input-placeholder {
  color: #202528;
  opacity: 0.5;
}

.form-style-2 .form-control:-moz-placeholder {
  color: #202528;
  opacity: 0.5;
}

.form-style-2 .form-control.error {
  border-width: 2px;
}

.form-style-3 .form-group {
  margin-bottom: 17.6px;
  margin-bottom: 1.1rem;
}

.form-style-3 .form-control {
  padding: 11.2px 16px;
  padding: 0.7rem 1rem;
  background: #F4F4F4;
  border: none;
}

.form-style-3 .form-control::-webkit-input-placeholder {
  color: #202528;
  opacity: 0.5;
}

.form-style-3 .form-control::-moz-placeholder {
  color: #202528;
  opacity: 0.5;
}

.form-style-3 .form-control:-ms-input-placeholder {
  color: #202528;
  opacity: 0.5;
}

.form-style-3 .form-control:-moz-placeholder {
  color: #202528;
  opacity: 0.5;
}

.form-style-3 .form-control.error {
  border: 2px solid #e21a1a;
}

.form-style-4 .form-control {
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom-color: rgba(0, 0, 0, 0.4);
  color: #FFF;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
