/* Sample Item */
.sample-item-container {
  max-width: 1648px;
}

.sample-item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.sample-item-list li {
  text-align: center;
}

.sample-item-list.sample-item-list-loaded {
  opacity: 1;
}

.sample-item {
  text-align: center;
  max-width: 500px;
  width: 100%;
  display: inline-block;
  margin-bottom: 35px;
}

.sample-item a {
  text-decoration: none !important;
}

.sample-item .owl-carousel {
  margin-bottom: 0;
  -webkit-box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 22.8vw;
  max-height: 365px;
  display: block !important;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.sample-item .owl-carousel:hover {
  -webkit-box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.4);
}

.sample-item .owl-carousel .sample-item-image-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sample-item .owl-carousel .owl-item > div {
  height: 365px;
  max-height: 365px;
}

.sample-item .owl-carousel .owl-nav button.owl-prev,
.sample-item .owl-carousel .owl-nav button.owl-next {
  border: 0 none;
  border-radius: 0 4px 4px 0;
  color: #777;
  height: 50px;
  line-height: 38px;
  margin-top: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sample-item .owl-carousel .owl-nav button.owl-prev:hover, .sample-item .owl-carousel .owl-nav button.owl-prev:focus,
.sample-item .owl-carousel .owl-nav button.owl-next:hover,
.sample-item .owl-carousel .owl-nav button.owl-next:focus {
  color: #000 !important;
}

.sample-item .owl-carousel .owl-nav button.owl-prev:before,
.sample-item .owl-carousel .owl-nav button.owl-next:before {
  font-size: 11px;
}

.sample-item .owl-carousel .owl-nav button.owl-prev {
  background-color: #E7E7E7;
  -webkit-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
}

.sample-item .owl-carousel .owl-nav button.owl-prev:hover, .sample-item .owl-carousel .owl-nav button.owl-prev:focus {
  background-color: #E7E7E7 !important;
}

.sample-item .owl-carousel .owl-nav button.owl-next {
  background-color: #E7E7E7;
  -webkit-transform: translate3d(30px, 0, 0);
  transform: translate3d(30px, 0, 0);
  border-radius: 4px 0 0 4px;
}

.sample-item .owl-carousel .owl-nav button.owl-next:hover, .sample-item .owl-carousel .owl-nav button.owl-next:focus {
  background-color: #E7E7E7 !important;
}

.sample-item .owl-carousel:hover .owl-nav button.owl-prev {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sample-item .owl-carousel:hover .owl-nav button.owl-next {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sample-item .sample-item-image-wrapper {
  background: #FFF;
  height: 22vw;
  max-height: 365px;
  max-width: 500px;
  width: 100%;
  display: inline-block;
  border: none;
  -webkit-box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.1);
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.sample-item .sample-item-image-wrapper .fa-spin {
  background: transparent none repeat scroll 0 0;
  color: #ccc;
  font-size: 25px;
  left: 50%;
  margin: -13px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.sample-item a:hover .sample-item-image-wrapper {
  -webkit-box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.4);
}

.sample-item .sample-item-image {
  height: 22.8vw;
  max-height: 365px;
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2;
}

.sample-item .sample-item-description {
  display: block;
  padding: 15px 0;
}

.sample-item h5 {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.sample-item h5 .sample-item-info {
  display: block;
  font-size: 11px;
  opacity: 0.6;
}

.sample-item p {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.sample-item.sample-item-home .sample-item-image-wrapper {
  height: 13.9vw;
}

.sample-item.sample-item-home .sample-item-image-wrapper,
.sample-item.sample-item-home .sample-item-image {
  max-height: 260px;
}

.sample-item.sample-item-coming-soon .sample-item-image {
  background-color: #FBFBFB;
  background-position: center center;
}

.sample-item.sample-item-coming-soon.sample-item-home .sample-item-image {
  height: 15vw;
}

@media (max-width: 991px) {
  .sample-item .sample-item-image-wrapper, .sample-item .owl-carousel {
    height: 33vw;
  }

  .sample-item .sample-item-image {
    height: 34vw;
  }

  .sample-item.sample-item-home .sample-item-image-wrapper {
    height: 30vw;
  }

  .sample-item.sample-item-home .sample-item-image {
    height: 30vw;
  }

  .sample-item.sample-item-coming-soon.sample-item-home .sample-item-image {
    height: 30vw;
  }
}

@media (max-width: 767px) {
  .sample-item .sample-item-image-wrapper, .sample-item .owl-carousel {
    height: 63.4vw;
  }

  .sample-item .sample-item-image {
    height: 67.5vw;
  }

  .sample-item.sample-item-home .sample-item-image-wrapper {
    height: 63.4vw;
    max-height: 345px;
  }

  .sample-item.sample-item-home .sample-item-image {
    height: 67.5vw;
    max-height: 345px;
  }

  .sample-item.sample-item-coming-soon.sample-item-home .sample-item-image {
    height: 63.4vw;
  }
}
/* Sample Sub Items Lightbox */
.sample-sub-items-lightbox {
  margin: 0 auto;
  max-width: 1650px;
  padding: 10vh 10px 50px;
  width: 100%;
}