{% extends 'pta/base.html.twig' %}

{% block body_header_class %}page-header page-header-classic page-header-md no-header mb-0{% endblock %}
{% block body_header %}
    {{ parent() }}

    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="text-dark">
                        Aviso de privacidad
                    </h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    PTA S.A.S., sociedad colombiana, identificada con NIT No. 860.527.350-6, con domicilio principal en
                    la ciudad de Bogotá, ubicada en la Calle 72 A No. 20 A - 57, teléfono 7569840, y correo electrónico
                    <a href="mailto:datospersonales@pta.com.co">datospersonales@pta.com.co</a>
                    como responsable del tratamiento de datos personales de terceros, y en cumplimiento de lo
                    dispuesto por la ley estatutaria 1581 de 2012, reglamentada por el Decreto Nacional 1377 de 2013,
                    el Decreto 1074 de 2015, y sus fundamentos constitucionales respecto a la protección de la intimidad,
                    información de las personas y el derecho al habeas data; pone a disposición de todos los titulares de
                    la información el presente aviso de privacidad.
                </p>
                <p>
                    Sus datos personales serán tratados con el fin de cumplir el objeto social de la empresa, se usarán
                    de forma responsable, bajo los estándares legales y de seguridad pertinentes y serán utilizados en
                    general para las siguientes finalidades descritas y ampliadas en la Política de tratamiento de
                    datos puesta a disposición del público general por parte de PTA:
                </p>
                <ul>
                    <li>
                        Adelantar todas las gestiones tendientes al normal desarrollo del objeto social de la empresa.
                    </li>
                    <li>
                        Generación de ficheros internos.
                    </li>
                    <li>
                        Adelantar todas las gestiones tendientes para lograr un exitoso proceso de selección de
                        empleados.
                    </li>
                    <li>
                        Contacto y conocimiento de clientes, empleados, prospectos, proveedores, entre otros.
                    </li>
                    <li>
                        Generación y envío de correspondencia y comunicaciones dirigidas a informar situaciones de interés
                        sobre la empresa y los servicios que presta.
                    </li>
                    <li>
                        Dar cumplimiento a obligaciones legales, contractuales, contables y tributarias.
                    </li>
                    <li>
                        Cuando ello se considera necesario, entrega de información a terceros encargados del tratamiento
                        de la información vinculados contractualmente con PTA para ejercer actos
                        tendientes a lograr el pleno cumplimiento del objeto social de la empresa.
                    </li>
                    <li>
                        Solicitud y elaboración de cotizaciones, propuestas, elaboración de órdenes de servicio.
                    </li>
                    <li>
                        Pago y cobro de facturas generadas a favor o a cargo de PTA.
                    </li>
                </ul>
                <p>
                    Las finalidades específicas según cada base de datos se podrán encontrar desarrolladas en la Política
                    de Tratamiento de Datos adoptada por PTA.
                </p>
                <p>
                    El titular de los datos de acuerdo con lo dispuesto por la ley conserva su capacidad facultativa de
                    entregar datos sensibles, y si así lo hiciere reconoce que PTA S.A.S., los tratará mediante altos estándares de reserva y seguridad, en consideración a su calidad.
                </p>
                <p>
                    Los titulares de la información en cualquier momento podrán consultar las Políticas de Tratamiento
                    de datos de la compañía, así como ejercer los derechos de acceder, rectificar, actualizar y
                    suprimir sus datos de conformidad con los requisitos y trámites dispuestos para tal efecto por
                    PTA S.A.S., a través del canal: <a href="mailto:datospersonales@pta.com.co">datospersonales@pta.com.co.</a>
                </p>
            </div>
        </div>

    </div>
{% endblock %}

