{% extends 'hv/base-hv-entity.html.twig' %}

{% block card_title %}
    Idiomas
{% endblock %}
{% block card_body %}
    <p class="lead">
        Ingrese en el cuadro detalle de su vivienda, o viviendas
    </p>
    {{ parent() }}
{% endblock %}

{% block modal_body %}
    {{ include('hv/hv-entity/_idioma-form.html.twig') }}
{% endblock %}
