{% set menu = knp_menu_get('convenio', [], {codigo: convenio.codigo}) %}

<div class="tab-navigation">
    <nav>
        {{ knp_menu_render(
            menu, {
                'currentClass': 'active',
                'root': {
                    'attributes': {
                        'class': 'nav nav-pills',
                    }
                },
                'link': {
                    'attributes': {
                        'class': 'nav-link'
                    }
                }
            }, 'custom') }}
    </nav>
</div>