{% set menu = knp_menu_get('convenio', [], {codigo: convenio.codigo}) %}

<div class="tab-navigation collapse">
    <nav>
        {{ knp_menu_render(
            menu, {
                'currentClass': 'nav-active',
                'rootClass': 'nav nav-pills',
            }, 'custom') }}
    </nav>
</div>