<div id="coronavirus">
    <h3 style="color:#721c24; margin: 5px">
        Comunicado plan de contingencia Covid-19
    </h3>
    <p style="margin: 5px; color: #721c24;line-height: 20px;">
        En PTA SAS Seguimos trabajando para ustedes
        <br>
        Nuestros colaboradores y clientes son lo más importante, por eso en esta contingencia
        que vivimos a nivel nacional tenemos el compromiso de tomar las medidas necesarias para
        la prevención y el cuidado de la salud.
        <br>
        Nuestro equipo se encuentra trabajando desde cada uno de sus hogares con las
        herramientas tecnológicas que nos permite atender los requerimientos de los usuarios y
        empleados con el fin de mantener el curso normal de nuestros servicios.
        <br>
        <strong>Nuestras sedes en Bogota, Duitama, Medellín, Cali, Barranquilla, Pereira, Bucaramanga e
            Ibagué están cerradas para la atención al público</strong> y las inquietudes, solicitudes o
        aclaraciones, las estamos atendiendo a través de los siguientes canales:
    </p>
    <p style="margin: 15px 5px; color: #721c24;line-height: 20px;">
        Si usted es proveedor comuníquese al correo
        <a href="mailto:contador@pta.com.co">contador@pta.com.co</a>
        o al teléfono 300 693 03 89<br>
        Si Usted es Trabajador en Misión al correo
        <a href="mailto:servicioalcliente2@pta.com.co">servicioalcliente2@pta.com.co</a>
        o al teléfono 318 716 13 18<br>
        Si Usted es Empresa Usuaria o requiere contratar nuestros servicios al correo
        <a href="mailto:fernanda.sanchez@pta.com.co">fernanda.sanchez@pta.com.co</a>
        o al teléfono 316 834 57 26
    </p>
    <p style="margin: 5px; color: #721c24;line-height: 20px;">
        Señores trabajadores, en caso de presentar síntomas como fiebre, dolor de garganta, malestar general,
        síntomas respiratorios entre otros, haber estado en contacto con persona sospechosa
        o positiva para COVID 19, por favor comuníquelo inmediatamente a la persona
        encargada de Seguridad y Salud en el trabajo de la empresa usuaria donde usted
        labora y también a PTA al correo <a href="mailto:salud.ocupacional@pta.com.co">salud.ocupacional@pta.com.co</a> o comuníquese con el
        teléfono 3153113855 con el fin de asesorarlo y acompañarlo ante cualquier situación.
        <br>
        Solicitamos igualmente que descargue la Aplicación Coronapp del Ministerio de Salud,
        la cual está disponible en App Store y Google Play y diligencie a diario la encuesta
        que encuentra en el siguiente link:
        <br>
        <a href="https://forms.gle/FGrxkbzVSxBbEPox7" target="_blank">
            https://forms.gle/FGrxkbzVSxBbEPox7
        </a>
    </p>
</div>