<div id="header">
    <div class="header-top header-top-no-min-height" style="background: #fafafa;">
        <div class="container-fluid px-0">
            <div class="header-row py-0">
                <div class="header-column justify-content-end">
                    <div class="header-row alert-danger" style="background-color: #f5c6cb; font-size: .9em">
                        <div class="row">
                            <div class="col">
                                <h3 style="color:#721c24; margin: 5px">
                                    Comunicado plan de contingencia Covid-19
                                </h3>
                                <p style="margin: 5px; color: #721c24;line-height: 20px;">
                                    Nos permitimos informar que a partir de la fecha en las oficinas de Bogotá
                                    <strong> nuestro horario de atención será de lunes a viernes de 10:00 a.m. a 7:00
                                        p.m. </strong> Sin embargo y con el fin de atender las
                                    medidas de prevención dispuestas por el Gobierno Nacional, sus solicitudes podrán
                                    realizarlas de
                                    manera virtual a través de la página web:
                                    <a href="https://www.pta.com.co"> www.pta.com.co </a> o al correo electrónico:
                                    <a href="mailto:auxiliarservicioalcliente@pta.com.co"> auxiliarservicioalcliente@pta.com.co</a>
                                    Agradecemos su comprensión
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>