<div id="header">
    <div class="header-top header-top-no-min-height" style="background: #fafafa;">
        <div class="container-fluid px-0">
            <div class="header-row py-0">
                <div class="header-column justify-content-end">
                    <div class="header-row alert-danger" style="background-color: #f5c6cb; font-size: .9em">
                        <div class="row">
                            <div class="col">
                                <h3 style="color:#721c24; margin: 5px">
                                    Comunicado plan de contingencia Covid-19
                                </h3>
                                <p style="margin: 5px; color: #721c24;line-height: 20px;">
                                    En PTA SAS Seguimos trabajando para ustedes
                                    <br>
                                    Nuestros colaboradores y clientes son lo más importante, por eso en esta contingencia
                                    que vivimos a nivel nacional tenemos el compromiso de tomar las medidas necesarias para
                                    la prevención y el cuidado de la salud.
                                    <br>
                                    Nuestro equipo se encuentra trabajando desde cada uno de sus hogares con las
                                    herramientas tecnológicas que nos permite atender los requerimientos de los usuarios y
                                    empleados con el fin de mantener el curso normal de nuestros servicios.
                                    <br>
                                    <strong>Nuestras sedes en Bogota, Duitama, Medellín, Cali, Barranquilla, Pereira, Bucaramanga e
                                    Ibagué están cerradas para la atención al público</strong> y las inquietudes, solicitudes o
                                    aclaraciones, las estamos atendiendo a través del correo electrónico
                                    <a href="mailto:auxiliarservicioalcliente@pta.com.co"> auxiliarservicioalcliente@pta.com.co</a> para garantizar una respuesta inmediata y un mejor
                                    seguimiento.
                                    <br>
                                    Esperamos superar entre todos esta emergencia en el menor tiempo posible.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>