<div id="estafadores">
    <div class="text">
        <h1 style="color:#721c24;">
            ¡Comunicado de alerta!
        </h1>
        <p style="margin: 5px; color: #721c24;line-height: 20px;">
            Nos permitimos informar que PTA SAS <strong>no solicita dinero o pago de pólizas</strong>
            para vincular a trabajadores.
        </p>
        <p style="margin: 15px 5px; color: #721c24;line-height: 20px;">
            No se deje engañar por estafadores, si recibe este tipo de solicitudes por favor absténgase de pagar dinero y
            denuncie a nuestro correo electrónico
            <a href="mailto:notificaciones@pta.com.co">notificaciones@pta.com.co</a>
            y si es posible envie todas las pruebas.
        </p>
        <p style="margin: 5px; color: #721c24;line-height: 20px;">
            Los delincuentes utilizan el correo
            <a href="mailto:angelicamendezpta@hotmail.com.co">angelicamendezpta@hotmail.com.co</a>
        </p>
    </div>
</div>