<div class="header-top header-top-borders">
    <div class="container h-100">
        <div class="header-row h-100">
            <div class="header-column justify-content-start">
                <div class="header-row">
                    <nav class="header-nav-top">
                        <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean ml-0">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-column justify-content-end">
                <div class="header-row">
                    <nav class="header-nav-top">
                        <ul class="nav nav-pills">
                            <li class="nav-item nav-item-borders py-1">
                                <a href="{{ path('registro_datos_basicos') }}" class="text-color-secondary font-weight-semibold">Registrarse</a>
                            </li>
                            <li class="nav-item nav-item-borders py-1">
                                <a href="{{ path('app_login') }}" class="text-color-primary font-weight-semibold">Iniciar sesión</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>