/* HEADER ------------------------------------------------------------------------------------------------------------*/
.header .logo {
    margin: 13px 0 0 15px;
}

.notifications > li .notification-icon.switch-user {
    background: orangered;
}
.notifications > li .notification-icon.switch-user i {
    color: white;
}

/* BODY --------------------------------------------------------------------------------------------------------------*/
.content-body {
    padding: 1rem;
}

/* DATATABLES --------------------------------------------------------------------------------------------------------*/
.dataTables_processing {
    left: 15px;
    right:15px;
    top: 0;
    bottom: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 10px;
}

