{% set vacante = master_request().attributes.get('vacante') %}
<section class="page-header page-header-classic page-header-md mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-2 order-md-1 align-self-center p-static">
                <h1 data-title-border>
                    {{ vacante.titulo }}
                </h1>
            </div>
        </div>
    </div>
</section>
<div class="alert alert-info alert-sm">
    <div class="container py-2">
        <h4 class="font-weight-normal mb-0">
            {% if master_request().attributes.get('wizard') is same as('completar') %}
                <strong>Hoja de vida incompleta.</strong> Complete su hoja de vida para poder aplicar a la vacante.
            {% else %}
                <strong>Registrese</strong> para poder aplicar a la vacante.

                {% if master_request().attributes.get('step') is same as('basicos') %}
                    ¿Ya tiente cuenta con nosotros?
                    <strong>
                        <a href="{{ path('vacante_aplicar', {'slug': vacante.slug })  }}">
                            Inicie sesión!
                        </a>
                    </strong>
                {% endif %}
            {% endif %}
        </h4>

    </div>
</div>