{% extends 'datatable/base.datatable.html.twig' %}

{% block title %}Usuarios{% endblock %}
{% block body_header_title %}Usuarios {% endblock %}

{% block body_header_right %}
    {#{{ parent() }}
    <a href="{{ path('admin_usuario_crear') }}" class="btn btn-primary">
        Crear usuario
    </a>#}
    <ul class="u-list-inline">
        <li class="list-inline-item g-mr-7">
            {{ parent() }}
        </li>
        <li class="list-inline-item g-color-primary">
            <a href="{{ path('admin_usuario_crear') }}" class="btn btn-md u-btn-outline-primary rounded-0 form-control form-control-md g-mb-5">
                Crear usuario
            </a>
        </li>
    </ul>
{% endblock %}


