.page-header.no-header{
    padding: 1px 0;
}
.page-header.no-header h1 {
    display: block;
    font-size: 1px;
}
/** Index ---------------------------------------------------------------------------------------------------------- **/
/** --- Slider --- **/
.slider-container {
    background: #171717;
    height: 500px;
    overflow: hidden;
    width: 100%;
    direction: ltr;
}
.slider-container .main-label{
    font-size: 40px;
    line-height: 45px;
}
.slider-container .tp-caption.top-label, .slider-container .tp-caption.bottom-label{
    font-weight: bold;
}
.slider-container .btn-main-servicios, .slider-container .btn-main-empleados{
    cursor:pointer;
}

.btn-empr-bg{
    background: rgba(255, 255, 255, 0.72);
}
.btn-empl-bg{
    background: rgba(255, 255, 255, 0.72);
}
.slider-container .main-label{
    color: #333;
}
.slider-container .tp-caption.top-label, .slider-container .tp-caption.bottom-label{
    color: #333;
}

/** --- cualidades --- **/
section.cualidades.section.section-height-5 {
    padding-bottom: 0;
}

/* Nosotros --------------------------------------------------------------------------------------------------------- */
.logos{
    text-align:center !important;
}
.logos a.servilabor{
    background: url(../../img/pta/colombia.gif) no-repeat 80px 30px;
    padding-bottom: 30px;
}
.logos a.nortempo{
    background: url(../../img/pta/flags.gif) no-repeat 80px -516px;
    padding-bottom: 25px;
}
.logos .img-1{
    margin-right: 80px;
}

/* Servicios -------------------------------------------------------------------------------------------------------- */
.pricing-table .plan .plan-header{
    padding: 0.15rem 1rem;
}
.pricing-table .plan .plan-footer {
    padding: 0.1rem;
}

/* Ofertas de empleo ------------------------------------------------------------------------------------------------ */
html .featured-boxes-full .featured-box-full{
    font-size: 10px;
}
html .featured-boxes-full .featured-box-full p{
    font-size: 14px;
}
.featured-boxes-full .featured-box-full{
    padding: 20px 55px;
}
.detalle-left h4{
    font-weight: 300;
}

/* Contacto --------------------------------------------------------------------------------------------------------- */

section.ciudades-nav {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    z-index: 3;
}
.ciudades-nav ul{
    padding-inline-start: 0;
    position: relative;
}
.ciudades-nav .sort-source.sort-source-style-2 > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.ciudades-nav .sort-source.sort-source-style-2 > li.active > a {
    background-color: #3f317d;
}
.ciudades-nav .sort-source.sort-source-style-2 > li.active > a:after{
    margin-top: 30px;
}
#googlemaps{
    z-index:2;
}

/* Registro --------------------------------------------------------------------------------------------------------- */
.process-connecting-line .process-step{
    align-items: center;
}
.process .process-step-circle{
    border-color: #CCC;
}
.process-connecting-line .connecting-line{
    background: #CCC;
}


.process .process-step.disabled {
    pointer-events: none;
}

.process .process-step.current a:hover .process-step-circle-content {
    text-decoration: none;
}

.process .process-step.current .process-step-circle {
    background-color: #3f317d;
    border-color: #3f317d;
}
.process .process-step.current .process-step-circle-content {
    color: white;
}
.process .process-step.valid .process-step-circle {
    background-color: #2baab1;
    border-color: #2baab1;
}
.process .process-step.valid .process-step-circle-content {
    color: white;
}

.process .process-step.disabled {
    pointer-events: none;
}


.registro .pull-left {
    float: left !important;
}

.registro .pull-right {
    float: right !important;
}

/** --- Modal --- **/
.modal-block {
    background: transparent;
    padding: 0;
    text-align: left;
    max-width: 600px;
    margin: 40px auto;
    position: relative;
}

.modal-block.modal-block-xs {
    max-width: 200px;
}

.modal-block.modal-block-sm {
    max-width: 400px;
}

.modal-block.modal-block-md {
    max-width: 600px;
}

.modal-block.modal-block-lg {
    max-width: 900px;
}

.modal-block.modal-block-full {
    max-width: 98%;
}

/* Tables - Actions */
.table .actions,
.table .actions-hover {
    vertical-align: middle;
}

.table .actions a,
.table .actions-hover a {
    display: inline-block;
    margin-right: 5px;
    color: #666;
}

.table .actions a:last-child,
.table .actions-hover a:last-child {
    margin-right: 0;
}

.table .actions a:hover,
.table .actions-hover a:hover {
    color: #333;
}

.table .actions-hover a {
    opacity: 0;
}

.table tr:hover .actions-hover a {
    opacity: 1;
}

.table .actions-fade a {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}