@font-face {
    font-family: "pp-sans-big-light";
    font-display:swap;src: local('pp-sans-big-light'),url("https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.woff2") format("woff2"),url("https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.woff") format("woff"),url("https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.eot") format("embedded-opentype"),url("https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansBig-Light.svg") format("svg")
}

@font-face {
    font-family: "pp-sans-small-regular";
    font-display:swap;src: local('pp-sans-small-regular'),url("https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.woff2") format("woff2"),url("https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.woff") format("woff"),url("https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.eot") format("embedded-opentype"),url("https://www.paypalobjects.com/digitalassets/c/paypal-ui/fonts/PayPalSansSmall-Regular.svg") format("svg")
}

html {
    font-size: 87.5%;
}

body{
    font-family: "pp-sans-small-regular",Helvetica Neue,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
h2, .x-large {
    font-size: 40px;
    font-size: 2.857rem;
    line-height: 1.25em;
    letter-spacing: .02em;
}
h1, h2, h3, h4, h5, h6, .headline {
    font-family: "pp-sans-big-light",Helvetica Neue,Arial,sans-serif;
    font-weight: normal;
    font-variant: normal;
    line-height: 1.25;
}
.row-fluid {
    background: #fff;
    z-index: 2;
    transform: translate(0, 0);
}
.center-text {
    text-align: center;
}
.btn {
    border-radius: 25px;
    font-size: 15px;
    font-size: 1.07142857rem;
    line-height: 1.5;
    padding-bottom: 15px;
    padding-top: 13px;
    padding-left: 30px;
    padding-right: 30px;
    background: #0070ba;
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
}
.btn.btn-white {
    padding-top: 12px;
    padding-bottom: 14px;
}
html[data-device-type="dedicated"] .btn.btn-white, html[data-device-type="portable"] .btn.btn-white, html[data-device-type="mobile"] .btn.btn-white {
    border: 1px solid #0070ba;
    color: #0070ba;
    background-color: #fff;
}
a.btn {
    text-decoration: none;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 5px rgba(255,255,255,0)
    }

    to {
        box-shadow: 0 0 0 5px rgba(255,255,255,0.5)
    }
}
.twin-hero {
    height: 580px;
    background-color: black;
    padding-top: 0 !important;
    width: 100%;
    overflow: hidden;
    position: relative;
}
html:not([data-device-type="mobile"]) .twin-hero .hero-shadow {
    position: absolute;
    z-index: 40;
    width: 100%;
    height: 72px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.07));
}
.twin-hero .hero-container {
    width: 100%;
    height: 100%;
}
.twin-hero .hero-container .side-container {
    padding-top: 72px;
    width: 80%;
    max-width: 1300px;
    height: 80%;
    position: relative;
}
.twin-hero .hero-container .initial {
    position: absolute;
    width: 400px;
    padding-top: 130px;
    height: auto;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: 0;
}
.twin-hero .hero-container .initial.active {
    opacity: 1;
}
.twin-hero .hero-container .active {
    border-bottom: none;
}
.twin-hero .hero-container .collapsed {
    position: absolute;
    width: 300px;
    padding-top: 160px;
    height: auto;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: 0;
}
.twin-hero .hero-container .collapsed.active {
    opacity: 1;
}

.twin-hero .hero-container h2, .twin-hero .hero-container p {
    color: #fff;
}
.twin-hero .hero-container p {
    font-size: 20px;
    font-size: 1.42857143rem;
}
.twin-hero .hero-container .round-filled-icon {
    display: inline-block;
    background: #fff;
    font-size: 40px;
    color: #009cde;
    border-radius: 30px;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    width: 50px;
    height: 50px;
    line-height: 42px;
    padding: 0;
    margin-top: 10px;
    cursor: default;
    animation-duration: 1.6s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.twin-hero .hero-container .expanded {
    position: absolute;
    width: 85%;
    top: 20%;
    height: auto;
    overflow: auto;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: 0;
}

.twin-hero .hero-container .expanded.active {
    opacity: 1;
}
.twin-hero .hero-container .side-container .hero-twin-items {
    margin: 30px 0 30px 8%;
    overflow: auto;
}
.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .hero-twin-item-icon {
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 93px;
    height: 82px;
}
.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-psnl-1-opt, .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-psnl-2-opt, .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-psnl-3-opt, .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-biz-1-opt, .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-biz-2-opt, .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-biz-3-opt {
    background-image: url(https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/hero-bifurcated-icons-refresh.png);
}
.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-psnl-1-opt {
    background-position: -93px -85px;
}
.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-psnl-2-opt {
    background-position: -90px -165px;
}
.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-psnl-3-opt {
    background-position: 3px -161px;
}
.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-biz-1-opt {
    background-position: 0 0;
}
.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-biz-2-opt {
    background-position: -93px 0;
}
.twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item .icon-biz-3-opt {
    background-position: 0 -79px;
}
.twin-hero .hero-container .side-container .btn.btn-twin-hero {
    width: 35%;
}
.twin-hero .hero-container .side-container .btn.btn-white {
    border: none;
}
.twin-hero .hero-container p.legal-notes {
    font-size: 13px;
}
.twin-hero .hero-container .round-icon {
    display: inline-block;
    font-size: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 42px;
    padding: 0;
    margin-top: 10px;
    cursor: default;
    animation-duration: 1.6s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.twin-hero .hero-container .round-filled-icon {
    display: inline-block;
    background: #fff;
    font-size: 40px;
    color: #009cde;
    border-radius: 30px;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    width: 50px;
    height: 50px;
    line-height: 42px;
    padding: 0;
    margin-top: 10px;
    cursor: default;
    animation-duration: 1.6s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero {
    position: absolute;
    z-index: 20;
    overflow: hidden;
    position: relative;
    -webkit-transition: transform .8s;
    transition: transform .8s;
    width: 85%;
    height: 100%;
    top: 0;
    transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    left: -35%;
    box-shadow: 1px 0 10px rgba(0,0,0,0.7);
}
html:not([data-device-type="mobile"]) .twin-hero .left-hero:after {
    position: absolute;
    content: "";
    border: 1px solid rgba(0,0,0,0.4);
    top: 0;
    right: -1px;
    height: 100%;
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero.left-hero-expanded {
    transform: skewX(-10deg) translateX(25%);
    -moz-transform: skewX(-10deg) translateX(25%);
    -webkit-transform: skewX(-10deg) translateX(25%);
}
html:not([data-device-type="mobile"]) .twin-hero .left-hero.left-hero-collapsed {
    transform: skewX(-10deg) translateX(-25%);
    -moz-transform: skewX(-10deg) translateX(-25%);
    -webkit-transform: skewX(-10deg) translateX(-25%);
}
html:not([data-device-type="mobile"]) .twin-hero .left-hero.left-hero-collapsed .left-hero-tilt-collapsed {
    transform: skewX(10deg) translateX(17%);
    -moz-transform: skewX(10deg) translateX(17%);
    -webkit-transform: skewX(10deg) translateX(17%);
}
html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt {
    width: 100%;
    height: 100%;
    margin-left: 15%;
    /* background: url(https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/consumer-desktop-hero.jpg) no-repeat center center; */
    background: url(../slide-cliente2.jpg) no-repeat center center;
    background-size: cover;
    transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    -webkit-transition: transform .8s;
    transition: transform .8s;
}
html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt:before {
    content: "";
    -webkit-transition: opacity .8s;
    transition: opacity .8s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,48,135,0.7), rgba(0,156,222,0.7));
    opacity: 0;
}

html:not([data-device-type="mobile"]) .twin-hero .left-hero.left-hero-expanded .left-hero-tilt-expanded {
    transform: skewX(10deg) translateX(-9%);
    -moz-transform: skewX(10deg) translateX(-9%);
    -webkit-transform: skewX(10deg) translateX(-9%);
}
html:not([data-device-type="mobile"]) .twin-hero .left-hero.left-hero-expanded .left-hero-tilt-expanded:before {
    opacity: 1;
}
html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt .side-container {
    float: right;
}
html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt .side-container .initial {
    right: 30%;
}
html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt .side-container .collapsed {
    right: 42%;
}
html:not([data-device-type="mobile"]) .twin-hero .left-hero .left-hero-tilt .side-container .expanded {
    right: 12%;
}

html:not([data-device-type="mobile"]) .twin-hero .right-hero {
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -25%;
    z-index: 10;
    -webkit-transition: transform .8s;
    transition: transform .8s;
    transform: translateX(-8%);
    -moz-transform: translateX(-8%);
    -webkit-transform: translateX(-8%);
}
html:not([data-device-type="mobile"]) .twin-hero .right-hero.right-hero-expanded {
    transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
}
html:not([data-device-type="mobile"]) .twin-hero .right-hero.right-hero-expanded .right-hero-tilt-expanded:before {
    opacity: 1;
}
html:not([data-device-type="mobile"]) .twin-hero .right-hero .right-hero-tilt:before {
    content: "";
    -webkit-transition: opacity .8s;
    transition: opacity .8s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,156,222,0.7), rgba(0,48,135,0.7));
    opacity: 0;
}

html:not([data-device-type="mobile"]) .twin-hero .right-hero.right-hero-collapsed {
    transform: translateX(25%);
    -moz-transform: translateX(25%);
    -webkit-transform: translateX(25%);
}
html:not([data-device-type="mobile"]) .twin-hero .right-hero.right-hero-collapsed .right-hero-tilt-collapsed {
    transform: translateX(-27%);
    -moz-transform: translateX(-27%);
    -webkit-transform: translateX(-27%);
}
html:not([data-device-type="mobile"]) .twin-hero .right-hero.right-hero-expanded .right-hero-tilt-expanded {
    transform: translateX(6%);
    -moz-transform: translateX(6%);
    -webkit-transform: translateX(6%);
}
html:not([data-device-type="mobile"]) .twin-hero .right-hero .right-hero-tilt {
    width: 100%;
    height: 100%;
    /*background: url(https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/merchant-desktop-hero.jpg) no-repeat center center;*/
    background: url(../slide-empleado2.jpg) no-repeat center center;
    background-size: cover;
    -webkit-transition: transform .8s;
    transition: transform .8s;
}

html:not([data-device-type="mobile"]) .twin-hero .right-hero .right-hero-tilt .side-container .initial {
    left: 35%;
}
html:not([data-device-type="mobile"]) .twin-hero .right-hero .right-hero-tilt .side-container .collapsed {
    left: 48%;
}
html:not([data-device-type="mobile"]) .twin-hero .right-hero .right-hero-tilt .side-container .expanded {
    left: 11%;
}

html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item {
    float: left;
    width: 28%;
    margin-left: 2%;
    margin-right: 2%;
}
html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item div {
    text-align: center;
    transform: scale(.8);
    -moz-transform: scale(.8);
    -webkit-transform: scale(.8);
}
html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item p {
    font-size: 15px;
    font-size: 1.07142857rem;
}
html:not([data-device-type="mobile"]) .twin-hero .hero-container .side-container .hero-twin-items .hero-twin-item a {
    color: #fff;
    text-decoration: underline;
}



@media only screen and (min-device-width: 1060px) {
    html[data-device-type="dedicated"] .twin-hero .hero-container .side-container .hero-twin-items {
        margin: 30px 0 15px 8%;
    }
}
@media (min-width: 1152px) {
    body #main {
        padding-top: 0;
        -webkit-transition: padding-top .3s ease-out;
        -moz-transition: padding-top .3s ease-out;
        -ms-transition: padding-top .3s ease-out;
        transition: padding-top .3s ease-out;
    }
}