/*--------------------------------------------------
    [2. Header - Navbar]
----------------------------------------------------*/
/*.header .navbar-nav > li > a {
    padding: 9px 25px 9px 10px;
}*/
.header{
    z-index: 21;
}
.header .navbar-nav > li.actual > a{
    border-bottom-color: #4765a0;
}

.header .topbar {
    padding: 0;
}
.header .topbar ul.loginbar {
    padding: 1px 10px;
    background-color: #261f62;
}
.header .topbar ul.loginbar > li > a, .header .topbar ul.loginbar > li > a:hover{
    color: #cccccc;
}
.btn-outline-primary.disabled {
    color: #24135f;
    background-color: white;
    cursor: not-allowed;
}
.hamburger {
    padding-top: 5px;
}
/*----------------------------------------------------------------------------------------------------------------------
                                                       Inicio
----------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------
    Revolution Slider
----------------------------------------------------*/
#rev-slider-home .tp-caption.revolution-ch3.red-soluciones{
    background: rgba(0,0,0,0.4) ;
    width: 100%;
    padding-top:10px;
}
#rev-slider-home .btn-u.btn-brd.btn-u-light{
    background: #fff;
    color: #555!important;
}
#rev-slider-home ul li,
.fullscreenbanner-container ul li {
    list-style: none;
    visibility: hidden;
}

.tp-bullets.preview4 .bullet {
    border-radius: 10px !important;
}

#rev-slider-home a.btn-u,
#rev-slider-home a.btn-u:hover {
    color: #fff;
    border: solid 1px transparent;
}

#rev-slider-home a.re-btn-brd {
    background: none;
    border: solid 1px #fff;
}

#rev-slider-home a.re-btn-brd:hover {
    color: #555;
    background: #fff;
}

/*Fullwidth*/
#rev-slider-home .btn-u.btn-brd {
    font-weight: 400;
}

#rev-slider-home {
    position: relative;
}

/*Fullscreen*/
.fullscreen-container {
    width:100%;
    position:relative;
    padding:0;
}

/*Slider Contents v1*/
.revolution-mch-1:after {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    position: absolute;
    background: rgba(0,0,0,0.3);
}

.revolution-ch3 {
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

.red-soluciones-layer, .red-soluciones-layer *  {
    width: 100% !important;
    left: 0 !important;
    text-align: center !important;
}

.rev-btn{
    z-index: 21;
    white-space: nowrap;
    font-size: 12px;
    line-height: 60px;
    font-weight: 700;
    background-color: white;
    border-radius:30px 30px 30px 30px;
    outline:none;
    box-shadow:none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    cursor:pointer;
    text-decoration: none;
}

/*--------------------------------------------------
    Camacoes y Grupo Hispano Colombiano
----------------------------------------------------*/
.camacoes {
    .resalte, a.resalte:hover {
        color: #AB0303;
        font-weight: bold;
    }
    p {
        margin-bottom: 60px;
    }
}

.grupo-hispanocolombiano{
    .font-rubik {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 3px;
        color: #1a1a1a;
        text-decoration: none;
        font-family: Rubik, sans-serif;
    }
    img {
        width: 200px;
    }
}


/*----------------------------------------------------------------------------------------------------------------------
                                                       Servicios
----------------------------------------------------------------------------------------------------------------------*/

.content-boxes-v6.outsourcing{
    padding-right:80px;
}
.content-boxes-v6.rpo{
    padding-left:80px;
}

.content-boxes-v6 a.rounded-x {
    width: 230px;
    height: 230px;
    padding-top: 107px;
    position: relative;
    text-align: center;
    display: inline-block;
    border-radius: 50% !important;
    background: rgba(255,255,255,0.2);
    font-size: 30px;
    text-transform: uppercase;
    display: block;
    font-weight: 300;
    color: #fff;
}

.content-boxes-v6 a.rounded-x:after {
    top: -9px;
    left: -9px;
    right: -9px;
    bottom: -9px;
    content: " ";
    border-radius: 50%;
    position: absolute;
    border: 1px solid #fff;
}

.content-boxes-v6 a.rounded-x:hover,
.content-boxes-v6 a.rounded-x:hover:after {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.content-boxes-v6 a.rounded-x:hover {
    background: rgba(40, 33, 98, 0.7);
    color: #FFF;
}

.content-boxes-v6 a.rounded-x:hover:after {
    border-color: rgba(40, 33, 98,0.7);
    color: #FFF;
}

.process-v1 .process-in > li i {
    border:none;
    padding-top:4px;
    color: #FFF;
}
#outsourcing {
    .content-lg {
        padding-bottom: 0;
        padding-top: 50px;
    }

    .content-sm {
        padding-top: 30px;
    }

    .content-sm.agregados {
        padding-bottom: 0;
    }

    .title-v1 {
        margin-bottom: 35px;
    }
}

#beneficios-externalizacion {
     background: black;
}


#RPO .title-v1 {
    margin-bottom: 20px;
}

#RPO .content-lg {
    padding-bottom: 0px;
    padding-top: 50px;
}
#RPO .content-sm {
    padding-top: 30px;
}

#payroll .content-sm.beneficios .col-md-4{
    padding-top:10%;
}

#payroll .content-lg{
    padding-top:0;
    padding-bottom:0;
}
#payroll .content-lg .title-v1{
    margin-bottom:0;
}
#payroll .content-sm.beneficios{
    padding-bottom:0;
}
#payroll .content-sm.software{
    padding-top:20px;
}

/*----------------------------------------------------------------------------------------------------------------------
                                                       Contacto
----------------------------------------------------------------------------------------------------------------------*/
#googlemaps {
    height: 300px;
}

/*----------------------------------------------------------------------------------------------------------------------
                                                       Admin
----------------------------------------------------------------------------------------------------------------------*/
body.admin {
    .bg-primary {
        background-color: #3f317d !important;
    }

    .bg-tertiary {
        background-color: #2baab1 !important;
    }


    /* NAV ---------------------------------------------------------------------------------------------------------------*/
    .u-header__section {
        padding-bottom: 0 !important;
    }

    .navbar.admin {
        margin-top: 0.71429rem;
        background: #38414a;
        z-index: 9;
    }

    .navbar.admin .hamburger-inner, .navbar.admin .hamburger-inner:before, .navbar.admin .hamburger-inner:after {
        background: white;
    }
}
