.table-row.pp-header .header-nav-features {
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

.table-row.pp-header .header-nav-features:before, .table-row.pp-header .header-nav-features:after {
    background: rgba(0, 0, 0, 0.03);
    content: none;
    width: 1px;
    height: 16px;
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    left: 0;
}

.table-row.pp-header .header-nav-features.header-nav-features-divisor-lg:before, .table-row.pp-header .header-nav-features.header-nav-features-divisor-lg:after {
    height: 72px;
}

.table-row.pp-header .header-nav-features.header-nav-features-light:before, .table-row.pp-header .header-nav-features.header-nav-features-light:after {
    background: rgba(255, 255, 255, 0.1);
}

.table-row.pp-header .header-nav-features:not(.header-nav-features-no-border):before, .table-row.pp-header .header-nav-features:not(.header-nav-features-no-border):after {
    content: '';
}

.table-row.pp-header .header-nav-features:not(.header-nav-features-no-border):after {
    display: none;
}

.table-row.pp-header .header-nav-features.header-nav-features-show-border:before, .table-row.pp-header .header-nav-features.header-nav-features-show-border:after {
    content: '';
}

@media (min-width: 576px) {
    .table-row.pp-header .header-nav-features.header-nav-features-sm-show-border:before, .table-row.pp-header .header-nav-features.header-nav-features-sm-show-border:after {
        content: '';
    }
}

@media (min-width: 768px) {
    .table-row.pp-header .header-nav-features.header-nav-features-md-show-border:before, .table-row.pp-header .header-nav-features.header-nav-features-md-show-border:after {
        content: '';
    }
}

@media (min-width: 992px) {
    .table-row.pp-header .header-nav-features.header-nav-features-lg-show-border:before, .table-row.pp-header .header-nav-features.header-nav-features-lg-show-border:after {
        content: '';
    }
}

@media (min-width: 1200px) {
    .table-row.pp-header .header-nav-features.header-nav-features-xl-show-border:before, .table-row.pp-header .header-nav-features.header-nav-features-xl-show-border:after {
        content: '';
    }
}

.table-row.pp-header .header-nav-features.header-nav-features-start {
    padding-left: 0;
    margin-left: 0;
    padding-right: 20px;
    margin-right: 10px;
}

.table-row.pp-header .header-nav-features.header-nav-features-start:not(.header-nav-features-no-border):before {
    left: auto;
    right: 0;
}

.table-row.pp-header .header-nav-features.header-nav-features-center {
    padding-left: 20px;
    margin-left: 10px;
    padding-right: 20px;
    margin-right: 10px;
}

.table-row.pp-header .header-nav-features.header-nav-features-center:after {
    display: block;
    left: auto;
    right: 0;
}

.table-row.pp-header .header-nav-features .header-nav-top-icon,
.table-row.pp-header .header-nav-features .header-nav-top-icon-img {
    font-size: 12.8px;
    font-size: 0.8rem;
    position: relative;
    top: -1px;
    color: #444;
}

.table-row.pp-header .header-nav-features.header-nav-features-light .header-nav-top-icon,
.table-row.pp-header .header-nav-features.header-nav-features-light .header-nav-top-icon-img {
    color: #FFF;
}

.table-row.pp-header .header-nav-features .header-nav-top-icon-img {
    top: -2px;
}

.table-row.pp-header .header-nav-features .header-nav-feature {
    position: relative;
}

.table-row.pp-header .header-nav-features .header-nav-features-dropdown {
    opacity: 0;
    top: -10000px;
    position: absolute;
    -webkit-box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);
    background: #FFF;
    padding: 17px;
    min-width: 300px;
    z-index: 10000;
    right: 100%;
    margin-right: -25px;
    margin-top: 30px;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    pointer-events: none;
}

.table-row.pp-header .header-nav-features .header-nav-features-dropdown:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    -webkit-transform: translate3d(-7px, -6px, 0);
    transform: translate3d(-7px, -6px, 0);
}

.table-row.pp-header .header-nav-features .header-nav-features-dropdown.show {
    opacity: 1;
    top: auto;
    pointer-events: all;
}

@media (min-width: 992px) {
    .table-row.pp-header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-reverse {
        right: auto;
        margin-right: 0;
        left: 100%;
        margin-left: -25px;
    }

    .table-row.pp-header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-reverse:before {
        right: auto;
        left: 5px;
        -webkit-transform: translate3d(7px, -6px, 0);
        transform: translate3d(7px, -6px, 0);
    }
}

@media (max-width: 440px) {
    .table-row.pp-header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-mobile-fixed {
        position: fixed;
        right: auto;
        left: 50%;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    .table-row.pp-header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-mobile-fixed:before {
        content: none;
    }
}

.table-row.pp-header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-force-right {
    margin-right: 6px !important;
    right: 0;
}

.table-row.pp-header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-dark {
    background: #212529;
}

.table-row.pp-header .header-nav-features .header-nav-features-dropdown.header-nav-features-dropdown-dark:before {
    border-bottom-color: #212529;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart {
    z-index: 2;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .header-nav-features-dropdown {
    padding: 20px;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .cart-info {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: -4px;
    left: 0;
    padding: 0;
    display: block;
    line-height: 1;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .cart-info .cart-qty {
    position: absolute;
    top: -12px;
    right: -10px;
    width: 15px;
    height: 15px;
    display: block;
    font-size: 9px;
    font-weight: 600;
    color: #fff;
    background-color: #ed5348;
    text-align: center;
    line-height: 15px;
    border-radius: 20px;
    -webkit-box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .mini-products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .mini-products-list li {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #EEE;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .mini-products-list li:first-child {
    margin-top: -15px;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .mini-products-list li .product-image {
    float: right;
    border-color: #ededed;
    border-width: 1px;
    padding: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    display: block;
    position: relative;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .mini-products-list li .product-image img {
    max-width: 80px;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .mini-products-list li .product-details {
    margin-left: 0;
    line-height: 1.4;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .mini-products-list li .product-details a {
    letter-spacing: 0.005em;
    font-weight: 600;
    color: #696969;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .mini-products-list li .product-details .product-name {
    margin: 15px 0 0;
    font-size: 0.9em;
    font-weight: 400;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .mini-products-list li .product-details .qty-price {
    font-size: 0.8em;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .mini-products-list li .product-details .btn-remove {
    z-index: 3;
    top: 5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    color: #474747;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    line-height: 20px;
    font-size: 10px;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .totals {
    padding: 15px 0 25px;
    overflow: hidden;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .totals .label {
    float: left;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #474747;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .totals .price-total {
    float: right;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #474747;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .actions {
    padding: 0;
    margin: 0;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .actions .btn {
    display: inline-block;
    min-width: 125px;
    text-align: center;
    margin: 5px 0;
    float: right;
    font-size: 11.2px;
    font-size: 0.7rem;
    padding: 11.2px 16px;
    padding: 0.7rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart .actions .btn:first-child {
    float: left;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart.header-nav-features-cart-big .cart-info {
    margin-top: -9px;
    left: -4px;
}

.table-row.pp-header .header-nav-features .header-nav-features-cart.header-nav-features-cart-big .header-nav-features-dropdown {
    margin-right: -31px;
    top: 10px;
}

.table-row.pp-header .header-nav-features .header-nav-features-user .header-nav-features-toggle {
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2.7;
    text-transform: uppercase;
    padding: 17px 0;
}

.table-row.pp-header .header-nav-features .header-nav-features-user .header-nav-features-toggle .far {
    font-size: 0.95rem;
    margin: 0px 2px 0 0;
    position: relative;
    top: 1px;
}

.table-row.pp-header .header-nav-features .header-nav-features-user .header-nav-features-toggle:hover {
    text-decoration: none;
}

.table-row.pp-header .header-nav-features .header-nav-features-user .header-nav-features-dropdown {
    margin-right: -27px;
    min-width: 420px;
    padding: 35px;
}

@media (max-width: 767px) {
    .table-row.pp-header .header-nav-features .header-nav-features-user .header-nav-features-dropdown {
        min-width: 320px;
    }
}

.table-row.pp-header .header-nav-features .header-nav-features-user .actions {
    padding: 0;
    margin: 0;
}

.table-row.pp-header .header-nav-features .header-nav-features-user .actions .btn {
    display: inline-block;
    min-width: 125px;
    margin: 5px 0;
    font-size: 11.2px;
    font-size: 0.7rem;
    padding: 11.2px 16px;
    padding: 0.7rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.table-row.pp-header .header-nav-features .header-nav-features-user .extra-actions {
    clear: both;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
}

.table-row.pp-header .header-nav-features .header-nav-features-user .extra-actions p {
    font-size: 12px;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}

.table-row.pp-header .header-nav-features .header-nav-features-user.signin .signin-form {
    display: block;
}

.table-row.pp-header .header-nav-features .header-nav-features-user.signin .signup-form, .table-row.pp-header .header-nav-features .header-nav-features-user.signin .recover-form {
    display: none;
}

.table-row.pp-header .header-nav-features .header-nav-features-user.signup .signin-form {
    display: none;
}

.table-row.pp-header .header-nav-features .header-nav-features-user.signup .signup-form {
    display: block;
}

.table-row.pp-header .header-nav-features .header-nav-features-user.signup .recover-form {
    display: none;
}

.table-row.pp-header .header-nav-features .header-nav-features-user.recover .signin-form, .table-row.pp-header .header-nav-features .header-nav-features-user.recover .signup-form {
    display: none;
}

.table-row.pp-header .header-nav-features .header-nav-features-user.header-nav-features-user-logged .header-nav-features-dropdown {
    min-width: 320px;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 42px;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal .simple-search {
    display: none;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal .header-nav-features-search-hide-icon {
    display: none;
    text-decoration: none;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal .header-nav-features-search-show-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-decoration: none;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal.show .header-nav-features-search-hide-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal.show .header-nav-features-search-show-icon {
    display: none;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal.show .simple-search {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal-big-search {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal-big-search .big-search-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal-big-search .form-control {
    border: 0;
    background: transparent;
    font-size: 22px !important;
    line-height: 1;
    border-bottom: 2px solid #CCC;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    z-index: 1;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal-big-search .header-nav-features-search-hide-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 2;
    display: block;
    margin-right: 10px;
    margin-top: -10px;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal-big-search .header-nav-features-search-hide-icon i {
    font-size: 20px;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal-big-search.header-nav-features-search-reveal-big-search-full {
    position: fixed;
    z-index: 100000;
    background: transparent;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal-big-search.header-nav-features-search-reveal-big-search-full:before {
    content: "";
    display: block;
    background: rgba(23, 23, 23, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal-big-search.header-nav-features-search-reveal-big-search-full .form-control {
    color: #FFF;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal-big-search.header-nav-features-search-reveal-big-search-full .header-nav-features-search-hide-icon {
    position: fixed;
    top: 25px;
    right: 20px;
    margin-top: 0;
}

.table-row.pp-header .header-nav-features .header-nav-features-search-reveal-big-search.header-nav-features-search-reveal-big-search-full .header-nav-features-search-hide-icon i {
    color: #FFF;
}
