{% extends 'evaluacion/base.html.twig' %}

{% block body %}


<div class="content-diapositiva">
    <h1 class="mb30">ACCIDENTE DE TRABAJO</h1>

    <p>
        Es accidente de trabajo todo suceso repentino que sobrevenga por causa o con ocasión del trabajo, y que produzca
        en el trabajador una lesión orgánica, una perturbación funcional o psiquiátrica, una invalidez o la muerte.

    </p>
    <p>
        Es también accidente de trabajo aquel que se produce durante la ejecución de órdenes del empleador, o
        contratante, durante la ejecución de una labor bajo su autoridad, aun fuera del lugar y horas de trabajo.

    </p>
    <div class="row">
        <div class="col-sm-6 text-center">
            <img src="{{ asset('img/sel/evaluacion/induccion/accidente-trabajo.png') }}" alt="accidente-trabajo"
                 class="accidente-trabajo">
        </div>
        <div class="col-sm-6">
            <p>
                Igualmente se considera accidente de trabajo el que se produzca durante el traslado de los trabajadores
                o contratistas desde su residencia a los lugares de trabajo o viceversa, cuando el transporte lo
                suministre el empleador.

            </p>
            <p>
                También se considera como accidente de trabajo el ocurrido durante el ejercicio de la función sindical
                aunque el trabajador se encuentre en permiso sindical siempre que el accidente se produzca en
                cumplimiento de dicha función.

            </p>
            <p>
                De igual forma se considera accidente de trabajo el que se produzca por la ejecución de actividades
                recreativas, deportivas o culturales, cuando se actúe por cuenta o en representación del empleador o de
                la empresa usuaria, cuando se trate de trabajadores de empresas de servicios temporales que se
                encuentren en misión.

            </p>
        </div>
    </div>

</div>
{% endblock %}