{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<h1>Beneficios Página web/Consultas Trabajador en misión</h1>

<div class="diapositiva-14 content-diapositiva">
    <div class="row">
        <div class="col-md-12">
            <p>
                A través de nuestra <a href="https://www.servilabor.com.co" target="_blank" >página web</a>
                 puede acceder a sus soportes de pago, certificados, autoliquidación y actualización de datos.
            </p>
            <p>
                Es muy fácil:
            </p>
            <ol>
                <li>
                    Ingrese a la <a href="https://www.servilabor.com.co" target="_blank" >página</a> y de click en iniciar sesión:
                    <br><br>
                </li>
            </ol>
        </div>

        <div class="col-md-12 text-center">
            <img src="{{ asset('build/images/sel/evaluacion/induccion/pagina-web-servilabor-1.png') }}" alt="pagina-web"
                 class="full-page">
        </div>
    </div>
</div>
{% endblock %}