{% extends 'evaluacion/base.html.twig' %}

{% block body %}


<div class="diapositiva-2 content-diapositiva">
    <p>
        Agradecemos su tiempo e interés en la participación del proceso de selección y contratación en nuestra compañía.
        Para nosotros es gratificante contar con el apoyo de nuestros colaboradores, es por eso que con el fin de establecer
        desde el inicio un vínculo laboral sólido, damos a conocer este Manual de Bienvenida e Inducción.
    </p>
    <p class="bienvenido-grupo">
        Bienvenido al grupo empresarial
    </p>

    <div class="row">
        <div class="col-sm-6 text-center">
            <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/logo-pta.png') }}" alt="logo-pta" class="logo-pta">
        </div>
        <div class="col-sm-6 text-center">
            <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/logo-servilabor.png') }}" alt="logo-servilabor" class="logo-servilabor">
        </div>
    </div>
</div>
{% endblock %}