{% extends 'evaluacion/base.html.twig' %}

{% block body %}



<div class="diapositiva-17 content-diapositiva">
    <div class="row">
        <div class="col-md-12 text-center mb40">
            <h1>Comité de convivencia laboral</h1>
        </div>
        <div class="col-md-12">
            <p class="mb20">
                Como mecanismos de prevención y solución de las posibles conductas de acoso laboral que se puedan presentar
                al interior de la empresa, SERVILABOR SAS, tiene constituido y en funcionamiento el Comité de Convivencia Laboral,
                promoviendo de esta manera  el trabajo en condiciones dignas y justas, la armonía y el buen ambiente laboral
                para todos los trabajadores.
            </p>
            <p>
                Para la recepción de situaciones y presuntas quejas de acoso laboral, envíe la información al correo
                <a href="mailto:comitedeconvivencia@servilabor.com.co" target="_blank">comitedeconvivencia@servilabor.com.co</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}