{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15">
    <h1>¿Cómo prevenir los peligros públicos?</h1>
    <ul>
        <li>
            Esté alerta a lo que sucede a su alrededor y observe comportamientos sospechosos o inusuales.
        </li>
        <li>
            Evite utilizar el celular y otros dispositivos electrónicos en la calle.
        </li>
        <li>
            Siempre infórmele a su familia donde a va estar y el tiempo posible que tardará
        </li>
        <li>
            Evite el uso de elementos que llamen la atención (relojes, joyas, bolsos, maletas, celular, etc.)
        </li>
        <li>
            Evite dar información personal por teléfono, instruya a su familia para que tampoco lo haga.
        </li>
        <li>
            No porte dinero a la vista, en bolsillos del pantalón o camisa, no lo saque delante de otras personas ni
            mencione que lo lleva.
        </li>
        <li>
            Evite las rutinas (mismas vías, mismos bancos, mismas horas), no sea predecible.
        </li>
        <li>
            Preferiblemente vaya acompañado por personas de su confianza cuando vaya a realizar transacciones bancarias
            y hágalo en sitios concurridos.
        </li>
        <li>
            Evite desplazarse en la noche o día por sitios solitarios, conocidos como peligrosos o con poca iluminación.
        </li>
        <li>
            No deje a la vista dinero, celulares, equipos, llaves y nos los descuide.
        </li>
        <li>
            No guarde todo el dinero en un solo lugar.
        </li>
        <li>
            En caso de atraco no se resista, no mire a los ojos al atacante, hágale saber que él tiene el control, diga
            lo que va a hacer, entregue todo y actúe con calma.
        </li>
    </ul>
</div>
{% endblock %}