{% extends 'evaluacion/base.html.twig' %}

{% block body %}


    <div class="content-diapositiva">
        <h1 class="mb30">¿CÓMO AVISAR A ARL SURA SOSPECHA DE COVID 19?</h1>
        <p>
            La empresa o el trabajador debe dar aviso en la línea de atención Casos COVID-19 para recibir
            teleorientación por parte de nuestra IPS Atención Virtual. Los casos probables y sospechosos ingresarán a
            seguimiento epidemiológico y en los casos confirmados, ARL SURA inicia con la calificación de origen en
            primera oportunidad; para ello la empresa deberá adjuntar el FUREL y las evidencias del nexo epidemiológico
            laboral, con el resultado de la prueba del Trabajador.
        </p>
        <div class="text-center">
            <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/coronavirus-sura-5.jpg') }}"
                 alt="enfermedad-laboral"
                 class="mecanicos3">
        </div>
    </div>
{% endblock %}