{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <h2>¿Cómo prevenir los peligros químicos?</h2>
    <ul>
        <li>
            No huela directamente ninguna sustancia.
        </li>
        <li>
            No manipule sustancias sin la debida protección personal, asegure siempre adecuada ventilación.
        </li>
        <li>
            No trasvase productos o sustancias.
        </li>
        <li>
            Los productos de aseo (clorox, desengrasantes, jabones, ambientadores, etc) también pueden ser perjudiciales
            para la salud, lea las etiquetas y siga las recomendaciones del fabricante.
        </li>
        <li>
            Asegúrese de mantener bien tapadas las sustancias de uso frecuente, en un ambiente fresco, seco y alejadas
            de la luz o calor del sol o de otras fuentes.
        </li>
        <li>
            En caso de presentar algún síntoma o reacción, infórmelo y acuda inmediatamente al médico e indíquele los
            productos con los cuales ha tenido contacto o tuvo exposición.
        </li>
    </ul>
</div>
{% endblock %}