{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <p><b>CONDUCTAS QUE CONSTITUYEN ACOSO LABORAL</b></p>
    <p>
        Se presumirá que hay acoso laboral si se acredita la ocurrencia repetida y pública de cualquiera de las
        siguientes conductas:
    </p>
    <ul>
        <li>
            Los actos de agresión física, independientemente de sus consecuencias.
        </li>
        <li>
            Las expresiones injuriosas o ultrajantes sobre la persona, con utilización de palabras soeces o con alusión
            a la raza, el género, el origen familiar o nacional, la preferencia política o el estatus social.
        </li>
        <li>
            Los comentarios hostiles y humillantes de descalificación profesional expresados en presencia de los
            compañeros de trabajo.
        </li>
        <li>
            Las injustificadas amenazas de despido expresadas en presencia de los compañeros de trabajo.
        </li>
        <li>
            Las múltiples denuncias disciplinarias de cualquiera de los sujetos activos del acoso, cuya temeridad quede
            demostrada por el resultado de los respectivos procesos disciplinarios.
        </li>
    </ul>
</div>
{% endblock %}