{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <p><b>CONDUCTAS QUE NO CONSTITUYEN ACOSO LABORAL</b></p>
    <ul>
        <li>
            La solicitud de cumplir los deberes de la persona y el ciudadano, de que trata el artículo 
            <span class="texto-azul underline">95</span> de la
            Constitución.
        </li>
        <li>
            La exigencia de cumplir las obligaciones o deberes de que tratan los artículos 
            <span class="texto-azul underline">55</span> á <span class="texto-azul underline">57</span> del C.S.T, así como
            de no incurrir en las prohibiciones de que tratan los artículo <span class="texto-azul underline">59</span>
            y <span class="texto-azul underline">60</span> del mismo Código.
        </li>
        <li>
            Las exigencias de cumplir con las estipulaciones contenidas en los reglamentos y cláusulas de los contratos
            de trabajo.
        </li>
        <li>
            Nota: Las exigencias técnicas, los requerimientos de eficiencia y las peticiones de colaboración a que se
            refiere este ítem deberán ser justificados, fundados en criterios objetivos y no discriminatorios.
        </li>
    </ul>
</div>
{% endblock %}