{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15">
    <h1>CONDUCCIÓN DE VEHÍCULOS</h1>
    <ul>
        <li>
            Al acercarse a un semáforo en verde reduzca un poco la velocidad por si debe detenerse por cambio de
            semáforo.
        </li>
        <li>
            Cuando el semáforo cambie de rojo a verde, no sea el primero en arrancar, verifique primero que los demás
            vehículos se hayan detenido y que no haya peatones en la vía. No presione o afane a los peatones, ellos
            tienen la prelación en la vía.
        </li>
        <li>
            Cuando en la vía vea que hay una fila de carros detenida, reduzca la velocidad, es posible que salgan
            peatones en medio de vehículos tratando de cruzar la calle.
        </li>
        <li>
            Respete las normas de tránsito según su rol en la vía, recuerde que si baja del vehículo se convierte en
            peatón y si lo hace sin precaución, puede generar un accidente a otros o a usted mismo.
        </li>
        <li>
            No consuma sustancias o medicamentos que puedan alterar su concentración, atención o reflejos, y si debe
            hacerlo por orden médica, infórmelo a su superior.
        </li>
        <li>
            No conduzca con sueño o fatiga.
        </li>
        <li>
            Cumpla con los límites de velocidad y atienda las señales preventivas.
        </li>
        <li>
            Cada 2 o 3 horas continuas de conducción, deténgase en un sitio seguro, vaya al baño, estire su cuerpo y
            coma algo suave.
        </li>
    </ul>
</div>
{% endblock %}