{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <p><b>CONDUCTAS ATENUANTES:
        </b><br>Son conductas atenuantes del acoso laboral:</p>
    <ul>
        <li>
            Haber observado buena conducta anterior.
        </li>
        <li>
            Obrar en estado de emoción o pasión excusable, o temor intenso, o en estado de ira e intenso dolor. Nota: El
            estado de emoción o pasión excusable, no se tendrá en cuenta en el caso de violencia contra la libertad
            sexual.
        </li>
        <li>
            Procurar voluntariamente, después de realizada la conducta, disminuir o anular sus consecuencias.
        </li>
        <li>
            Reparar, discrecionalmente, el daño ocasionado, aunque no sea en forma total.
        </li>
        <li>
            Las condiciones de inferioridad síquicas determinadas por la edad o por circunstancias orgánicas que hayan
            influido en la realización de la conducta.
        </li>
        <li>
            Cuando existe manifiesta o velada provocación o desafío por parte del superior, compañero o subalterno.
        </li>
        <li>
            Cualquier circunstancia de análoga significación a las anteriores.
        </li>
    </ul>
</div>
{% endblock %}