{% extends 'evaluacion/base.html.twig' %}

{% block body %}
    <div class="content-diapositiva-mt15">
        <h1 class="text-center">MOVILIDAD SEGURIDAD ROL CONDUCTOR</h1>
        <p>
            Estas son algunas <strong>claves importantes para que conduzcas y transites tranquilo.</strong> ¡Ponlas en
            práctica y
            recuerda que más prevención es igual a más seguridad!
        </p>
        <ul>
            <li>
                Es fundamental que conozcas el <span class="texto-azul underline">
                    Código Nacional de Tránsito</span> y todas las señales. Este es el principio de
                la conducción segura.

            </li>
            <li>
                La distancia entre vehículos depende de la velocidad a la que vayan. De 0 a 30 kilómetros: mínimo 10
                metros de separación. De 30 a 50 km: entre 10 y 20 m.
            </li>
            <li>
                La velocidad máxima para cruces, intersecciones y zonas escolares es 30 km. <span class="texto-azul underline">
                    Controla la velocidad del
                vehículo</span>, sea carro o moto.
            </li>
            <li>
                Mantén encendidas las luces: no son para que tú veas sino para que los otros te vean.
            </li>
            <li>
                No consumas alimentos y no hables por celular, ni siquiera con manos libres, mientras conduces. ¡Tu atención no estará al 100 %!
            </li>
            <li>
                Si has conducido durante 8 o 10 horas, detente y descansa. Después de ese tiempo te enfrentas a un gran riesgo.
            </li>
            <li>
                No tomes café o energizantes si vas a conducir. Estos prolongan el cansancio.
            </li>
            <li>
                Para identificar puntos ciegos: inclínate hacia adelante para ver mucho más en el espejo retrovisor.
            </li>
            <li>
                El conductor preventivo es prudente y evita el exceso de confianza en sí mismo, en otros conductores y en el vehículo.
            </li>
        </ul>
    </div>
{% endblock %}