{% extends 'evaluacion/base.html.twig' %}

{% block body %}
    <div class="content-diapositiva-mt15">
        <h1 class="text-center">EN CASO DE ACCIDENTE DE TRANSITO</h1>
        <h3>
            En caso de accidente de tránsito, tome fotos de los vehículos involucrados, de la vía y del entorno, Si
            usted está lesionado, el SOAT le cubre gastos médicos y otros. Si el accidente es de trabajo, éste debe ser
            reportado a la ARL inmediatamente, el SOAT cubre inicialmente y cuando se supere tarifa SOAT lo entra a
            cubrir la ARL. Lo mismo pasa si es un accidente no laboral. Lo cubre su EPS cuando se supere tarifa SOAT.
        </h3>
    </div>
{% endblock %}