{% extends 'evaluacion/base.html.twig' %}

{% block body %}
    <div class="content-diapositiva-mt15">
        <h1 class="text-center">MOVILIDAD SEGURA ROL PEATON</h1>

        <ul>
            <li>
                <b>Camine siempre por las veredas</b>, puesto que son los lugares destinados para el tránsito peatonal y
                para su seguridad.
            </li>
            <li>
                <strong>Pare, mire, escuche y cruce</strong>. Cuando necesite atravesar la calle, utilice sólo en los
                cruces y pasos para
                cebra. Hágalo después de haber comprobado que no venga ningún vehículo cerca.
            </li>
            <li>
                <strong>En las esquinas</strong>, asegúrese de que ningún vehículo le sorprenda por detrás suyo.

            </li>
            <li>
                <strong>Jamás cruce en diagonal</strong>, puesto que tendrá que estar más tiempo en la calzada y será más vulnerable a un
                atropello.
            </li>
            <li>
                <strong>Utilice los pasos elevados</strong>, aunque le cueste un poco más de tiempo, es un paso seguro hacia el otro lado de la calzada.
            </li>
            <li>
                <strong>Espere el verde en el semáforo para peatones</strong>, y observe a sus lados por cualquier conductor despistado. Nunca se confíe.
            </li>
            <li>
                <strong>Evite usar el celular mientras cruza</strong>, ya que reduce el enfoque de visión mientras mensajea o realiza cualquier actividad en este aparato.
            </li>
            <li>
                <strong>No se arriesgue cruzando apresuradamente</strong> o corriendo entre el tráfico, una moto o un vehículo pueden no verlo y causar un accidente.
            </li>
            <li>
                <strong>Nunca cruce o zigzaguee</strong> entre vehículos estacionados o detenidos.
            </li>
        </ul>
    </div>
{% endblock %}