{% extends 'evaluacion/base.html.twig' %}

{% block body %}



<div class="diapositiva-18 content-diapositiva">
    <div class="row">
        <div class="col-md-12 text-center mb40">
            <h1>COMITÉ PARITARIO DE SEGURIDAD Y SALUD EN EL TRABAJO
            </h1>
        </div>
        <div class="col-md-12">
            <p class="mb20">
                En SERVILABOR SAS se encuentra conformado y en funcionamiento el COPASST, el cual tiene por misión la promoción
                y vigilancia de las normas y reglamentos de seguridad y salud en el trabajo, realiza auditorías periódicas
                verificando el cumplimiento y la mejora continua en todos los procesos del SG-SST.
            </p>
            <p>
                Para consultas, reporte de actos, condiciones inseguras y temas relacionados exclusivamente con
                Seguridad y Salud en el trabajo que requieran ser tratados por el COPASST, por favor, envíe un correo
                con sus datos y nombre de la empresa usuaria a
                <a href="mailto:copasst@servilabor.com.co" target="_blank">copasst@servilabor.com.co</a>
            </p>
            <p>
                Sus aportes son muy valiosos para nosotros.
            </p>
        </div>
    </div>
</div>
{% endblock %}