{% extends 'evaluacion/base.html.twig' %}

{% block body %}

    <div class="diapositiva-35 content-diapositiva">
        <div class="row">
            <div class="col-md-6 ">
                <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/coronavirus-sura-3.jpg') }}" alt="coronavirus sura 1">
            </div>
            <div class="col-md-6">
                <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/coronavirus-sura-4.jpg') }}" alt="coronavirus sura 2">
            </div>
        </div>
    </div>
{% endblock %}