{% extends 'evaluacion/base.html.twig' %}

{% block body %}

    <div class="diapositiva-35 content-diapositiva">
        <div class="row">
            <div class="col-xs-12">
                <h2>CORONAVIRUS (COVID-19) PANDEMIA MUNDIAL</h2>
            </div>
            <div class="col-md-6 ">
                <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/coronavirus-sura-1.jpg') }}" alt="coronavirus sura 1">
            </div>
            <div class="col-md-6">
                <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/coronavirus-sura-2.jpg') }}" alt="coronavirus sura 2">
            </div>
        </div>
    </div>
{% endblock %}