{% extends 'evaluacion/base-titulo.html.twig' %}

{% block body %}

<div class="content-diapositiva-titulo-back">

    <div class="content-diapositiva-titulo diapositiva-22">

        <div class="caja-centro-titulo">
            <b>SEGURIDAD Y SALUD EN EL TRABAJO - SERVILABOR</b>
        </div>
        <div class="caja-centro-titulo">
            Celular Corporativo 315 3113855<br>
            Dirección: Cra 14 n 76-39 Ofc. 102<br>
            salud.ocupacional@servilabor.com.co<br>
        </div>
    </div>
</div>
{% endblock %}