{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<h1>Nuestras Empresas</h1>


    <div class="u-timeline-v3-wrap">
        <a class="u-timeline-v3 d-block text-center text-md-left g-parent u-link-v5 g-mb-100" href="#">
            <div class="g-hidden-sm-down u-timeline-v3__icon g-absolute-centered--y g-z-index-3 g-width-16 g-height-16 g-ml-minus-8">
                <i class="d-inline-block g-width-16 g-height-16 g-bg-white g-brd-5 g-brd-style-solid g-brd-gray-light-v4 g-rounded-50"></i>
            </div>

            <div class="row mx-0">
                <div class="col-md-3 g-order-2 g-order-1--sm d-flex align-self-center px-0">
                    <div class="u-heading-v1-4 g-brd-gray-light-v4 w-100">
                        <span class="text-center g-pos-rel d-block g-width-115 g-font-weight-600 g-color-white g-font-size-14 g-bg-gray-dark-v1 g-bg-primary--parent-hover g-py-5 g-px-10 mx-auto g-ml-0--md g-transition-0_2 g-transition--ease-in">
                            1985 y 1992
                        </span>
                    </div>
                </div>

                <div class="col-md-9 g-order-1 g-order-2--sm px-0 g-mb-15 g-mb-0--md">

                    <div class="media d-block d-md-flex">
                        <div class="d-md-flex g-width-120 g-width-170--md d-flex align-self-center g-overlay-black-0_7 g-overlay-none--parent-hover g-rounded-50x g-mr-30--md mx-auto g-mb-15 g-mb-0--md g-transition-0_2 g-transition--ease-in">
                            <span class="u-icon-v4 g-mr-15 g-mb-15">
                                  <span class="u-icon-v4-inner">
                                    <i class="fas fa-building"></i>
                                  </span>
                            </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="text-uppercase g-font-weight-600 g-font-size-22 g-color-gray-dark-v1 g-mb-10">Origen</h3>
                            <p class="g-color-gray-dark-v5 mb-0">
                                Desde 1985 y 1992 PTA S.A.S y SERVILABOR S.A.S empresas del servicios del Grupo PTA, nacen brindando
                                soluciones de calidad a nuestros clientes en Colombia. En España Grupo Nortempo desde 1991 se posiciona
                                como una de las organizaciones líderes en la gestión de los RRHH de las compañias.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a class="u-timeline-v3 d-block text-center text-md-left g-parent u-link-v5 g-mb-100" href="#">
            <div class="g-hidden-sm-down u-timeline-v3__icon g-absolute-centered--y g-z-index-3 g-width-16 g-height-16 g-ml-minus-8">
                <i class="d-inline-block g-width-16 g-height-16 g-bg-white g-brd-5 g-brd-style-solid g-brd-gray-light-v4 g-rounded-50"></i>
            </div>

            <div class="row mx-0">
                <div class="col-md-3 g-order-2 g-order-1--sm d-flex align-self-center px-0">
                    <div class="u-heading-v1-4 g-brd-gray-light-v4 w-100">
                        <span class="text-center g-pos-rel d-block g-width-115 g-font-weight-600 g-color-white g-font-size-14 g-bg-gray-dark-v1 g-bg-primary--parent-hover g-py-5 g-px-10 mx-auto g-ml-0--md g-transition-0_2 g-transition--ease-in">
                            Hoy
                        </span>
                    </div>
                </div>

                <div class="col-md-9 g-order-1 g-order-2--sm px-0 g-mb-15 g-mb-0--md">

                    <div class="media d-block d-md-flex">
                        <div class="d-md-flex g-width-120 g-width-170--md d-flex align-self-center g-overlay-black-0_7 g-overlay-none--parent-hover g-rounded-50x g-mr-30--md mx-auto g-mb-15 g-mb-0--md g-transition-0_2 g-transition--ease-in">
                            <span class="u-icon-v4 g-mr-15 g-mb-15">
                                  <span class="u-icon-v4-inner">
                                    <i class="fas fa-calendar-day"></i>
                                  </span>
                            </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="text-uppercase g-font-weight-600 g-font-size-22 g-color-gray-dark-v1 g-mb-10">Ahora</h3>
                            <p class="g-color-gray-dark-v5 mb-0">
                                Contamos con 8 oficinas en Colombia y más de 40 en España y Portugal
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a class="u-timeline-v3 d-block text-center text-md-left g-parent u-link-v5 g-mb-100" href="#">
            <div class="g-hidden-sm-down u-timeline-v3__icon g-absolute-centered--y g-z-index-3 g-width-16 g-height-16 g-ml-minus-8">
                <i class="d-inline-block g-width-16 g-height-16 g-bg-white g-brd-5 g-brd-style-solid g-brd-gray-light-v4 g-rounded-50"></i>
            </div>

            <div class="row mx-0">
                <div class="col-md-3 g-order-2 g-order-1--sm d-flex align-self-center px-0">
                    <div class="u-heading-v1-4 g-brd-gray-light-v4 w-100">
                        <span class="text-center g-pos-rel d-block g-width-115 g-font-weight-600 g-color-white g-font-size-14 g-bg-gray-dark-v1 g-bg-primary--parent-hover g-py-5 g-px-10 mx-auto g-ml-0--md g-transition-0_2 g-transition--ease-in">
                            Mañana
                        </span>
                    </div>
                </div>

                <div class="col-md-9 g-order-1 g-order-2--sm px-0 g-mb-15 g-mb-0--md">

                    <div class="media d-block d-md-flex">
                        <div class="d-md-flex g-width-120 g-width-170--md d-flex align-self-center g-overlay-black-0_7 g-overlay-none--parent-hover g-rounded-50x g-mr-30--md mx-auto g-mb-15 g-mb-0--md g-transition-0_2 g-transition--ease-in">
                            <span class="u-icon-v4 g-mr-15 g-mb-15">
                                  <span class="u-icon-v4-inner">
                                    <i class="fas fa-forward"></i>
                                  </span>
                            </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="text-uppercase g-font-weight-600 g-font-size-22 g-color-gray-dark-v1 g-mb-10">Mañana</h3>
                            <p class="g-color-gray-dark-v5 mb-0">
                                Nuestra visión es continuar haciendo un buen trabajo evolucionando con nuestros clientes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endblock %}