{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <h2>Mecanismos para la Prevención de Conductas de Acoso.</h2>
    <ul>
        <li>
            Información a los trabajadores sobre la Ley 1010 de 2006, que incluya campañas de
            divulgación preventiva, conversatorios y capacitaciones sobre el contenido de dicha ley,
            particularmente en relación con las conductas que constituyen Acoso Laboral, las que no,
            las circunstancias agravantes, las conductas atenuantes y el tratamiento sancionatorio.
        </li>
        <li>
            Espacios para el diálogo, círculos de participación o grupos de similar naturaleza para la
            evaluación periódica de vida laboral, con el fin de promover coherencia operativa y
            armonía funcional que faciliten y fomenten el buen trato al interior de la empresa.
        </li>
    </ul>
</div>
{% endblock %}