{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <h2>Mecanismos para la Prevención de Conductas de Acoso definidas en el Reglamento Interno de Trabajo</h2>
    <ul>
        <li>Diseño y aplicación de actividades con la participación de los trabajadores, a fin de:
        <ul>
            <li>Establecer, mediante la construcción conjunta, valores y hábitos que promuevan
                vida laboral conveniente;</li>
            <li>Formular las recomendaciones constructivas a que hubiere lugar en relación con
                situaciones empresariales que pudieren afectar el cumplimiento de tales valores y
                hábitos, y</li>
            <li>Examinar conductas específicas que pudieren configurar Acoso Laboral u otros
                hostigamientos en la empresa, que afecten la dignidad de las personas,
                señalando las recomendaciones correspondientes.</li>
        </ul>
        </li>
        <li>
            Las demás actividades que en cualquier tiempo estableciere la empresa para
            desarrollar el propósito previsto en el artículo anterior.
        </li>
        <li>
            Conformación del comité de convivencia laboral, conforme a los linamientos planteados por las
            Resoluciones 652 y 1356/12
        </li>
    </ul>
</div>
{% endblock %}