{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="content-diapositiva text-center">
    <img src="{{ asset('img/sel/evaluacion/induccion/mecanicos3.png') }}"
         alt="mecanicos3"
         class="mecanicos3">
</div>
{% endblock %}