{% extends 'evaluacion/base-titulo.html.twig' %}

{% block body %}

<div class="content-diapositiva-titulo-back">

    <div class="content-diapositiva-titulo">

        <div class="caja-centro-titulo">
            <b>Módulo 2</b>
        </div>
        <div class="caja-centro-titulo">
            INDUCCIÓN DE SEGURIDAD Y SALUD EN EL TRABAJO
        </div>
    </div>
</div>
{% endblock %}