{% extends 'evaluacion/base-titulo.html.twig' %}

{% block body %}

<div class="content-diapositiva-titulo-back">

    <div class="content-diapositiva-titulo diapositiva-22">

        <div class="caja-centro-titulo">
            <b>Módulo 2.3 - Reglamentos de SERVILABOR - Responsabilidades</b>
        </div>
        <div class="caja-centro-titulo list">
            <ol>
                <li>
                    Reglamento Interno de Trabajo - Deberes y Derechos.
                </li>
                <li>
                    Reglamento de Higiene y Seguridad Industrial.
                </li>
                <li>
                    Deberes, derechos y responsabilidades (Trabajadores y Empleador)
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}