{% extends 'evaluacion/base-titulo.html.twig' %}

{% block body %}

<div class="content-diapositiva-titulo-back">

    <div class="content-diapositiva-titulo diapositiva-22">

        <div class="caja-centro-titulo">
            <b>Módulo 2.2. Políticas de SERVILABOR y Objetivos del SG-SST</b>
        </div>
        <div class="caja-centro-titulo list">
            <ol>
                <li>
                    Seguridad y Salud en el Trabajo.
                </li>
                <li>
                    Seguridad Vial
                </li>
                <li>
                    Prevención del Consumo de Sustancias Psicoactivas.
                </li>
                <li>
                    Objetivos del SG-SST
                </li>
            </ol>
        </div>
    </div>
</div>

{% endblock %}