{% extends 'evaluacion/base-titulo.html.twig' %}

{% block body %}

<div class="content-diapositiva-titulo-back">

    <div class="content-diapositiva-titulo diapositiva-22">

        <div class="caja-centro-titulo">
            <b>Módulo 2.5</b><br><br>
            Riesgos Laborales
        </div>
        <div class="caja-centro-titulo list">
            <ol>
                <li>
                    Enfermedad Laboral
                </li>
                <li>
                    Incidente de Trabajo
                </li>
                <li>
                    Accidente de Trabajo
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}