{% extends 'evaluacion/base-titulo.html.twig' %}

{% block body %}

<div class="content-diapositiva-titulo-back">

    <div class="content-diapositiva-titulo diapositiva-22">

        <div class="caja-centro-titulo">
            <b>Módulo 2.8</b>
        </div>
        <div class="caja-centro-titulo">
            Seguridad Vial –
            Tips de Seguridad
        </div>
    </div>
</div>
{% endblock %}