{% extends 'evaluacion/base.html.twig' %}

{% block body %}


    <div class="content-diapositiva-mt15">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/acoso2.jpg') }}">
            </div>
        </div>
    </div>
{% endblock %}