{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <h1>Normatividad</h1>
    <p>
        <b>Ley 1010 de 2006:</b> Tiene por objeto definir, prevenir, corregir y sancionar las diversas formas de
        agresión,
        maltrato, vejámenes, trato desconsiderado y ofensivo y en general todo ultraje a la dignidad humana que se
        ejercen sobre quienes realizan sus actividades en el contexto de una relación laboral privada o pública.
    </p>
    <p>
        <b>Resolución 652 de 2012:</b> Por la cual se establece la conformación y funcionamiento del Comité de
        Convivencia Laboral en empresas Públicas y Privadas.
    </p>
    <p>
        <b>Resolución 1356 de 2012:</b> Modifica parcialmente la resolución 652 de 2012, en lo relacionado con la
        conformación y reuniones.
    </p>
</div>
{% endblock %}