{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <p>
        Conductas que se consideran acoso laboral y que deberán ser gestionadas por el CCL.
    </p>
    <br>
    <p>
        <b>Maltrato laboral.</b> Todo acto de violencia contra la integridad física o moral, la libertad física o sexual y los
        bienes de quien se desempeñe como empleado o trabajador; toda expresión verbal injuriosa o ultrajante que
        lesione la integridad moral o los derechos a la intimidad y al buen nombre de quienes participen en una relación
        de trabajo de tipo laboral o todo comportamiento tendiente a menoscabar la autoestima y la dignidad de quien
        participe en una relación de trabajo de tipo laboral.
    </p>
    <p>
        <b>Persecución laboral:</b> toda conducta cuyas características de reiteración o evidente arbitrariedad permitan
        inferir el propósito de inducir la renuncia del empleado o trabajador, mediante la descalificación, la carga
        excesiva de trabajo y cambios permanentes de horario que puedan producir desmotivación laboral.
    </p>
    <p>
        <b>Discriminación laboral:</b> todo trato diferenciado por razones de raza, género, edad, origen familiar o nacional,
        credo religioso, preferencia política o situación social que carezca de toda razonabilidad desde el punto de
        vista laboral.
    </p>
</div>
{% endblock %}