{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="diapositiva-35 content-diapositiva">
    <div class="row">
        <div class="col-md-6 ">
            <h3 class="text-center">OBJETIVOS</h3>
            <p class="mb30 g-height-90">
                Identificar y realizar la gestión de los peligros, evaluar y valorar los riesgos y establecer los respectivos controles
            </p>
            <p class="mb30 g-height-90">
                Prevenir lesiones incapacitantes de los trabajadores y contratistas
            </p>
            <p class="mb30 g-height-90">
                Desarrollar actividades de prevención de enfermedades laborales y accidentes de trabajo.
            </p>
            <p class="mb30 g-height-90">
                Prevenir y controlar los agentes de riesgos que pueden generar incidentes o accidentes
            </p>
            <p>
                Identificar, registrar, acceder, actualizar, evaluar y comunicar al personal y demás partes interesadas,
                los requisitos legales aplicables en materia de riesgos laborales
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">META GENERAL</h3>
            <p class="mb30 g-height-90">
                Identificar el 100% de los peligros presentes en Servilabor
            </p>
            <p class="mb30 g-height-90">
                Minimizar los accidentes e incidentes laborales que pueden afectar la salud de los trabajadores
            </p>
            <p class="mb30 g-height-90">
                Disminuir el ausentismo por enfermedad común, y continuar realizando prevención de enfermedades laborales.
            </p>
            <p class="mb30 g-height-90">
                Implementar y Mantener los Programas de Gestión enfocados a prevenir Incidentes con Perdidas económicas.
            </p>
            <p>
                Cumplir la normatividad nacional vigente aplicable en materia de riesgos laborales
            </p>
        </div>
    </div>

</div>
{% endblock %}