{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="diapositiva-13 content-diapositiva">
    <div class="row">
        <div class="col-sm-12 item mb30">
            <p>
                Página web SERVILABOR
            </p>
        </div>
        <div class="col-sm-12 item mb30">
            <p>
                Caja de Compensación Familiar (según ubicación): subsidio monetario, subsidio educativo, créditos,
                educación, agencia de empleo, escuelas de formación deportiva, subsidio de vivienda familiar, turismo,
                recreación y deporte, actividades culturales, créditos y seguros, entre otros.
            </p>
        </div>
        <div class="col-sm-12 item mb30">
            <p>
                Capacitación en prevención de peligros, fomento de estilos de vida y trabajo saludables.
            </p>
        </div>
        <div class="col-sm-12 item mb30">
            <p>
                Apoyo en semanas de la salud en empresas Clientes
            </p>
        </div>
        <div class="col-sm-12 item mb30">
            <p>
                Comité de convivencia laboral <a href="mailto:comitedeconvivencia@servilabor.com.co">comitedeconvivencia@servilabor.com.co</a>
            </p>
        </div>
        <div class="col-sm-12 item mb30">
            <p>
                Comité paritario de seguridad y salud en el trabajo
                <a href="mailto:copasst@servilabor.com.co">
                    copasst@servilabor.com.co
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}