{% extends 'evaluacion/base.html.twig' %}

{% block body %}

    <div class="diapositiva-32 content-diapositiva">
        <p>
            SERVILABOR SAS Empresa dedicada a servicios de gestión de talento humano, flexibilidad y productividad en
            áreas que no forman parte del "core business" de nuestros clientes, instaurar actividades de promoción y
            prevención de accidentes en vía pública. Por ello, todos los contratistas, subcontratistas y personal propio
            provistos con vehículos de terceros para el ejercicio de su labor diaria, son responsables de participar en
            las diversas actividades que se programen y desarrollen por parte de la empresa,Con el fin de disminuir la
            probabilidad de ocurrencia de accidentes de tránsito que puedan la integridad física, mental y social del
            personal, contratistas, subcontratistas, comunidad y/o medio ambiente.

        </p>
        <p>
            Para cumplir este propósito, SERVILABOR se enmarca bajo los siguientes parámetros:

        </p>
        <p>
            Cumplir con la reglamentación establecida en el Código Nacional de Tránsito Terrestre, según ley 769 de
            2002, Ley 1503 de 2011, decreto 2851 de 2013 y resolución 1565 de 2014.

        </p>
        <p>
            Establecer estrategias de concientización de su personal y contratistas, a través de capacitaciones de
            orientación a la prevención de accidentes de tránsito, respecto de las señales de tránsito vehicular,
            adoptando conductas pro-activas frente al manejo defensivo
        </p>
        <p>
            Vigilar la responsabilidad de su personal y contratistas frente a la realización de los mantenimientos
            preventivos y correctivos de los vehículos de terceros, provistos para el ejercicio de su labor, con el
            objeto de mantener un desempeño óptimo de estos y establecer medidas de control para evitar la ocurrencia de
            accidentes que puedan generar daños a la persona o a la propiedad.
        </p>
        <p>
            La gerencia destinará los recursos financieros,humano y técnicos necesario para dar cumplimiento a la
            política y mejoramiento continuo.
        </p>
        <p>
            <b>Bogotá D.C., 14 Febrero 2020</b>
        </p>
        <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/firma-sergio.png') }}" alt="firma"/>

        <p>
            <b>SERGIO INVERNON RAMOS<br>
                Representante Legal SERVILABOR
            </b>
        </p>
        <p class="pull-right">
            Original firmada y publicada en Servilabor
        </p>
    </div>
{% endblock %}