{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="diapositiva-29 content-diapositiva">
    <p>
        <strong>SERVILABOR SAS</strong> Se Compromete a proteger la seguridad y salud de todos los trabajadores,
        mediante la identificación de los peligros, evaluación, valoración y control de los riesgos, desarrollo de
        actividades de prevención, autocuidado, independientemente de su contratación y vinculación laboral con el fin
        de evitar la ocurrencia de accidentes o enfermedades laborales.
    </p>
    <p>
        La empresa promueve la participación de todo el personal vinculando a las partes interesadas en las actividades
        de SST, mantiene un ambiente de trabajo sano y seguro, cumpliendo con la normatividad legal vigente aplicable
        a riesgos laborales y destina los recursos necesarios para la implementación y el mejoramiento continuo  del
        sistema de gestión de Seguridad y Salud en el Trabajo.
    </p>
    <p>
        La gerencia general de SERVILABOR SAS,  junto con el COPASST serán los responsables de vigilar el cumplimiento
        de la presente política, de comunicarla y publicarla a todos los trabajadores para obtener su participación y
        colaboración. De igual manera la gerencia general  se compromete en la asignación de recurso humano especializado
        en el área, el funcionamiento del Sistema de Gestión y respaldo económico para su desarrollo.
    </p>
    <p>
        <b>Bogotá D.C.,  03 Mayo 2019</b>
    </p>
    <img src="{{ asset('img/sel/evaluacion/induccion/firma-sergio.png') }}"  alt="firma"/>

    <p>
        <b>SERGIO INVERNON RAMOS<br>
            Representante Legal SERVILABOR
        </b>
    </p>
</div>
{% endblock %}