{% extends 'evaluacion/base.html.twig' %}

{% block body %}


<div class="content-diapositiva">
    <h1>
        ¿Cómo te cubre la ARL SURA?
    </h1>
    <div class="row">
        <div class="col-sm-8">
            <p class="mb20">
                En el momento en que ocurra un accidente de trabajo o una enfermedad realacionan con tu trabajo,ARL SURA te cubre.
            </p>
            <h4>
                Prestaciones Asitenciales:
            </h4>
            <ol type="a">
                <li>
                    Asistencia médica, quirúrgica, terapéutica y farmacéutica.
                </li>
                <li>
                    Suministro de Prótesis, órtesis, Muletas y sillas de Ruedas.
                </li>
                <li>
                    Medicamentos,Rehabilitaciones funcional.
                </li>
            </ol>
            <h4>
                Prestaciones Economicas:
            </h4>
            <ol type="a">
                <li>
                    Incapacidad Temporal
                </li>
                <li>
                    Incapacidad Permanente Parcial
                </li>
                <li>
                    Pensiones de Invalidez y sobrevivientes.
                </li>
                <li>
                    Auxilio Funerario
                </li>
            </ol>
        </div>
        <div class="col-sm-4">
            <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/prestaciones-asistenciales.png') }}"
                 alt="prestaciones-asistenciales"
                 class="prestaciones-asistenciales">
        </div>
    </div>
</div>
{% endblock %}