{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="diapositiva-34 content-diapositiva pt60">
    <p>
        <span class="texto-azul">SERVILABOR S.A.S</span> ha definido y establecido una política de no alcohol, tabaco y drogas, esto con el fin de
        promover, prevenir y fomentar el bienestar de los trabajadores, contratistas, usuarios y familias que visitan
        las instalaciones físicas de la empresa, ya que esto genera impactos negativos sobre la sociedad, el ambiente
        de trabajo y en las personas en su seguridad y condiciones de trabajo, debido a sus factores de riesgo asociado.
    </p>
    <p>
        Por lo tanto con el ánimo en el mejoramiento del desempeño laboral y el fomento de los hábitos y estilos de
        vida saludable, teniendo en cuenta lo establecido en la resolución 1075 de marzo 24 de 1992 y la resolución
        4225 de mayo 29 de 1992, resolucion 2646 de 2008 Se establece los siguientes parametros:
    </p>
    <ul>
        <li>
            Prohíbe presentarse al cumplimiento de sus actividades, funciones y/o tareas bajo el efecto de sustancias
            psicoactivas incluidas bebidas alcohólicas o energizantes u otras que afecten el funcionamiento adecuado
            del desempeño laboral.
        </li>
        <li>
            Prohíbe el consumo de tabaco, sustancias psicoactivas, bebidas alcohólicas o energizantes,
            durante el desarrollo de actividades y/o funciones dentro de las instalaciones físicas de la empresa.
        </li>
        <li>
            Promueve actividades de sensibilización y de capacitación para los trabajadores, contratistas y temporales
            que buscan la creación de hábitos y estilos de vida saludables en relación al daño que causa el cigarrillo,
            bebidas alcohólicas y/o energizantes y sustancias psicoactivas que afectan la salud del individuo y su entorno.
        </li>
    </ul>
    <p>
        Los trabajadores deberán tener una conducta responsable y participativa en las acciones de sensibilización que
        promuevan el cumplimiento de esta política.
    </p>
    <p>
        El incumplimiento de esta política y de las reglas o normas que se deriven de ella, es considerada motiva
        suficiente para aplicar la sanción que SERVILABOR S.A.S emita Conveniente, de acuerdo con las disposiciones
        legales y normatividad laboral vigentes en el territorio Nacional.
    </p>
    <p>
        <b>Bogotá D.C.,  03 Mayo 2019</b>
    </p>
    <img src="{{ asset('img/sel/evaluacion/induccion/firma-sergio.png') }}"  alt="firma"/>

    <p>
        <b>SERGIO INVERNON RAMOS<br>
            Representante Legal SERVILABOR
        </b>
    </p>
</div>
{% endblock %}