{% extends 'evaluacion/base.html.twig' %}

{% block body %}

    <div class="diapositiva-34 content-diapositiva pt60">
        <p>
        <span class="texto-azul">SERVILABOR S.A.S Empresa dedicada a servicios de gestión de talento humano, flexibilidad y productividad en
        áreas que no forman parte del "core business" de nuestros clientes</span>, consciente de la importancia de
            procurar un
            ambiente y estilo de vida saludable y teniendo presente que el hecho de consumo de alcohol, y otras
            sustancias
            psicoactivas, son un problema que afecta la sociedad, la familia y el entorno laboral, en este último caso
            afectando aspectos como la salud, seguridad, eficiencia y productividad de nuestro empleados, se compromete
            a
            desarrollar estrategias de prevención del consumo de alcohol, y otras sustancias psicoactivas, con la
            participación de los diferentes niveles de la organización fundamentados en principios de igualdad,
            confidencialidad y equidad.
        </p>
        <p>
            Para cumplir este propósito, SERVILABOR se enmarca bajo los siguientes parámetros:
        </p>
        <ul>
            <li>
                Cumplir con la reglamentación establecida en la resolución 1075 de marzo 24 de 1992 y la resolución 4225
                de mayo 29 de 1992, resolucion 2646 de 2008.
            </li>
            <li>
                Podrá SERVILABOR y las Empresas Clientes realizar pruebas de detección de alcohol y otras sustancias
                psicoactivas de manera eventual y aleatoria con total autonomía de acuerdo a las disposiciones legales
                vigentes y cuando lo estime necesario
            </li>
            <li>
                Deberán los diferentes líderes servir como canal de observación y escucha de sus colaboradores,
                permitiendo así que se desarrollen de manera efectiva los mecanismos de prevención y control que se
                establezcan.
            </li>
            <li>
                Los trabajadores deberán tener una conducta responsable y participativa en las acciones de
                sensibilización que promuevan el cumplimiento de esta política.

            </li>
            <li>
                En los casos en que se evidencie el abuso y adicción de sustancias psicoactivas y con el consentimiento
                del trabajador, se llevará a cabo la remisión respectiva a su EPS para que allí determinen la atención
                correspondiente.

            </li>
            <li>
                Los Trabajadores deberán cumplir lo establecido dentro del Reglamento Interno de Trabajo, en el Capítulo
                VII. Artículo 5. Pragrafo 1. y en general toda la normatividad vigente en materia de Seguridad y Salud
                en el Trabajo, teniendo claro que el incumplimiento de estas normas se consideran faltas graves, tal
                como lo contempla el reglamento interno de trabajo en el Capítulo XII. Artículo 57 Literal (I). Faltas
                Graves.

            </li>
        </ul>
        <p>
            <b>Bogotá D.C., 14 Febrero 2020</b>
        </p>
        <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/firma-sergio.png') }}" alt="firma"/>

        <p>
            <b>SERGIO INVERNON RAMOS<br>
                Representante Legal SERVILABOR
            </b>
        </p>
        <p>
            Original firmada y publicada en Servilabor
        </p>
    </div>
{% endblock %}