{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <h2>Procedimiento para la Recepción, Manejo y Solución de los casos de Acoso Laboral</h2>
    <ul>
        <li>
            El Comité de Convivencia Laboral realizará las siguientes actividades:
            <ul>
                <li>
                    Elaborar informes trimestrales sobre la gestión del Comité que incluya estadísticas de las quejas,
                    seguimiento de los casos y recomendaciones, los cuales serán presentados a la alta dirección de la
                    entidad pública o empresa privada.
                </li>
                <li>
                    Adelantar reuniones con el fin de crear un espacio de diálogo entre las partes involucradas,
                    promoviendo compromisos mutuos para llegar a una solución efectiva de las controversias.
                </li>
            </ul>
        </li>
        <li>
            Este Comité se reunirá una vez cada tres meses, designará de su seno un coordinador
            ante quien podrán presentarse las solicitudes de evaluación de situaciones eventualmente
            configurantes de Acoso Laboral con destino al análisis que debe hacer el Comité, así como
            las sugerencias que a través del Comité realizaren los miembros de la comunidad
            empresarial para el mejoramiento de la vida laboral.
        </li>
    </ul>
</div>
{% endblock %}