{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <h2>Procedimiento para la Recepción, Manejo y Solución de los casos de Acoso Laboral</h2>
    <p>
        <b>ARTÍCULO 67: PROCEDIMIENTO:</b> Para los efectos relacionados con la búsqueda de solución de las conductas de
        Acoso Laboral, se establece el siguiente procedimiento interno con el cual se pretende desarrollar
        las características de confidencialidad, efectividad y naturaleza conciliatoria señaladas por la ley
        para este procedimiento:
    </p>
    <ul>
        <li>
            La empresa tendrá un Comité de Convivencia Laboral, integrado de forma bipartita, por un representante de
            los trabajadores
            y un representante del empleador o su delegado. Este comite se denominará "Comité de convivencia laboral",
            reglamentado por la resolución 652/12
        </li>
        <li>
            El Comité de Convivencia Laboral realizará las siguientes actividades:
            <ul>
                <li>
                    Recibir y dar tramite a las quejas presentadas en las que se describan situaciones que puedan
                    constituir acoso laboral, así como las pruebas que lo soportan
                </li>
                <li>
                    Examinar de manera confidencial, los casos específicos o puntuales en
                    los que se planteen situaciones que pudieren tipificar conductas o circunstancias de acoso labora
                </li>
                <li>
                    Escuchar de manera individual las partes involucradas sobre los hechos que dieron lugar a la queja.
                </li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}