{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="content-diapositiva">
    <p class="mb60">
        Una vez haya finalizado la incapacidad y luego de las citas de control, debe retornar a su lugar y puesto de
        trabajo.

    </p>
    <p>
        En caso de que el médico laboral (ARL) o médico de la EPS le haya generado recomendaciones o restricciones
        médicas laborales, ya sea por accidente de trabajo, enfermedad laboral o por enfermedad general, estas deben
        ser entregadas inmediatamente a SERVILABOR y a la empresa cliente (por escrito) con el fin de que usted pueda
        retornar al trabajo siguiendo las recomendaciones,
        <strong class="texto-rojo">
            OJO, esto no significa que usted siga incapacitado, por el contrario, ya debe y puede laborar pero con
            recomendaciones.
        </strong>
    </p>
</div>
{% endblock %}