{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="diapositiva-26 content-diapositiva">
    <h1 class="mb30">¿QUÉ CONTIENE O INCLUYE EL SG-SST?</h1>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Procedimientos e instructivos.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Elementos de protección personal.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Convocatoria, conformación y capacitación del COPASST y Comité de convivencia laboral.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Reporte, notificación, investigación y análisis de accidentes e incidentes.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Estadísticas accidentalidad y ausentismo.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Programas de vigilancia epidemiológica.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Inspecciones de seguridad.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Matriz legal.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Preparación y respuesta a emergencias
        </label>
    </div>
</div>
{% endblock %}