{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15 pt60">
    <h1>¿Qué es el Sistema General de Pensiones?</h1>
    <p class="mb30">El Sistema General de Pensiones tiene por objeto garantizar a la población el amparo contra las contingencias
        derivadas de la vejez, invalidez o muerte, mediante el reconocimiento de una pensión y prestaciones determinadas
        en la ley.</p>
    <p class="mb30">El sistema reconoce las siguientes prestaciones:</p>
    <ul>
        <li>Pensión de vejez.</li>
        <li>Pensión por invalidez riesgo común.</li>
        <li>Sustitución pensional.</li>
        <li>Indemnización sustitutiva de pensión / devolución de&nbsp;&nbsp; saldos.</li>
        <li>Auxilio funerario.</li>
    </ul>
    <p class="referencia">
        Tomado de <a
                href="http://www.mintrabajo.gov.co/empleo-y-pensiones/empleo/subdireccion-de-formalizacion-y-proteccion-del-empleo/que-es-el-sistema-general-de-pensiones"
                target="_blank">
            http://www.mintrabajo.gov.co/empleo-y-pensiones/empleo/subdireccion-de-formalizacion-y-proteccion-del-empleo/que-es-el-sistema-general-de-pensiones
        </a>
    </p>
</div>
{% endblock %}