{% extends 'evaluacion/base.html.twig' %}

{% block body %}

    <div class="content-diapositiva">
        <ol>
            <li>
                <strong class="texto-rojo">Reporte el accidente inmediatamente a su jefe inmediato de la empresa
                    Cliente. </strong>
                En caso de no hacerlo de inmediato, debe enviar carta a la empresa Cliente y a SERVILABOR, indicando las
                causas por las cuales no lo hizo.
            </li>
            <li>
                <strong class="texto-rojo">La empresa cliente diligencia el formato de REPORTE INICIAL DE ACCIDENTE
                    (Formato de SERVILABOR) y lo remite a los correos </strong>
                <a href="mailto:salud.ocupacional@servilabor.com.co">salud.ocupacional@servilabor.com.co </a>
            </li>
            <li>
                <strong>La empresa cliente o el Trabajador se puede comunicar con la ARL SURA</strong> a los siguientes
                teléfonos, Donde se
                le sumistrara información necesaria para direccionar al trabajador accidentado a la IPS mas Cercana,de
                acuerdo al lugar de la Ocurrencia del Accidente:
            </li>
        </ol>
        <h3 class="text-center texto-azul">

            PBX en Bogotá (1) 4055911.<br>
            Resto del país al 018000511414<br>
            <img src="{{ asset('build/servilabor/images/sel/evaluacion/induccion/arl-sura-mascota.jpg') }}"
                 alt="firma" style="margin-bottom: 10px"/>
        </h3>
        <ol start="4">
            <li>
                Notifique a la empresa usuaria y a SERVILABOR dentro de las siguientes 24 horas luego de la atención de
                urgencias, la incapacidad que le hayan otorgado como consecuencia del accidente a los correos
                <a href="mailto:salud.ocupacional@servilabor.com.co">
                    salud.ocupacional@servilabor.com.co</a>
                <strong class="texto-rojo">(no debe ausentarse del trabajo sin causa justificada)</strong>
            </li>
            <li>
                En caso de requerir autorizaciones para otros servicios derivados del accidente de trabajo, Comuníquese
                con la Línea de atención de la <strong class="texto-rojo">ARL SURA.</strong>
            </li>
        </ol>
    </div>
{% endblock %}