{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15 pt60">
    <h1>¿Qué es el Sistema General de Salud?</h1>
    <p class="mb30">El Sistema General de Seguridad Social en Salud tiene como objetivo regular el servicio público esencial de salud
        y crear condiciones de acceso en toda la población al servicio en todos los niveles de atención, para garantizar
        el cubrimiento de la atención de los servicios previstos en el plan de beneficios de salud</p>
    <p class="mb30"><strong>Cubrimiento en salud</strong></p>
    <p class="mb30">Para Cotizantes y Beneficiarios</p>
    <p class="mb30"><strong>Prestaciones asistenciales</strong></p>
    <p class="mb30">Para Cotizantes:</p>
    <p class="mb30"><strong>Prestaciones económicas&nbsp;</strong></p>
    <p>Incapacidad por enfermedad de origen común.&nbsp; Incapacidad por licencia de maternidad / paternidad</p>

    <p class="referencia">
        Tomado de <a href="http://www.mintrabajo.gov.co/empleo-y-pensiones/empleo/subdireccion-de-formalizacion-y-proteccion-del-empleo/que-es-el-sistema-general-de-salud" target="_blank">
            http://www.mintrabajo.gov.co/empleo-y-pensiones/empleo/subdireccion-de-formalizacion-y-proteccion-del-empleo/que-es-el-sistema-general-de-salud
        </a>
    </p>
</div>
{% endblock %}