{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="content-diapositiva">
    <ol>
        <li>
            <strong class="texto-rojo">Reporte el accidente inmediatamente a su jefe inmediato de la empresa Cliente. </strong>
            En caso de no hacerlo de inmediato, debe enviar carta a la empresa Cliente y a SERVILABOR, indicando las causas por las cuales no lo hizo.
        </li>
        <li>
            <strong class="texto-rojo">La empresa cliente diligencia el formato de REPORTE INICIAL DE ACCIDENTE (Formato de SERVILABOR) y lo remite a los correos  </strong>
            <a href="mailto:salud.ocupacional@servilabor.com.co">salud.ocupacional@servilabor.com.co </a>
        </li>
        <li>
            <strong>La empresa cliente o el Trabajador se puede comunicar con la ARL AXA COLPATRIA </strong> a los siguientes teléfonos,
            para obtener atención médica del trabajador lesionado:
        </li>
    </ol>
    <h3 class="text-center texto-azul">
        PBX en Bogotá (1) 4235757 opción 1.<br>
        Resto del país al 01 8000 512620<br>
        Celular #247<br>
    </h3>
    <p>
        Entregue la información que se le solicita (nombre, número de identificación, tipo de accidente y estado de
        salud, lugar donde se encuentra ubicado y diríjase a la IPS que le indiquen.
    </p>
</div>
{% endblock %}