{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="content-diapositiva">
    <ol start="4">
        <li>
            Señor trabajador, <strong class="texto-rojo">
                diríjase a la clínica u hospital que le indicaron en la línea de la ARL AXA COLPATRIA</strong>.

        </li>
        <li>
            Notifique a la empresa Cliente y a SERVILABOR dentro de las siguientes 24 horas luego de la atención de urgencias,
            la incapacidad que le hayan otorgado como consecuencia del accidente a los correos
            <a href="mailto:salud.ocupacional@servilabor.com.co">salud.ocupacional@servilabor.com.co </a>
            <strong class="texto-rojo">(no debe ausentarse del trabajo sin causa justificada)</strong>
        </li>
        <li>
            Señor trabajador, entregue o haga llegar la incapacidad original a SERVILABOR o a la empresa usuaria dentro de las mismas 24 horas luego del accidente.
        </li>
        <li>
            En caso de requerir autorizaciones para otros servicios derivados del accidente de trabajo, Comuníquese con la Línea de atención de la
            <strong class="texto-rojo">ARL AXA COLPATRIA.</strong>
        </li>
    </ol>
</div>
{% endblock %}