{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="content-diapositiva-mt15">
    <p>
        <strong class="underline">QUIMICOS: </strong> Sustancias presentes en el medio ambiente, productos, o en los
        residuos y que pueden causar lesiones o enfermedades en las personas. Se pueden encontrar en forma de sólidos,
        líquidos, gases, vapores, aerosoles, material particulado, humos, vapores, entre otros. En nuestra ocupación, el
        contacto se puede dar principalmente de manera accidental por daño o ruptura de los envases que los contienen.
    </p>
    <div class="mt60 text-center">
        <img src="{{ asset('build/images/sel/evaluacion/induccion/peligros-quimicos.png') }}"
             alt="peligros-quimicos" style="width: 800px"
             class="peligros-quimicos">
    </div>
</div>
{% endblock %}