{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="diapositiva-10 content-diapositiva">
    <ul>
        <li>No debe ausentarse del trabajo sin una causa justificada.</li>
        <li>No realice actividades o tareas para los cuales no ha sido entrenado, autorizado o contratado.</li>
        <li>Cumpla las normas de tránsito según su rol: conductor, pasajero, peatón, motociclista o ciclista.</li>
        <li>No utilice audífonos especialmente en la calle y en horas laborales, son un distractor y afectan su salud auditiva.
        </li>
        <li>Acate las normas y reglamentos de seguridad de la empresa usuaria.
        </li>
        <li>
            No opere o manipule máquinas, equipos o herramientas para los cuales no esté autorizado.
        </li>
        <li>
            Utilice completos y de forma correcta los elementos de protección personal suministrados.
        </li>
    </ul>

</div>
{% endblock %}