{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="diapositiva-7 content-diapositiva">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Síguenos en nuestras redes sociales:
            </h2>
        </div>
        <div class="col-sm-12 red-social">
            <a href="https://www.facebook.com/pta.com.co" target="_blank">
                Facebook
            </a>
        </div>
        <div class="col-sm-12 red-social">
            <a href="https://twitter.com/pta_sas" target="_blank">
                Twitter
            </a>
        </div>
        <div class="col-sm-12 red-social">
            <a href="https://www.linkedin.com/company/5024350/admin/" target="_blank">
                Linkedin
            </a>
        </div>
    </div>
</div>
{% endblock %}