{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="diapositiva-41 content-diapositiva">
    <p class="mb40">
        PARAGRAFO: El grave incumplimiento por parte del trabajador de las instrucciones,  reglamentos y determinaciones
        de prevención de riesgos,  adoptados en forma general o específica y que se encuentren dentro del Programa de
        Salud Ocupacional (ahora Sistema de Gestión de la Seguridad y Salud en el Trabajo SG-SST) de la respectiva empresa,
        que le hayan comunicado por escrito,  facultan al empleador para la terminación del vínculo o relación laboral por
        justa causa,  tanto para los trabajadores privados como los servidores públicos,  previa autorización del Ministerio
        de Protección Social,  respetando el derecho de defensa (Artículo 91 Decreto 1295 de 1994).
    </p>

    <p class="mb40">
        Todos los Accidentes de Trabajo deben ser reportados a la ARL dentro de los dos (2) días hábiles siguientes a
        la ocurrencia del evento, pero <strong class="texto-rojo">el trabajador debe</strong>  reportarlo de manera
        <strong class="texto-rojo">inmediata</strong>
        al empleador o su representante.
    </p>
</div>
{% endblock %}