{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="diapositiva-40 content-diapositiva">
    <p class="mb40">
        El trabajador debe reportar si se siente enfermo y acudir al médico inmediatamente, si no lo hace,
        se tomará como inasistencia al trabajo por causa injustificada.
    </p>

    <p class="mb40">
        El trabajador está obligado a reportar inmediatamente el accidente de trabajo a su jefe inmediato.
        El empleador no es responsable de la agravación que se presente en las lesiones y perturbaciones,
        por no haber dado el trabajador este aviso o haberlo demorado sin justa causa (Art.221  C.S.T.).
    </p>
    <p class="mb40">
        Los trabajadores deben someterse a los tratamientos médicos que ordene el empleador. El trabajador que sin
        justa causa se negare a someterse a los exámenes,  instrucciones o  tratamientos antes indicados,  perderá el
        derecho a la prestación en dinero por la incapacidad que sobrevenga a consecuencia de esa negativa.
    </p>
    <p class="mb30">
        El trabajador debe cumplir con todas las normas de Higiene y Seguridad Industrial establecidas en la legislación
        nacional y las que adopte la empresa.
    </p>
</div>
{% endblock %}