{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="content-diapositiva">
    <h1 class="mb40">RESPONSABILIDADES DE LOS TRABAJADORES FRENTE AL SG-SST</h1>
    <ul>
        <li>
            Conocer, entender y aplicar la política de Seguridad y Salud en el Trabajo.
        </li>
        <li>
            Conocer los riesgos de Seguridad y Salud en el Trabajo de sus actividades y aplicar las medidas para controlarlos .
        </li>
        <li>
            Procurar el cuidado integral de su salud.
        </li>
        <li>
            Suministrar información clara, veraz y completa sobre su estado de salud.
        </li>
        <li>
            Cumplir las normas de Seguridad y Salud en el Trabajo y reglamentos propios de SERVILABOR  y Empresa Cliente.
        </li>
        <li>
            Participar en la prevención de riesgos laborales mediante las actividades que se realicen SERVILABOR y Empresa Cliente
        </li>
        <li>
            Informar las condiciones de riesgo detectadas al jefe inmediato o al responsable de Seguridad y Salud en el Trabajo.
        </li>
        <li>
            Reportar inmediatamente todo accidente de trabajo o incidente.
        </li>
        <li>
            Asistir y participar activamente en el programa de inducción y en los cursos de entrenamiento.
        </li>
        <li>
            Mantener limpio y ordenado el lugar de trabajo.
        </li>
        <li>
            Mantener y usar de acuerdo con el estándar los elementos de protección personal requeridos para sus actividades.
        </li>
        <li>
            Cumplir con la programación de los exámenes médicos.
        </li>
        <li>
            Aplicar las indicaciones de las hojas de seguridad de las sustancias peligrosas.
        </li>
        <li>
            Conocer y utilizar adecuadamente los procedimientos para las tareas asignadas.
        </li>
        <li>
            Conocer y aplicar normas básicas de seguridad de las herramientas de uso común.
        </li>
        <li>
            Participar en las actividades de capacitación en Seguridad y Salud en el Trabajo definidas en el plan de capacitación.
        </li>
        <li>
            Participar y contribuir al cumplimiento de los objetivos del Sistema de Gestión de la Seguridad y Salud en el Trabajo.
        </li>
        <li>
            Participar activamente en la elección del comité paritario de seguridad y salud en el trabajo COPASST y en la elección del comité de convivencia.
        </li>
    </ul>
</div>
{% endblock %}