{% extends 'evaluacion/base.html.twig' %}

{% block body %}


<div class="content-diapositiva">
    <h1 class="mb30">SISTEMA DE GESTIÓN DE LA SEGURIDAD Y SALUD EN EL TRABAJO SG-SST</h1>
    <p>
        Este sistema consiste en el desarrollo de un proceso lógico y por etapas, basado en la mejora continua y que
        incluye la política, la organización, la planificación, la aplicación, la evaluación, la auditoría y las
        acciones de mejora con el objetivo de anticipar, reconocer, evaluar y controlar los riesgos que puedan afectar
        la seguridad y salud en el trabajo.
    </p>
</div>
{% endblock %}