{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <p><b>TRATAMIENTO SANCIONATORIO AL ACOSO LABORAL.</b></p>
    <p>
        El acoso laboral, cuando estuviere debidamente acreditado, se sancionará así:
    </p>
    <p>
        Como terminación del contrato de trabajo sin justa causa, cuando haya dado lugar a la renuncia o el abandono del
        trabajo por parte del trabajador regido por el Código Sustantivo del Trabajo. En tal caso procede la
        indemnización en los términos del artículo <span class="texto-azul underline">64</span> del Código Sustantivo del Trabajo.
    </p>
    <p>
        Con sanción de multa entre dos (2) y diez (10) salarios mínimos legales mensuales para la persona que lo realice
        y para el empleador que lo tolere.
    </p>
    <p>
        Con la obligación de pagar a las Empresas Prestadoras de Salud y las Aseguradoras de riesgos profesionales el
        cincuenta por ciento (50%) del costo del tratamiento de enfermedades profesionales, alteraciones de salud y
        demás secuelas originadas en el acoso laboral. Esta obligación corre por cuenta del empleador que haya
        ocasionado el acoso laboral o lo haya tolerado, sin perjuicio a la atención oportuna y debida al trabajador
        afectado antes de que la autoridad competente dictamine si su enfermedad ha sido como consecuencia del acoso
        laboral, y sin perjuicio de las demás acciones consagradas en las normas de seguridad social para las entidades
        administradoras frente a los empleadores.
    </p>
    <p>
        Con la presunción de justa causa de terminación del contrato de trabajo por parte del trabajador, particular y
        exoneración del pago de preaviso en caso de renuncia o retiro del trabajo.
    </p>
    <p>
        Como justa causa de terminación o no renovación del contrato de trabajo, según la gravedad de los hechos, cuando
        el acoso laboral sea ejercido por un compañero de trabajo o un subalterno.
    </p>
</div>
{% endblock %}