<aside class="sidebar mt-2" id="sidebar">
    <ul class="nav nav-list flex-column mb-5" id="accordion">

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-parent="#accordion"
               href="#collapse-hv" aria-expanded="true">
                Mi hoja de vida
            </a>
            {#<ul id="collapse-hv" class="collapse show">
                <li class="nav-item">
                    <a class="nav-link active" href="">
                      Datos básicos
                    </a>
                </li>
            </ul>#}

            {% set menuItem = knp_menu_get('hv') %}
            {{ knp_menu_render(menuItem,{
                'currentClass': 'text-dark active',
                'rootClass': 'collapse show',

            }) }}
        </li>


    </ul>
</aside>