<div class="tab-navigation collapse">
    <nav>
        {{ knp_menu_render(
            'hv', {
                'currentClass': 'nav-active',
                'rootClass': 'nav nav-pills',
            }, 'custom') }}
    </nav>
</div>
