{% extends 'hv/base.hv.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="row">
        <div class="col-lg-12">
            <section class="card">
                <header class="card-header">
                    <h2 class="card-title">Adjunto</h2>
                </header>
                <div class="card-body">
                </div>
            </section>
        </div>
    </div>

{% endblock %}
