{% extends 'hv/base-hv-entity.html.twig' %}

{% block card_title %}
    Familiares
{% endblock %}
{% block card_body_lead %}
    Ingrese en el cuadro familiares, especialmente aquellos que tiene a cargo.
{% endblock %}
{% block card_body_text %}
    <div class="alert alert-info">
        <strong>Atención!</strong>  Si tiene hijos, por favor especifique la información de ellos en el cuadro.
    </div>
    {{ parent() }}
{% endblock %}
{% block modal_body %}
    {{ include('hv/_familiar-form.html.twig') }}
{% endblock %}
