<nav id="main-menu" class="main-menu" role="navigation">
    <ul>

    </ul>
</nav>

<div id="header-buttons" class="header-buttons">
    <a href="{{ path('evaluacion_resultados') }}" id="ul-btn" class="btn btn-small btn-primary">
        Salir
    </a>
</div>