<section class="g-py-100">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
                <!-- Icon Blocks -->
                <div class="text-center u-icon-block--hover">
                      <span class="d-inline-block u-icon-v4 u-icon-v4-rounded-50x u-icon-size--xl u-icon-v4-bg-primary--hover g-color-white--hover g-mb-20">
                        <span class="u-icon-v4-inner">
                          <i class="icon-education-087 u-line-icon-pro"></i>
                        </span>
                      </span>
                    <h3 class="h5 g-color-black mb-3">OUTSOURCING OUTSIDE - IN</h3>
                    <p class="g-color-gray-dark-v4">
                        Nuestra metodología es consultiva: Escuchamos al cliente y analizamos sus necesidades para
                        brindar las mejor solucion en flexibilidad, ahorro de costes, productividad, rapidez,
                        búsqueda de talento y refuerzos puntuales de personal.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
                <!-- Icon Blocks -->
                <div class="text-center u-icon-block--hover">
      <span class="d-inline-block u-icon-v4 u-icon-v4-rounded-50x u-icon-size--xl u-icon-v4-bg-primary--hover g-color-white--hover g-mb-20">
        <span class="u-icon-v4-inner">
          <i class="icon-education-087 u-line-icon-pro"></i>
        </span>
      </span>
                    <h3 class="h5 g-color-black mb-3">COORDINACIÓN DE ESTRATEGIAS</h3>
                    <p class="g-color-gray-dark-v4">
                        Construimos un plan de trabajo que permite a nuestros clientes tener los recursos que necesitan
                        sólo cuando los necesitan.
                    </p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
                <!-- Icon Blocks -->
                <div class="text-center u-icon-block--hover">
      <span class="d-inline-block u-icon-v4 u-icon-v4-rounded-50x u-icon-size--xl u-icon-v4-bg-primary--hover g-color-white--hover g-mb-20">
        <span class="u-icon-v4-inner">
          <i class="icon-education-087 u-line-icon-pro"></i>
        </span>
      </span>
                    <h3 class="h5 g-color-black mb-3">AUMENTO CALIDAD EN SERVICIO</h3>
                    <p class="g-color-gray-dark-v4">Nuestros servicios establecen indicadores de calidad. Definimos
                        procesos de trabajo
                        orientados a la mejora continua con KPIs claros y objetivos para cada proceso.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
    </div>
</section>
