.body {
    background: #ecedf0;
    width: 100%;
}
#header{
    background: #FFFFFF;
}
.page-header {
    background: transparent;
    margin: 0;
}

.alert{
    margin-bottom: 0;
}

table {
    background: #fdfdfd;
}

.table .actions a, .table .actions-hover a {
    display: inline-block;
    margin-right: 5px;
    color: #666;
}

/* FORM --------------------------------------------------------------------------------------------------------------*/
.sel.checkbox-custom{
    height: 100%;
}
.sel.checkbox-custom label {
    height: 100%;
    position: absolute;
    z-index: 1;
}
.sel.checkbox-custom .form-text.text-muted{
    position: absolute;
    bottom: 0;
}