/* HEADER ------------------------------------------------------------------------------------------------------------*/
.header .logo {
    margin: 13px 0 0 15px;
}

.notifications > li .notification-icon.switch-user {
    background: orangered;
}
.notifications > li .notification-icon.switch-user i {
    color: white;
}


/* BODY --------------------------------------------------------------------------------------------------------------*/
.content-body.custom {
    padding: 1rem;
}

.page-header > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-header > ul > li {
    display: inline-block;
    padding: 15px;
    font-size: 13px;
    border-right: 1px solid #121418;
}

.page-header > ul > li > a {
    display: inline-block;
    padding: 0;
    color: #abb4be;
}

.page-header > ul > li > a:hover, .page-header > ul > li > a:focus {
    color: #fff;
    text-decoration: none;
}

.page-header > ul > li.right {
    float: right;
    padding-right: 10px;
}

.page-header > ul > li i.fa, .page-header > ul > li .fab, .page-header > ul > li .fal, .page-header > ul > li .far, .page-header > ul > li .fas {
    font-size: 14px;
}

.page-header > ul > li > .btn {
    margin-top: -9px;
}

.page-header .nav-pills {
    margin-top: -8px;
}

.page-header .nav-pills > li {
    margin-right: 1px;
}

.page-header .nav-pills > li > label {
    margin-bottom: 0;
    margin-right: 12px;
    margin-top: 8px;
}

.page-header .nav-pills a {
    color: #abb4be;
    padding-top: 8px;
    padding-bottom: 8px;
}

.page-header .nav-pills a:hover {
    background: #171717;
    color: #FFF;
}

.page-header .nav-pills .active a {
    color: #FFF;
}

.lead {
    font-size: 1rem;
}


/* DATATABLES --------------------------------------------------------------------------------------------------------*/
.dataTables_processing {
    left: 15px;
    right:15px;
    top: 0;
    bottom: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 10px;
}

/* FORM --------------------------------------------------------------------------------------------------------------*/
.sel.checkbox-custom{
    height: 100%;
}
.sel.checkbox-custom label {
    height: 100%;
    position: absolute;
    z-index: 1;
}
.sel.checkbox-custom .form-text.text-muted{
    position: absolute;
    bottom: 0;
}

/* HOJAS DE VIDA -----------------------------------------------------------------------------------------------------*/
.search-results-list {
    max-width: 100%;
}
.search-results-list .result {
    border-radius: 4px;
    display: block;
    padding: 25px;
    text-decoration: none;
}

/* TABS --------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) {
    .tab-navigation nav > ul > li > a {
        background: #ecedf0 none repeat scroll 0 0;
        border-radius: 4px 4px 0 0 !important;
        color: inherit;
        font-weight: 600;
        min-width: 90px;
        padding: 0.5rem 1rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 11px;

    }
    .tab-navigation nav > ul > li.nav-active > a {
        color: #33353F;
        background: #f6f6f6;
    }
}



@media only screen and (max-width: 767px) {
    .content-body {
        padding: 0 15px 15px;
    }
}

