/* Tables - Actions */
.table .actions,
.table .actions-hover {
  vertical-align: middle;
}

.table .actions a,
.table .actions-hover a {
  display: inline-block;
  margin-right: 5px;
}

.table .actions a:last-child,
.table .actions-hover a:last-child {
  margin-right: 0;
}

.table .actions-hover a {
  opacity: 0;
}

.table tr:hover .actions-hover a {
  opacity: 1;
}

.table .actions-fade a {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}