{% extends 'pta/app/base.html.twig' %}

{% set searching = datatable.options.searching is defined and datatable.options.searching == true %}

{% block body_header_right %}
    {% if searching %}
        <div class="col-md-4 order-1 order-md-2 align-self-center">
            <div class="input-group">
                <input type="text" class="form-control" id="search-dt-text">
                <span class="input-group-append">
                    <button class="btn btn-default" type="button" id="search-dt">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
            <div id="datatable">Loading...</div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% embed 'datatable/javascripts.datatable.html.twig' %}
        {% block script_datatable %}
            <script>
                $(function () {
                    $('#datatable')
                        .initDataTables({{ datatable_settings(datatable) }})
                        .then(dt => {
                            {% if searching %}
                                const search = () => dt.search($('#search-dt-text').val()).draw();
                                $('#search-dt').click(search);
                                $('#search-dt-text').on('keypress', e => e.which === 13 ? search() : null)
                            {% endif %}
                        });
                });
            </script>
        {% endblock %}
    {% endembed %}

{% endblock %}