main, div.body {
    background-image: url("../../img/evaluacion/startup-reunion-main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.cuadrados {
    background-image: url("../../img/evaluacion/pta-elemento-grafico2.1.png");
    background-position: left top;
    background-repeat: repeat-x;
    height: 156px;
    z-index: 1;
    position: relative;
    opacity: 0.5;
}

div.background-titulo{
    background: rgba(36, 19, 95, 0.9);
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
}
.content-diapositiva-titulo-back, .alert, #evaluacion-footer{
    z-index: 2;
}
.content-diapositiva-titulo-back{
    position: relative;
}


.caja-centro-titulo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    color:white;
}

.caja-centro-titulo.list{
    text-align: left;
    padding: 15px 60px 60px 60px;
}

@media (max-width: 768px) {
    .content-diapositiva-titulo {
        padding-top: 100px;
    }
}