/* Testimonials */
.testimonial {
  margin-bottom: 20px;
}

.testimonial blockquote {
  background: #CCC;
  border-radius: 5px;
  border: 0;
  color: #666;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 40px 64px 40px 72px;
  padding: 2.5rem 4rem 2.5rem 4.5rem;
  position: relative;
}

.testimonial blockquote:before {
  left: 22px;
  top: 21px;
  color: #FFF;
  content: "“";
  font-size: 85px;
  font-style: normal;
  line-height: 1;
  position: absolute;
}

.testimonial blockquote p {
  color: #FFF;
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}

.testimonial .testimonial-arrow-down {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 8px solid #CCC;
  height: 0;
  margin: 0 0 0 45px;
  width: 0;
}

.testimonial .testimonial-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0 0 0;
}

.testimonial .testimonial-author .testimonial-author-thumbnail {
  width: auto;
}

.testimonial .testimonial-author img {
  max-width: 25px;
}

.testimonial .testimonial-author strong {
  color: #111;
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
  font-size: 1rem;
}

.testimonial .testimonial-author span {
  color: #666;
  display: block;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 600;
}

.testimonial .testimonial-author p {
  color: #999;
  text-align: left;
  line-height: 1.2;
  margin-left: 9.6px;
  margin-left: 0.6rem;
}

/* Style 2 */
.testimonial.testimonial-style-2 {
  text-align: center;
}

.testimonial.testimonial-style-2 blockquote {
  background: transparent !important;
  border-radius: 4px;
  padding: 22px 20px;
}

.testimonial.testimonial-style-2 blockquote:before, .testimonial.testimonial-style-2 blockquote:after {
  display: none;
}

.testimonial.testimonial-style-2 blockquote p {
  color: #777;
}

.testimonial.testimonial-style-2 .testimonial-arrow-down {
  display: none;
}

.testimonial.testimonial-style-2 .testimonial-author {
  padding: 0;
  margin: 6px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.testimonial.testimonial-style-2 .testimonial-author img {
  margin: 0 auto 15px;
  max-width: 60px;
}

.testimonial.testimonial-style-2 .testimonial-author p {
  text-align: center;
  padding: 0;
  margin: 0;
}

/* Style 3 */
.testimonial.testimonial-style-3 blockquote {
  background: #f2f2f2 !important;
  border-radius: 4px;
  padding: 12px 30px;
}

.testimonial.testimonial-style-3 blockquote:before {
  top: 5px;
  left: 9px;
  color: #777;
  font-size: 35px;
}

.testimonial.testimonial-style-3 blockquote:after {
  color: #777;
  font-size: 35px;
  bottom: -5px;
}

.testimonial.testimonial-style-3 blockquote p {
  color: #777;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
}

.testimonial.testimonial-style-3 .testimonial-author {
  margin-left: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial.testimonial-style-3 .testimonial-author img {
  max-width: 55px;
}

.testimonial.testimonial-style-3 .testimonial-author p {
  margin-bottom: 0;
}

.testimonial.testimonial-style-3 .testimonial-arrow-down {
  margin-left: 20px;
  border-top: 10px solid #f2f2f2 !important;
}

/* Style 4 */
.testimonial.testimonial-style-4 {
  border-radius: 6px;
  padding: 8px;
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
}

.testimonial.testimonial-style-4 blockquote {
  background: transparent !important;
  border-radius: 4px;
  padding: 12px 30px;
}

.testimonial.testimonial-style-4 blockquote:before {
  top: 5px;
  left: 9px;
  color: #777;
  font-size: 35px;
}

.testimonial.testimonial-style-4 blockquote:after {
  color: #777;
  font-size: 35px;
  bottom: -5px;
}

.testimonial.testimonial-style-4 blockquote p {
  color: #777;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
}

.testimonial.testimonial-style-4 .testimonial-arrow-down {
  display: none;
}

.testimonial.testimonial-style-4 .testimonial-author {
  margin-left: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial.testimonial-style-4 .testimonial-author img {
  max-width: 55px;
}

.testimonial.testimonial-style-4 .testimonial-author p {
  margin-bottom: 0;
}

.testimonial.testimonial-style-4.testimonial-no-borders {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Style 5 */
.testimonial.testimonial-style-5 {
  text-align: center;
}

.testimonial.testimonial-style-5 blockquote {
  background: transparent !important;
  border-radius: 4px;
  padding: 6px 20px;
}

.testimonial.testimonial-style-5 blockquote:before, .testimonial.testimonial-style-5 blockquote:after {
  display: none;
}

.testimonial.testimonial-style-5 blockquote p {
  color: #777;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.2em;
  font-style: normal;
}

.testimonial.testimonial-style-5 .testimonial-arrow-down {
  display: none;
}

.testimonial.testimonial-style-5 .testimonial-author {
  display: block;
  padding: 6px 0 0;
  margin: 12px 0 0;
  border-top: 1px solid #f2f2f2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.testimonial.testimonial-style-5 .testimonial-author img {
  margin: 0 auto 10px;
  max-width: 55px;
}

.testimonial.testimonial-style-5 .testimonial-author p {
  text-align: center;
  padding: 0;
  margin: 0;
}

/* Style 6 */
.testimonial.testimonial-style-6 {
  text-align: center;
}

.testimonial.testimonial-style-6 blockquote {
  background: transparent !important;
  border-radius: 4px;
  border: 0;
  padding: 0 10%;
}

.testimonial.testimonial-style-6 blockquote:before, .testimonial.testimonial-style-6 blockquote:after {
  display: none;
}

.testimonial.testimonial-style-6 blockquote i.fa-quote-left {
  font-size: 34px;
  position: relative;
  left: -5px;
}

.testimonial.testimonial-style-6 blockquote p {
  color: #777;
  font-size: 24px;
  line-height: 30px;
}

.testimonial.testimonial-style-6 blockquote span {
  font-size: 16px;
  line-height: 20px;
  color: #999;
  position: relative;
  left: -5px;
}

.testimonial.testimonial-style-6 .testimonial-arrow-down {
  display: none;
}

.testimonial.testimonial-style-6 .testimonial-author {
  padding: 0;
  margin: 6px 0 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.testimonial.testimonial-style-6 .testimonial-author img {
  margin: 0 auto 10px;
}

.testimonial.testimonial-style-6 .testimonial-author p {
  text-align: center;
  padding: 0;
  margin: 0;
}

/* Style 7 */
.testimonial.testimonial-style-7 {
  text-align: center;
  background-color: #CCC;
  padding: 20px;
}

.testimonial.testimonial-style-7 blockquote {
  padding: 30px;
}

.testimonial.testimonial-style-7 blockquote:before {
  color: #FFF;
  display: block !important;
  left: 50%;
  top: -10px;
  font-size: 80px;
  font-style: normal;
  line-height: 1;
  position: absolute;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.testimonial.testimonial-style-7 blockquote:after {
  display: none;
}

.testimonial.testimonial-style-7 .testimonial-arrow-down {
  display: none;
}

.testimonial.testimonial-style-7 .testimonial-author {
  padding: 0;
  margin: 6px 0 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.testimonial.testimonial-style-7 .testimonial-author img {
  margin: 0 auto 10px;
}

.testimonial.testimonial-style-7 .testimonial-author p {
  text-align: center;
  padding: 0;
  margin: 0;
}

/* With Quotes */
.testimonial.testimonial-with-quotes {
  /* Remove Left Quote */
  /* Remove Right Quote */
}

.testimonial.testimonial-with-quotes blockquote:before {
  color: #777;
  display: block !important;
  left: 10px;
  top: 0;
  content: "“";
  font-size: 80px;
  font-style: normal;
  line-height: 1;
  position: absolute;
}

.testimonial.testimonial-with-quotes blockquote:after {
  color: #777;
  display: block !important;
  right: 10px;
  font-size: 80px;
  font-style: normal;
  line-height: 1;
  position: absolute;
  bottom: -0.5em;
  content: "”";
}

.testimonial.testimonial-with-quotes blockquote p {
  padding: 0 40px;
}

.testimonial.testimonial-with-quotes.testimonial-remove-left-quote blockquote:before {
  content: none;
}

.testimonial.testimonial-with-quotes.testimonial-remove-right-quote blockquote:after {
  content: none;
}

.testimonial.testimonial-with-quotes.testimonial-quotes-dark blockquote:before, .testimonial.testimonial-with-quotes.testimonial-quotes-dark blockquote:after {
  color: #212529 !important;
}

/* Transparent Background */
.testimonial.testimonial-trasnparent-background blockquote {
  background: transparent !important;
}

/* Alternarive Font */
.testimonial.testimonial-alternarive-font blockquote p {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 1.2em;
}

/* Light */
.testimonial.testimonial-light blockquote:before, .testimonial.testimonial-light blockquote:after, .testimonial.testimonial-light blockquote p {
  color: #FFF;
}

.testimonial.testimonial-light .testimonial-author span, .testimonial.testimonial-light .testimonial-author strong {
  color: #FFF;
}

.section-text-light .testimonial.testimonial blockquote:before, .section-text-light .testimonial.testimonial blockquote:after, .section-text-light .testimonial.testimonial blockquote p {
  opacity: 0.9;
  color: #FFF;
}

.section-text-light .testimonial.testimonial .testimonial-author span, .section-text-light .testimonial.testimonial .testimonial-author strong {
  opacity: 0.6;
  color: #FFF;
}
