{% extends 'pta/base.html.twig' %}
{% block body_header_class %}page-header page-header-classic page-header-md no-header mb-0{% endblock %}
{% block body_header %}
    {{ parent() }}
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="text-dark">
                        Política de tratamiento de datos personales
                    </h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    PTA S.A.S. (En adelante, simplemente PTA), sociedad identificada con NIT No. 860.527.350-6, con
                    domicilio principal en la ciudad de Bogotá, ubicada en la Calle 72 A No. 20 A - 57, con teléfono 7569840, y
                    correo electrónico <a href="mailto:datospersonales@pta.com.co">datospersonales@pta.com.co</a> , por medio de la presente se permite establecer y
                    hacer públicos los principios y parámetros mediante los cuales adelantará el tratamiento de los datos
                    personales que recolecte en desarrollo de su objeto social, en las calidades tanto de responsable,
                    como de encargado del manejo de la información:
                </p>
                <h2>1. Objetivo</h2>
                <p>
                    Por medio de la presente política de tratamiento de datos, PTA pretende establecer las reglas aplicables al tratamiento de datos personales recolectados, usados y almacenados por esta compañía en desarrollo de su objeto social; en las calidades de responsable y/o encargado del tratamiento de la información según sea el caso.
                </p>
                <p>
                    Todo lo anterior tiene como fundamento la ley estatutaria 1581 de 2012, reglamentada por el Decreto Nacional 1377 de 2013, y el Decreto 1074 de 2015, circulares complementarias y sus fundamentos constitucionales respecto a la protección de la intimidad, protección de los datos de las personas y el derecho al habeas data.
                </p>
                <h2>2. Ámbito de aplicación</h2>
                <p>
                    La presente política se aplicará al tratamiento de datos personales efectuado en territorio colombiano, o cuando le sea aplicable la norma al responsable y/o encargado ubicado fuera del territorio colombiano, en virtud de tratados internacionales, relaciones contractuales, entre otros.
                </p>
                <p>
                    Las disposiciones contenidas en esta política se aplicarán a cualquier base de datos personales que se encuentren en custodia de PTA, bien sea en calidad de responsable y/o encargado del tratamiento
                </p>
                <h2>3. Definiciones</h2>
                <p>De conformidad con la ley 1581 de 2012, para los efectos de la presente política, se entiende por:</p>
                <ol type="a">
                    <li><b>Autorizaciones:</b> Consentimiento previo, expreso e informado del titular para tratar sus datos personales que no tengan la característica de públicos.</li>
                    <li><b>Base de datos personales:</b>  Conjunto organizado de datos que es objeto de tratamiento de la empresa. Puede ser automatizada o física de acuerdo con su forma de almacenamiento.</li>
                    <li><b>Dato Personal:</b> Es cualquier información vinculada o que pueda asociarse a una o varias personas naturales, identificándolas.</li>
                    <li><b>Dato personal sensible:</b> Aquellos que afectan la intimidad del titular o cuyo uso indebido puede generar su discriminación. Razón por la cual gozan de una protección especial, en específico se refieren a la salud, sexo, filiación política, raza u origen étnico, huellas biométricas, pertenencia a sindicatos, entre otros.</li>
                    <li><b>Responsable del tratamiento:</b> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y su tratamiento.</li>
                    <li><b>Encargado del tratamiento:</b> Persona natural o jurídica, pública o privada que por sí misma o en asocio con otra realice el tratamiento de datos personales por cuenta del Responsable del tratamiento.</li>
                    <li><b>Titular del dato personal:</b> Es la persona natural cuyos datos sean objeto de tratamiento.</li>
                    <li><b>Tratamiento de datos:</b> Cualquier operación o conjunto de operaciones que se realizan sobre datos personales tales como recolección, almacenamiento, uso, supresión, etc.</li>
                    <li><b>Área encargada:</b> Persona o grupo de personas que tienen bajo su custodia y responsabilidad al interior de la empresa las bases de datos personales.</li>
                    <li><b>Habeas data:</b> Derecho fundamental de toda persona para conocer, actualizar, rectificar y/o cancelar en cualquier momento la información de su propiedad, que manejen terceros.</li>
                </ol>
                <h2>4. Tratamiento y finalidades</h2>
                <p>El tratamiento que realizará PTA actuando como responsable y/o encargado será el de recolectar, almacenar, procesar, usar, administrar, circular y transmitir los datos personales, atendiendo de forma estricta los lineamientos establecidos por la ley, con las siguientes finalidades según sea el caso:</p>
                <h3>4.1 Datos de Empleados de planta</h3>
                <ol type="a">
                    <li>Crear un archivo para cada empleado con el fin de llevar un registro interno de sus
                        datos personales.</li>
                    <li>Dar cumplimiento con las obligaciones legales contraídas por PTA a favor del empleado en ejecución del contrato laboral.</li>
                    <li>Archivo de datos concernientes a seguridad y salud laboral, comprendiendo pero sin limitarse a conceptos de aptitud, investigaciones por accidentes laborales, evaluaciones por enfermedad general prolongada, entre otros.</li>
                    <li>Adelantar las afiliaciones correspondientes de los empleados en cumplimiento del contrato laboral y los beneficiarios que este designe.</li>
                    <li>Adelantar pago de nómina, pago de prestaciones sociales y aportes de seguridad social.</li>
                    <li>Asignación de usuarios y cuentas de correo corporativas.</li>
                    <li>Generación y envío de correspondencia con el fin de establecer comunicaciones de interés entre el empleado y el empleador.</li>
                    <li>Consulta y custodia del historial laboral, académico, y disciplinario del empleado.</li>
                    <li>Expedición de constancias y referencias laborales.</li>
                    <li>En caso de finalizar el contrato laboral, la información se conservará por un periodo de tiempo en cumplimiento de obligaciones legales o en caso de ser requerida por alguna autoridad judicial o administrativa.</li>
                    <li>Registro y control biométrico y de video con el fin de salvaguardar la seguridad de las personas y los bienes que se encuentran al interior de las instalaciones de la empresa.</li>
                    <li>Atención a peticiones, quejas, reclamos, o solicitudes elevadas por el empleado.</li>
                </ol>
                <h3>4.2 Datos de Empleados en misión</h3>
                <ol type="a">
                    <li>Crear un archivo para cada empleado con el fin de llevar un registro interno de sus
                        datos personales.</li>
                    <li>Dar cumplimiento con las obligaciones legales contraídas por PTA a favor del empleado en ejecución del contrato.</li>
                    <li>Archivo de datos concernientes a seguridad y salud laboral, comprendiendo pero sin limitarse a conceptos de aptitud, investigaciones por accidentes laborales, evaluaciones por enfermedad general prolongada, entre otros.</li>
                    <li>Adelantar las afiliaciones correspondientes de los empleados y los beneficiarios que éste designe en cumplimiento del contrato laboral suscrito.</li>
                    <li>Adelantar pago de nómina, pago de prestaciones sociales y aportes de seguridad social.</li>
                    <li>Generación y envío de correspondencia con el fin de establecer comunicaciones de interés entre el empleado y el empleador.</li>
                    <li>Consulta y custodia del historial laboral, académico, y disciplinario del empleado.</li>
                    <li>Expedición de constancias y referencias laborales.</li>
                    <li>En caso de finalizar el contrato laboral, la información se conservará por un periodo de tiempo en cumplimiento de obligaciones legales o en caso de ser requerida por alguna autoridad judicial o administrativa.</li>
                    <li>Registro y control biométrico y de video con el fin de salvaguardar la seguridad de las personas y los bienes que se encuentran al interior de las instalaciones de la empresa.</li>
                    <li>Atención a peticiones, quejas, reclamos, o solicitudes elevadas por el empleado.</li>
                </ol>
                <p>PTA S.A.S. en cumplimiento de su objeto social y en observancia a los derechos de los titulares de la información podrá transferir sus datos personales a las empresas clientes u otras empresas de servicios temporales con el fin de poner a consideración su perfil en procesos de selección y/o en caso de ser seleccionado para que su información repose en sus archivos para los fines pertinentes de contratación e identificación.</p>
                <h3>4.3 Datos de Candidatos</h3>
                <ol type="a">
                    <li> Generar un archivo de consulta interna para los candidatos en proceso de selección y
                        aquellos que remiten sus datos bajo formulario web.
                    </li><li> Adelantar procesos de reclutamiento de acuerdo con las necesidades de las empresas clientes de PTA.
                    </li><li> Análisis de perfil del candidato y pruebas psicotécnicas por parte de las psicólogas de PTA.
                    </li><li> En caso de ser preseleccionado los datos se enviarán a los proveedores de servicios que trabajan junto a PTA con el fin de formalizar la selección tales como, visitas domiciliarias, exámenes de polígrafo, estudios de seguridad, exámenes médicos de ingreso, y entidades bancarias.
                    </li><li> Revisión de antecedentes académicos, laborales, disciplinarios, así como consultas ante bases de datos públicas sobre situación legal del candidato.
                    </li><li> Generación y envío de correspondencia con el fin de establecer comunicaciones de interés entre el candidato y PTA.
                    </li><li> Registro y control biométrico y de video con el fin de salvaguardar la seguridad de las personas y los bienes que se encuentran al interior de las instalaciones de la empresa.
                    </li>
                </ol>
                <p>PTA S.A.S. en cumplimiento de su objeto social y en observancia a los derechos de los titulares de la información podrá transferir sus datos personales a las empresas clientes u otras empresas de servicios temporales con el fin de poner a consideración su perfil en procesos de selección y/o en caso de ser seleccionado para que su información repose en sus archivos para los fines pertinentes de contratación e identificación.
                </p>
                <h3>4.4 Datos de clientes</h3>
                <ol type="a">
                    <li> Crear un archivo los datos de contacto de clientes con el fin de llevar un registro
                        interno de sus datos personales.
                    </li><li> Seguimiento al cumplimiento de la prestación de servicios en desarrollo del objeto social de la empresa y el acuerdo comercial suscrito entre las partes.
                    </li><li> Elaboración y expedición de facturas.
                    </li><li>Seguimientos o estudios encaminados a mejorar la prestación del servicio por parte de PTA.
                    </li><li>Atención a peticiones, quejas, reclamos, inquietudes, y solicitudes elevadas por el cliente.
                    </li><li>Informar sobre prospectos, novedades, eventos importantes e información de interés del cliente.
                    </li><li>Remitir cualquier tipo de publicidad sobre los servicios prestados y promocionados por parte de PTA.
                    </li><li>Cumplimiento de obligaciones contractuales, legales y tributarias.
                    </li><li>Si es el caso, adelantar gestiones de cobranza en caso de existir saldos vencidos o capital en mora por parte del cliente.
                    </li><li>Registro y control biométrico y de video con el fin de salvaguardar la seguridad de las personas y los bienes que se encuentran al interior de las instalaciones de la empresa.</li>
                </ol>
                <h3>4.5 Datos de Proveedores</h3>
                <ol type="a">
                    <li> Crear un archivo los datos de contacto de proveedores y prospectos con el fin de
                        llevar un registro interno de sus datos personales.
                    </li><li>Establecer un canal de contacto entre el proveedor y PTA.
                    </li><li>Seguimiento al cumplimiento de la prestación de servicios, órdenes de compra en desarrollo del objeto social de la empresa y el acuerdo comercial suscrito entre las partes.
                    </li><li>Generación y envío de correspondencia respecto a la actual relación y en caso de requerirse futuros servicios.
                    </li><li>Generación y envío de correspondencia en los casos que PTA decida impulsar campañas para dar a conocer sus servicios.
                    </li><li>Registro contable y seguimiento interno de pago a proveedores.
                    </li><li>Solicitud de propuestas, cotizaciones y generación de órdenes de compra
                    </li><li>Cumplimiento de obligaciones contractuales, legales y tributarias.
                    </li><li>Verificación de referencias comerciales.
                    </li><li>Registro y control biométrico y de video con el fin de salvaguardar la seguridad de las personas y los bienes que se encuentran al interior de las instalaciones de la empresa.</li>
                </ol>
                <h3>4.6 Datos de Niños y adolescentes menores de edad</h3>
                <p>En cumplimiento con lo dispuesto por la ley 1581 de 2012 y el decreto 1074 de 2015, estos datos siempre serán solicitados bajo el consentimiento del representante del menor quien estará previamente informado sobre el tratamiento que se les dará, las finalidades, y en pleno conocimiento que no se encuentra en la obligación de entregar los mismos.</p>
                <p>De igual forma se tratarán de conformidad con lo desarrollado por la Corte Constitucional Colombiana, esto es, siempre respetando sus derechos fundamentales y buscando la consecución de su bienestar y el desarrollo de sus intereses superiores.</p>
                <p>Así las cosas, PTA puede solicitar datos de menores de edad para la consecución de las siguientes finalidades:</p>
                <ol type="a">
                    <li> Afiliaciones como beneficiarios de los servicios vinculados a las prestaciones sociales a solicitud de su representante.
                    </li><li>Creación de grupo de los menores de edad, hijos de los empleados y otras personas vinculadas a la empresa con el fin de adelantar actividades de integración entre la empresa y sus familias en fechas especiales incluyendo pero sin limitarse a navidad, halloween, día del niño, entre otros.
                    </li><li>Control y registro biométrico y de video instalado en los establecimientos de comercio propiedad de la empresa con el fin de salvaguardar la seguridad de los bienes y las personas que se encuentran a interior de ellos.</li>
                </ol>
                <h3>4.7 Datos biométricos</h3>
                <p>PTA ha decidido implementar sistemas de seguridad (monitoreo a través de Circuito Cerrado de Televisión) en sus instalaciones con el fin de evitar ser objeto de actividades delictivas, así como para salvaguardar la integridad y seguridad de las personas y bienes que allí se encuentren.</p>
                <p>Por último y en concreto, las demás finalidades que PTA considere pertinentes para el correcto y normal desarrollo de su objeto social, siempre y cuando sean previamente informadas al titular de la información.</p>
                <h2>5. Derechos de los titulares de la información</h2>
                <p>Los titulares de la información contenida en las bases de datos que trate PTA sea como responsable o como encargado del tratamiento, tienen los derechos que a continuación se relacionan de conformidad con lo dispuesto por la Constitución Política de Colombia y la normativa aplicable y vigente.</p>
                <p>El ejercicio de dichos derechos solo podrá adelantarse de forma exclusiva por el titular del dato o por las personas que este autorice de conformidad con lo establecido por la ley.</p>
                <ol type="a">
                    <li> Conocer, actualizar y rectificar sus datos personales frente a los Responsables del Tratamiento o Encargados del Tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado.
                    </li><li>Solicitar prueba de la autorización otorgada al Responsable del Tratamiento salvo cuando expresamente se exceptúe como requisito para el Tratamiento.
                    </li><li>Ser informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto del uso que le ha dado a sus datos personales.
                    </li><li>Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la presente política y las leyes que regulan la materia.
                    </li><li>Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido en conductas contrarias a esta ley y a la Constitución.
                    </li><li>Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.</li>
                </ol>
                <h2>6. Deberes de PTA respecto de las bases de datos con información personal de terceros cuando actúe como responsable y encargado.</h2>
                <h3>6.1 Deberes como Responsable del tratamiento.</h3>
                <p>Cuando PTA asuma la calidad de responsable del tratamiento de datos personales adelantará tal gestión en cumplimiento de los siguientes deberes, sin perjuicio claro está, de las demás disposiciones previstas en la ley</p>
                <ol type="a">

                    <li> Garantizar al titular de la información en cualquier momento y de forma gratuita el pleno y efectivo ejercicio de los derechos que tiene a conocer, actualizar, modificar y rectificar sus datos.
                    </li><li>Solicitar y conservar en los casos que sea necesario copia de la respectiva autorización otorgada por el titular.
                    </li><li>Conservar la información bajo las condiciones de seguridad necesarias para impedir su uso, acceso, adulteración, consulta no autorizada o fraudulenta, adulteración o pérdida.
                    </li><li>Actualizar la información y en caso de efectuar cambios sustanciales en el tratamiento de las bases de datos, informarlo tanto a los titulares como al encargado en caso de existir.
                    </li><li>Rectificar la información cuando sea incorrecta y en caso de existir un encargado del manejo de la misma, informárselo.
                    </li><li>En caso de existir un encargado del tratamiento de la información, suministrarle únicamente datos cuyo tratamiento este previamente autorizado por el titular.
                    </li><li>Tramitar las consultas y reclamos formulados por titulares de la información dentro de los términos señalados por la ley y replicados en esta política de tratamiento.
                    </li><li>Socializar con las áreas encargadas al interior de la empresa los procedimientos y políticas para garantizar el adecuado cumplimiento de la ley que regula la materia.
                    </li><li>Informar a solicitud del titular sobre el uso dado a sus datos.
                    </li><li>Informar a la autoridad de protección de datos personales cuando se presenten violaciones a los estándares de seguridad de la información y por ende existan riesgos en la administración de la información de los titulares.
                    </li><li>Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.</li>
                </ol>
                <h3>6.2 Deberes como Encargado del tratamiento</h3>
                <p>Cuando PTA asuma la calidad de encargado del tratamiento de datos personales bajo su custodia, deberá cumplir los siguientes deberes, sin perjuicio claro está de las demás disposiciones previstas en la ley.</p>
                <ol type="a">
                    <li> Garantizar al titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de habeas data.
                    </li><li>Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.
                    </li><li>Realizar oportunamente la actualización, rectificación o supresión de los datos en los términos de la ley.
                    </li><li>Actualizar la información reportada por los responsables del tratamiento de acuerdo a los términos que se hayan pactado en los contratos con estos.
                    </li><li>Tramitar las consultas y los reclamos formulados por los titulares en los términos señalados en esta política y la ley que rige la materia.
                    </li><li>Socializar con las áreas encargadas al interior de la empresa los procedimientos y políticas para garantizar el adecuado cumplimiento de la ley que regula la materia.
                    </li><li>Abstenerse de circular información que esté siendo controvertida por el titular y cuyo bloqueo haya sido ordenado por la Superintendencia de Industria y Comercio.
                    </li><li>Permitir el acceso a la información únicamente a las personas que puedan tener acceso a ella.
                    </li><li>Informar a la autoridad de protección de datos personales cuando se presenten violaciones a los estándares de seguridad de la información y por ende existan riesgos en la administración de la información de los titulares.
                    </li><li>Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.</li>
                </ol>
                <h2>7. Procedimiento para la atención de solicitudes y reclamos por parte de los titulares de la información.</h2>
                <p>
                    En desarrollo del derecho fundamental de los titulares al Habeas Data respecto de los derechos de acceso, consulta, actualización, rectificación, o cancelación se seguirá el siguiente procedimiento:
                </p>
                <ol type="a">
                    <li> Los derechos sobre los datos personales sólo podrán ser ejercidos directamente por el titular, o por un tercero habilitado legalmente de acuerdo a lo establecido por la ley 1581 de 2012. Esta condición se acreditará mediante copia del documento de identidad, y en caso de ser autorizado, el poder o autorización debidamente otorgados.
                    </li><li>La solicitud para ejercer cualquiera de estos derechos deberá hacerse a través del canal delimitado por PTA dentro de la presente Política de Tratamiento de datos personales.
                    <li>La solicitud de ejercicio de los derechos deberá contener:
                        <ul>
                            <li>Nombre del titular del dato, y de ser el caso de su apoderado o representante.
                            </li><li>Petición concreta y precisa del derecho que pretende ejercer. En cada caso, la petición deberá estar razonablemente fundamentada para que PTA
                                proceda como responsable de la base de datos a dar respuesta.
                            </li><li>Dirección para notificaciones.
                            </li><li>Documentos que soportan la solicitud.
                            </li><li>Firma de la solicitud.</li>
                        </ul>
                </ol>
                <p>En caso de faltar alguno de los requisitos indicados, PTA lo comunicará al solicitante dentro de los 5 días hábiles siguientes a la recepción de la solicitud, para que los mismos sean completados. Si transcurridos dos (2) meses no se ha presentado la información requerida se entiende que se ha desistido de la solicitud.</p>
                <p>PTA internamente se encargará de crear una base de datos sobre Peticiones y reclamos, así como de cumplir con la obligación legal de reportarlos ante la Superintendencia de Industria y Comercio.</p>
                <p>En caso de que PTA actúe como responsable de la información atenderá el reclamo en un máximo de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo. Cuando no fuera posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual no puede superar en ningún caso los ocho (8) días hábiles siguientes al vencimiento del primer término.</p>
                <p>A su turno, en caso de que PTA actúe como encargado del tratamiento informará tal situación al titular o interesado en la petición o reclamo, y comunicará al responsable del tratamiento de la información la solicitud, con el fin de que éste de la respuesta a la solicitud de consulta o reclamo presentado, lo cual será informado al titular para que tenga conocimiento sobre la identidad del responsable de la información y en consecuencia el obligado principal de garantizar el ejercicio de su derecho.</p>
                <p>De conformidad con lo establecido por la ley, en caso de pretender acudir a la Superintendencia de Industria y Comercio en ejercicio de las acciones legales contempladas para los titulares de datos o interesados, se deberá agotar previamente el trámite acá descrito.</p>
                <h2>
                    8. Canal designado para la recepción de peticiones y reclamos en ejercicio de los derechos de los titulares de la información</h2>
                <p>En todo caso, PTA actuando como Encargado o como Responsable de la información recibirá peticiones y reclamos en ejercicio de los derechos de los titulares de la información en el correo electrónico:</p>
                <ul>
                    <li><a href="mailto:datospersonales@pta.com.co">datospersonales@pta.com.co</a></li>
                </ul>
                <p>Dicho correo será controlado y manejado por el área de Servicio al cliente de la empresa, quien conoce sus obligaciones legales con el fin de atender los requerimientos que por dicha vía se eleven.</p>
                <p>Cualquier cambio en este canal será informado en debida forma a los titulares de la información.</p>
                <h2>9. Prohibiciones</h2>
                <p>En desarrollo de la presente Política de Tratamiento de Datos Personales, y su correcta aplicación, se establecen las siguientes prohibiciones:</p>
                <ol type="a">
                    <li> PTA prohíbe el acceso, uso, gestión, cesión, comunicación, almacenamiento y cualquier otro tratamiento de datos personales de carácter sensible sin autorización previa del titular del dato y de PTA mismo.
                    </li><li>PTA solo ejerce el tratamiento de datos personales de niños y adolescentes menores de edad mediante autorización expresa de sus representantes legales, todo tratamiento que se llegare a hacer respecto de este tipo de datos se deberá hacer asegurando los derechos prevalentes que la constitución política reconoce a estos, y para las finalidades específicamente informadas previo a la entrega de los mismos.

                    </li><li>Está prohibida la transferencia internacional de datos personales a terceros países que no proporcionen niveles adecuados de protección de datos de conformidad con lo establecido por la ley 1581 de 2012 y los estándares fijados por la Superintendencia de Industria y Comercio, aplicando las excepciones que se han establecido para estos casos.
                    </li>
                </ol>
                <h2>10. Temporalidad de los datos</h2>
                <p>La permanencia de los datos tratados por PTA sea como responsable o como encargado del tratamiento estará determinada por la finalidad por la cual dichos datos fueron recogidos o entregados a PTA, según sea el caso.</p>
                <p>Por lo tanto, una vez se agote la finalidad de PTA, procederá a su eliminación, destrucción o devolución, según como se estime pertinente.</p>
                <p>De todas formas, PTA es consciente que existen obligaciones de carácter legal, laboral, contable y tributario que le obligan a conservar por cierto tiempo determinado algunos datos, por lo que se compromete a hacerlo sólo y únicamente para tal efecto, adoptando las medidas técnicas y de seguridad necesarias para un tratamiento adecuado.</p>
                <h2>11. Medidas de seguridad.</h2>
                <p>PTA, como Responsable del tratamiento de los datos personales que recoja o sobre los cuales esté encargado según sea el caso, adoptará todas las medidas de seguridad, físicas, tecnológicas y administrativas que considere pertinentes según los datos que maneje, las cuales serán aplicables en todo caso a las áreas encargadas.</p>
                <p>PTA, en cumplimiento de la ley estatutaria 1581 de 2012 y las exigencias establecidas por la Superintendencia de Industria y Comercio comunicará a esta última cualquier caso de fallas en la seguridad de la información que pueda haber causado pérdida, robo, consulta o modificación fraudulenta, y las medidas que se tomaron al respecto.</p>
                <h2>12. Entrega de datos personales a autoridades administrativas y judiciales</h2>
                <p>En caso de que las autoridades con funciones jurisdiccionales o administrativas soliciten a PTA la consulta y/o entrega de datos personales consignados en sus bases de datos; se evaluará de forma interna tal petición, y en caso de cumplir con todos los requerimientos legales, se documentará internamente el caso y se agregará al histórico que maneje internamente la sociedad, esto en cumplimiento de las normas que rigen la materia.</p>
                <h2>13. Vigencia</h2>
                <p>La presente política de tratamiento de datos personales a cargo de PTA quien actúa como responsable y encargado del tratamiento de información de terceros paralelamente ha sido aprobada y por lo tanto regirá a partir del 1 de enero de 2018, y se aplicará de igual forma a los datos recogidos con anterioridad a esta fecha; con un término indefinido hasta que se adelante una reforma sustancial a la misma, Fenómeno que será debidamente informado a través de los canales dispuestos.</p>
            </div>

        </div>
    </div>
{% endblock %}

