<!-- Header -->
<header id="js-header" class="u-header u-header--static">
    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        {{ include('servilabor/blocks/header/_nav.html.twig') }}

        {% if app.user %}
            {{ include('servilabor/blocks/header/_nav-admin.html.twig') }}
        {% endif %}
    </div>
</header>
<!-- End Header -->