<!-- Header -->
<header id="js-header" class="u-header u-header--static">
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <!-- Top Bar -->
        <div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-black g-py-13 impersonate">
            <div class="container">
                <div class="row flex-column flex-md-row align-items-center justify-content-lg-end text-uppercase g-color-white g-font-size-11 g-mx-minus-15">
                    <!-- Responsive Toggle Button -->
                    <div class="col-auto g-px-15">
                        <ul class="list-inline g-line-height-1 g-mt-minus-10 g-mx-minus-4 mb-0">
                            <li class="list-inline-item g-mx-4 g-mt-10">
                                <p class="g-color-white g-text-underline--none--hover">
                                    <strong>Viendo a</strong> {{ app.token.user.nombreCompleto(true) }}
                                </p>
                            </li>
                            <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                            <li class="list-inline-item g-mx-4 g-mt-10">
                                <a href="{{ path('admin_usuarios', {'_switch_user': '_exit'}) }}"
                                   class="g-color-white g-color-secondary--hover g-text-underline--none--hover">
                                    Salir
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Bar -->
    {% endif %}

    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        {{ include('servilabor/blocks/header/_nav.html.twig') }}

        {% if app.user %}
            {{ include('servilabor/blocks/header/_nav-admin.html.twig') }}
        {% endif %}
    </div>
</header>
<!-- End Header -->