{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<ol start="3">
    <li>
        Listo, ya ha ingresado. De click en la opción deseada y descargue el archivo en formato pdf. No olvide cerrar sesión.
    </li>
</ol>

<div class="diapositiva-16 content-diapositiva">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{{ asset('img/sel/evaluacion/induccion/pagina-web-3.png') }}" alt="pagina-web"
                 class="pagina-web">
        </div>
    </div>
</div>
{% endblock %}