{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<ol start="2">
    <li>
        Para inicio de sesión, escribir su número de cédula y la clave estándar son los 4 últimos dígitos de su número de cédula.
        Posteriormente personalice su contraseña
    </li>
</ol>

<div class="diapositiva-15 content-diapositiva">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{{ asset('/build/images/sel/evaluacion/induccion/pagina-web-2.png') }}" alt="pagina-web"
                 class="pagina-web">
        </div>
    </div>
</div>
{% endblock %}