{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <p><b>CIRCUNSTANCIAS AGRAVANTES</b></p>
    <ul>
        <li>
            Reiteración de la conducta.
        </li>
        <li>
            Cuando exista concurrencia de causales.
        </li>
        <li>
            Realizar la conducta por motivo abyecto, fútil o mediante precio, recompensa o promesa remuneratoria.
        </li>
        <li>
            Mediante ocultamiento, o aprovechando las condiciones de tiempo, modo y lugar, que dificulten la defensa del
            ofendido, o la identificación del autor partícipe.
        </li>
        <li>
            Aumentar deliberada e inhumanamente el daño psíquico y biológico causado al sujeto pasivo.
        </li>
        <li>
            La posición predominante que el autor ocupe en la sociedad, por su cargo, rango económico, ilustración,
            poder, oficio o dignidad.
        </li>
        <li>
            Ejecutar la conducta valiéndose de un tercero o de un inimputable.
        </li>
        <li>
            Cuando en la conducta desplegada por el sujeto activo se causa un daño en la salud física o psíquica al
            sujeto pasivo.
        </li>
    </ul>
</div>
{% endblock %}