{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15">
    <h2 class="underline">¿Cómo prevenir peligros mecánicos?</h2>
    <ul>
        <li>
            No retire las guardas de las máquinas o equipos. Reporte cuando estas no estén instaladas o presenten alguna
            novedad que genere riesgos.
        </li>
        <li>
            Reporte los daños de maquinaria, herramientas y equipos, no los utilice si presentan fallas. No trate de
            repararlos usted mismo.
        </li>
        <li>
            Utilice los EPP adecuados para la labor y acate las normas de seguridad, señalización, etiquetas e
            indicaciones de uso del fabricante de máquinas, equipos y herramientas.
        </li>
    </ul>
</div>
{% endblock %}