{% extends 'evaluacion/base.html.twig' %}

{% block body %}


<div class="content-diapositiva-mt15">
    <h1>¿Cómo prevenir los peligros locativos?</h1>
    <ul>
        <li>
            Observe siempre los lugares por donde se desplaza y evite pisar superficies irregulares, rotas o inestables,
            no pise tabletas sueltas, elementos sobre puestos en el piso, piedras, vidrios, puntillas, bordes o
            residuos.
        </li>
        <li>
            No se desplace por sitios sin iluminación donde no pueda observar la superficie o alrededores.
        </li>
        <li>
            Mantenga los pisos y superficies de desplazamiento limpias y despejadas, recoja cualquier reguero, no
            aplique ceras o elementos que hagan el piso deslizantes, preferiblemente solo agua y limpiador (Ej: sanpic,
            clorox diluido).
        </li>
        <li>
            Retire de las áreas de trabajo y desplazamiento, cualquier elemento que pueda
            causar una caída o que no corresponda al área de trabajo.
        </li>
        <li>
            Tenga en cuenta la capacidad de carga de estantes y estibas, no la sobre pase.
        </li>
        <li>
            Al subir o bajar escaleras no corra, camine siempre sosteniéndose de la baranda.
        </li>
        <li>
            No se distraiga mientras camina, cuando baja o sube escaleras evite revisar el
            celular o documentos.
        </li>
    </ul>
    <div class="text-center">
        <img src="{{ asset('/build/images/sel/evaluacion/induccion/peligros-locativos.png') }}"
             alt="peligros-locativos"
             class="peligros-locativos">
    </div>

</div>
{% endblock %}