{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15">
    <h2>¿Cómo prevenir los peligros físicos?</h2>
    <ul>
        <li>
            Evite el uso de audífonos dentro y fuera del trabajo.
        </li>
        <li>
            Utilice los EPP necesarios para los peligros presentes en su puesto o área de trabajo.
        </li>
        <li>
            Utilice ropa manga larga cuando realice trámites a la intemperie, use bloqueador solar y cachucha o gorro si
            es necesario para protegerse del sol.
        </li>
        <li>
            Prefiera celulares que emitan bajos niveles de radiación.
        </li>
        <li>
            Utilice ropa abrigadora o fresca, según las condiciones climáticas.
        </li>
        <li>
            No toque directamente con las manos u otras partes del cuerpo, elementos o partes que puedan estar calientes
            (grecas, cafeteras, estufas, hornos, selladora, etc.)
        </li>
        <li>
            Procure reducir el tiempo de exposición a vibraciones, ruido, radiaciones.
        </li>
        <li>
            Personal de salud, debe utilizar EPP plomados y portar dosímetro.
        </li>
        <li>
            Mantener las áreas ventiladas.
        </li>
    </ul>
</div>
{% endblock %}