{% extends 'evaluacion/base.html.twig' %}

{% block body %}


<div class="content-diapositiva-mt15">
    <h1>¿Cómo prevenir los peligros químicos?</h1>
    <div class="row">
        <div class="col-sm-8">
            <ul>
                <li>
                    Asegúrese siempre de haber leído y entendido previamente la hoja de seguridad y la etiqueta del producto.
                </li>
                <li>
                    Toda sustancias química es potencialmente peligrosa, manipúlela con precaución según indicaciones de la hoja
                    de seguridad.
                </li>
                <li>
                    Siga las indicaciones, recomendaciones y advertencias de la hoja de seguridad.
                </li>
                <li>
                    Ya que la posibilidad de exposición a los químicos principalmente es accidental, verifique cómo controlar y
                    recoger los derrames y cómo hacer la disposición de los residuos. Previamente ha de haberse puesto los
                    Elementos de Protección Personal (gafas, guantes adecuados, peto, mascarilla, botas, etc.).
                </li>
                <li>
                    En caso de contacto accidental, lávese bien las partes expuestas a la sustancia química, lave y retire la
                    ropa contaminada, esto debe hacerlo de inmediato así haya estado expuesto a poca cantidad.
                </li>
                <li>
                    Mantenga sus manos limpias, no coma, fume o beba nada
                    cuando manipule una sustancia química o después de hacerlo.
                </li>
                <li>
                    Mantenga las áreas de trabajo y almacenamiento bien ventiladas.
                </li>
                <li>
                    Tenga en cuenta las recomendaciones de almacenamiento (humedad, calor,
                    tipo de envase, ventilación/extracción).
                </li>
            </ul>
        </div>
        <div class="col-sm-4 text-center">
            <img src="{{ asset('/build/images/sel/evaluacion/induccion/peligros-quimicos2.png') }}"
                 alt="peligros-quimicos2"
                 class="peligros-quimicos2">
        </div>
    </div>
</div>
{% endblock %}