{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15">
    <h1>¿Cómo prevenir los peligros eléctricos?</h1>
    <ul>
        <li>
            Las reparaciones e intervenciones que tienen que ver con este tipo de peligro, deben ser resueltas por
            personal capacitado y competente.
        </li>
        <li>
            No sobrecargar las tomas.
        </li>
        <li>
            Utilizar reguladores de picos de voltaje.
        </li>
        <li>
            Señalizar los tacos de los circuitos de energía y mantenerlos protegidos.
        </li>
        <li>
            Utilizar UPS para evitar el daño de equipos de cómputo ante caídas o fallas de energía.
        </li>
        <li>
            Apagar las luces y desconectar equipos que no estén en uso.
        </li>
        <li>
            Evitar el uso de multitomas.
        </li>
        <li>
            Verificar que las instalaciones tengan conexión a tierra.
        </li>
        <li>
            Desconectar equipos cuando hay tormentas eléctricas.
        </li>
        <li>
            Cumpla con los protocolos y normas de seguridad para trabajos con energías peligrosas.
        </li>
        <li>
            Utilice los elementos de protección personal dieléctricos adecuados a los niveles de energía, los cuales
            deben estar en buen estado, no deben tener ningún daño o alteración.
        </li>
    </ul>
</div>
{% endblock %}