{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15">
    <h3>¿Cómo prevenir los peligros Biológicos?</h3>
    <ul>
        <li>
            Esquema de vacunación completo.
        </li>
        <li>
            Limpieza y desinfección de áreas de trabajo.
        </li>
        <li>
            Lavado de manos frecuente.
        </li>
        <li>
            Alimentación balanceada.
        </li>
        <li>
            Lavado y desinfección de alimentos que se consumen crudos (frutas, vegetales).
        </li>
        <li>
            Uso de mallas o anjeos para evitar ingreso de insectos.
        </li>
        <li>
            Vacunación y desparasitación (interna y externa) de animales domésticos.
        </li>
        <li>
            Uso de gafas de protección, ropa de dotación, tapabocas y guantes al manipular elementos contaminantes o
            contaminados.
        </li>
        <li>
            Fumigación.
        </li>
        <li>
            Orden y aseo de los lugares de trabajo.
        </li>
        <li>
            Ventilación de áreas de trabajo.
        </li>
        <li>
            Uso de repelentes y ropa que cubra la mayor parte del cuerpo.
        </li>
    </ul>
</div>
{% endblock %}