{% extends 'evaluacion/base.html.twig' %}

{% block body %}


<div class="content-diapositiva-mt15">

    <div class="row">
        <div class="col-sm-6">
            <h1>¿Cómo prevenir los peligros Biomecánicos?</h1>
            <ul>
                <li>
                    Pausas activas.
                </li>
                <li>
                    Ejercicio regular
                </li>
                <li>
                    Control de peso
                </li>
                <li>
                    Calentamiento y estiramiento (antes y después del trabajo).
                </li>
                <li>
                    Cambios frecuentes de postura, alternar tareas.
                </li>
                <li>
                    Higiene postural
                </li>
            </ul>
        </div>
        <div class="col-sm-6 text-center">
            <img src="{{ asset('img/sel/evaluacion/induccion/biomecanicos2.png') }}"
                 alt="biomecanicos2"
                 class="biomecanicos2">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="{{ asset('img/sel/evaluacion/induccion/biomecanicos3.png') }}"
                 alt="biomecanicos3"
                 class="biomecanicos3">
        </div>
        <div class="col-sm-6 text-center">
            <img src="{{ asset('img/sel/evaluacion/induccion/biomecanicos4.png') }}"
                 alt="biomecanicos4"
                 class="biomecanicos4">
        </div>
    </div>
</div>
{% endblock %}