{% extends 'evaluacion/base.html.twig' %}

{% block body %}


<div class="content-diapositiva-mt15">
    <h1>¿Cómo prevenir el  riesgo psicolaboral?</h1>
    <ul class="mb60">
        <li>
            Mantener hábitos de vida saludables.
        </li>
        <li>
            Hacer ejercicio, utilizar el tiempo libre en actividades lúdicas.
        </li>
        <li>
            Realizar actividades extra laborales con la familia y amigos.
        </li>
        <li>
            Ser organizado en el trabajo.
        </li>
        <li>
            Mantener buenas relaciones con jefes y compañeros.
        </li>
        <li>
            Comunicarse respetuosamente con jefes y compañeros, hablar de los problemas e inconvenientes y buscar soluciones.
        </li>
        <li>
            Mantener una actitud positiva.
        </li>
        <li>
            Buscar siempre lo mejor para sí mismo y su familia.
        </li>
    </ul>
    <div class="text-center">
        <img src="{{ asset('build/images/sel/evaluacion/induccion/psicolaborales2.png') }}"
             alt="psicolaborales2"
             class="psicolaborales2">
    </div>
</div>
{% endblock %}