{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15">
    <h2 class="underline">¿Cómo prevenir peligros mecánicos?</h2>
    <ul>
        <li>
            No introduzca sus manos en espacios pequeños que pueden cerrarse o que tengan movimiento de piezas que usted
            no pueda observar.
        </li>
        <li>
            No introduzca sus manos en partes de equipos, maquinaria o herramienta, instalaciones locativas, donde haya
            partes que se muevan y cierren, que tengan riesgos de pellizco, atrapamiento, amputación o quemadura.
        </li>
        <li>
            No manipule elementos con filo o punta hacia partes de su cuerpo, haga los movimientos siempre hacia afuera
            de su cuerpo y verificando que no haya nadie a quien pueda lesionar.
        </li>
        <li>
            No utilice ropa suelta, anillos, joyas, corbatas, collares, pulseras, bufandas, cabello u otros elementos
            sueltos o largos que pudieran quedar atrapados en partes móviles de maquinaria o equipos y que pudieran
            halarlo, exponiéndolo a un atrapamiento.
        </li>
        <li>
            Al transportar o movilizar elementos pesados, asegúrese de que antes de soltar el elemento, tiene espacio
            disponible para retirar sus dedos y que estos no vayan a quedar atrapados.
        </li>
    </ul>
</div>
{% endblock %}