{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <p><b>CONDUCTAS QUE NO CONSTITUYEN ACOSO LABORAL</b></p>
    <p>
        No constituyen acoso laboral bajo ninguna de sus modalidades:
    </p>
    <ul>
        <li>
            Los actos destinados a ejercer la potestad disciplinaria que legalmente corresponde a los superiores
            jerárquicos sobre sus subalternos.
        </li>
        <li>
            La formulación de exigencias razonables de fidelidad laboral o lealtad empresarial e institucional.
        </li>
        <li>
            La formulación de circulares o memorandos de servicio encaminados a solicitar exigencias técnicas o mejorar
            la eficiencia laboral y la evaluación laboral de subalternos conforme a indicadores objetivos y generales de
            rendimiento.
        </li>
        <li>
            La solicitud de cumplir deberes extras de colaboración con la empresa o la institución, cuando sean
            necesarios para la continuidad del servicio o para solucionar situaciones difíciles en la operación de la
            empresa o la institución.
        </li>
        <li>
            Las actuaciones administrativas o gestiones encaminadas a dar por terminado el contrato de trabajo, con base
            en una causa legal o una justa causa, prevista en el Código Sustantivo del Trabajo o en la legislación sobre
            la función pública.
        </li>
    </ul>
</div>
{% endblock %}