{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15">
    <h1>CONDUCCIÓN DE VEHÍCULOS</h1>
    <ul>
        <li>
            Use siempre el cinturón de seguridad adecuadamente (conductor y pasajeros)
        </li>
        <li>
            No adelante a otro vehículo cuando se aproxime una curva o donde haya doble línea amarilla.
        </li>
        <li>
            Conserve una distancia conveniente con relación al tiempo de reacción, aplique la técnica de los 2 segundos.
        </li>
        <li>
            Como norma de prevención piense que la prelación la tienen los demás vehículos y evitará accidentes.
        </li>
        <li>
            Cuando decida cambiar de calzada, ceda el paso a los vehículos que transitan por los carriles que va a
            ingresar.
        </li>
        <li>
            Nunca cruce directamente de una calzada a otra. Puede ocasionar un choque de atrás o de costado.
        </li>
        <li>
            Utilice las direccionales para indicar que va a cambiar de carril o al acercarse a una curva o esquina y va
            a girar.
        </li>
        <li>
            Al intentar mover el vehículo en reversa, como precaución, inspeccione previamente el área por donde va a
            desplazarse, hágalo despacio y observe todos los espejos, si puede pida ayuda a otra persona para que ella
            verifique que la vía esté despejada y le advierta de los posibles obstáculos o personas que puedan
            encontrase allí.
        </li>
    </ul>
</div>
{% endblock %}