{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <p><b>CONDUCTAS QUE CONSTITUYEN ACOSO LABORAL</b></p>
    <ul>
        <li>
            La descalificación humillante y en presencia de los compañeros de trabajo de las propuestas u opiniones de
            trabajo.
        </li>
        <li>
            Las burlas sobre la apariencia física o la forma de vestir, formuladas en público.
        </li>
        <li>
            La alusión pública a hechos pertenecientes a la intimidad de la persona.
        </li>
        <li>
            La imposición de deberes ostensiblemente extraños a las obligaciones laborales, las exigencias abiertamente
            desproporcionadas sobre el cumplimiento de la labor encomendada y el brusco cambio del lugar de trabajo o de
            la labor contratada sin ningún fundamento objetivo referente a la necesidad técnica de la empresa.
        </li>
        <li>
            La exigencia de laborar en horarios excesivos respecto a la jornada laboral contratada o legalmente
            establecida, los cambios sorpresivos del turno laboral y la exigencia permanente de laborar en dominicales y
            días festivos sin ningún fundamento objetivo en las necesidades de la empresa, o en forma discriminatoria
            respecto a los demás trabajadores o empleados.
        </li>
        <li>
            El trato notoriamente discriminatorio respecto a los demás empleados en cuanto al otorgamiento de derechos y
            prerrogativas laborales y la imposición de deberes laborales.
        </li>
    </ul>
</div>
{% endblock %}