{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15">
    <h1>CONDUCCIÓN DE VEHÍCULOS</h1>
    <ul>
        <li>
            En caso de accidente de tránsito, tome fotos de los vehículos involucrados, de la vía y del entorno, huellas
            en la superficie de desplazamiento, señales de tránsito cercanas y asegúrese que todo haya quedado
            registrado en el Informe policial de accidente de tránsito, pida una copia del mismo o averigüe dónde se la
            entregan. Si usted está lesionado, el SOAT le cubre gastos médicos y otros. Si el accidente es de trabajo,
            éste debe ser reportado a la ARL inmediatamente, el SOAT cubre inicialmente y cuando se supere tarifa SOAT
            lo entra a cubrir la ARL. Lo mismo pasa si es un accidente no laboral. Lo cubre su EPS cuando se supere
            tarifa SOAT.
        </li>
        <li>
            Revise diariamente el motor, agua, aceite, líquido de batería, amortiguadores, gasolina, frenos, presión de
            aire de neumáticos, estado de las llantas, estado de la dirección, ubicación de espejos, luces y en general
            todo lo necesario para la correcta operación segura del vehículo. Atienda las recomendaciones del fabricante
            para los mantenimientos preventivos.
        </li>
        <li>
            Mantenga extintor de incendios tipo BC.
        </li>
        <li>
            No se aprovisione de combustible en condiciones inseguras. Esta operación se debe realizar antes de iniciar
            el recorrido, nunca con personas a bordo del vehículo, con fuego cercano o con el motor en marcha. Apague su
            celular o póngalo en modo avión y solicite a sus acompañantes que también lo hagan mientras estén cargando
            combustible o se encuentren en la estación de servicio.
        </li>
    </ul>
</div>
{% endblock %}