{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <p><b>CONDUCTAS QUE CONSTITUYEN ACOSO LABORAL</b></p>
    <ul>
        <li>
            La negativa claramente injustificada a otorgar permisos, licencias por enfermedad, licencias ordinarias y
            vacaciones, cuando se dan las condiciones legales, reglamentarias o convencionales para pedirlos.
        </li>
        <li>
            El envío de anónimos, llamadas telefónicas y mensajes virtuales con contenido injurioso, ofensivo o
            intimidatorio o el sometimiento a una situación de aislamiento social.
        </li>
        <li>
            En los demás casos no enumerados en este artículo, la autoridad competente valorará, según las
            circunstancias del caso y la gravedad de las conductas denunciadas, la ocurrencia del acoso laboral descrito
            en el artículo <span class="texto-azul underline">2o</span>. de la Ley 1010 de 2006.
        </li>
        <li>
            Excepcionalmente un sólo acto hostil bastará para acreditar el acoso laboral. La autoridad competente
            apreciará tal circunstancia, según la gravedad de la conducta denunciada y su capacidad de ofender por sí
            sola la dignidad humana, la vida e integridad física, la libertad sexual y demás derechos fundamentales.
        </li>
        <li>
            Cuando las conductas descritas en este ítem tengan ocurrencias en privado, deberán ser demostradas por los
            medios de prueba reconocidos en la ley procesal civil.
        </li>
    </ul>
</div>
{% endblock %}