{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15">
    <h1>CONDUCCIÓN DE VEHÍCULOS</h1>
    <ul>
        <li>
            No fume dentro del vehículo y tampoco permita que otros lo hagan.
        </li>
        <li>
            Evite el sobrepeso del vehículo.
        </li>
        <li>
            En caso de lluvia, la velocidad del vehículo debe ser baja.
        </li>
        <li>
            Si va rápido, cuando frene hágalo gradualmente y en forma suave. No frene en seco, puede perder el control
            de la dirección y los frenos.
        </li>
        <li>
            Prenda la luz de los cocuyos y las luces medias, según sea el grado de visibilidad o si la operación lo
            requiere.
        </li>
        <li>
            Conduzca con especial precaución cerca de zonas residenciales, escolares o parques.
        </li>
        <li>
            Si su vehículo es grande (bus, buseta, volqueta, mixer, camión, tractocamión, etc), ascienda o descienda de
            él siempre utilizando tres puntos de apoyo fijos (manijas, estribos), de frente a la cabina y despacio,
            tenga cuidado de no introducir sus manos en medio de la zona de la puerta donde están las bisagras o la
            chapa para evitar atrapamientos y amputaciones, en caso de cierre de la puerta.
        </li>
        <li>
            Nunca salte del vehículo.
        </li>
        <li>
            En áreas de descarga de materiales, verifique siempre la superficie del piso, zonas de movilización o de
            operación de otros vehículos (montacargas) y no ingrese o se ubique en zonas donde haya otras maniobras de
            máquinas o equipos donde puedan caer elementos sobre usted o se interfiera con el área de seguridad
            (maquinaria que gira tipo grúas o piloteadoras).
        </li>
    </ul>
</div>
{% endblock %}