{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<h1>Convenios especiales y beneficios para nuestros trabajadores</h1>

<div class="diapositiva-12 content-diapositiva">
    <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
            <img src="{{ asset('build/pta/images/sel/evaluacion/induccion/logo-financiafondos.png') }}" alt="logo"
                 class="logo-financiafondos">
        </div>
        <div class="col-md-8 col-sm-12">
            <p>
                Afiliación al Fondo de Empleados con <strong>FINANCIAFONDOS</strong> y <strong>FINCOMERCIO.</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
            <img src="{{ asset('build/pta/images/sel/evaluacion/induccion/logo-fincomercio.png') }}" alt="logo"
                 class="logo">
        </div>
        <div class="col-md-8 col-sm-12">
            <p>
                Créditos personales a través de nuestros convenios con <strong>FINANCIAFONDOS</strong>,
                <strong>FINCOMERCIO</strong> y <strong>COLSUBSIDIO (Bogotá)</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
            <img src="{{ asset('build/pta/images/sel/evaluacion/induccion/logo-coorserpark.png') }}" alt="logo"
                 class="logo">
        </div>
        <div class="col-md-8 col-sm-12">
            <p>
                Afiliación para planes exequiales con <strong>COORSERPARK</strong> con un subsidio hasta del 50% en los servicios
                funerarios tanto para el trabajador como para su familia.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
            <img src="{{ asset('build/pta/images/sel/evaluacion/induccion/logo-colsubsidio.png') }}" alt="logo"
                 class="logo">
        </div>
        <div class="col-md-8 col-sm-12">
            <p>
                Afiliación a la  caja compensación familiar <strong>COLSUBSIDIO</strong> en Bogotá y disfrutar de todos los beneficios
                como recreación, formación, vivienda, créditos de libre inversión y mucho más.
            </p>
        </div>
    </div>
</div>
{% endblock %}