{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="content-diapositiva-mt15 pt40">
    <h1>DEBERES DE LOS TRABAJADORES</h1>
    <ul>
        <li>
            Respeto a superiores y compañeros.
        </li>
        <li>
            Buena conducta
        </li>
        <li>
            Ejecutar la labor que se le ha encomendado de la mejor manera, con honradez y buena voluntad.
        </li>
        <li class="texo-azul">
            Seguir el conducto regular y de manera respetuosa.
        </li>
        <li>
            Decir siempre la verdad.
        </li>
        <li class="texto-azul">
            Cumplir obligatoriamente las instrucciones de seguridad.
        </li>
        <li class="texto-azul">
            Utilizar de forma correcta y obligatoriamente los elementos de protección personal que le hayan sido suministrados.
        </li>
        <li>
            Desarrollar su trabajo de acuerdo con las normas de seguridad que ha preparado la empresa.
        </li>
        <li>
            Informar sobre las condiciones inseguras que  observen en el desarrollo de su trabajo.
        </li>
        <li class="texto-azul">
            Colaborar y participar en las actividades de Seguridad y salud en el trabajo que se desarrollen en la empresa.
        </li>
        <li>
            Elegir a sus representantes para  el COPASST.
        </li>
        <li>
            Participar en la investigación de los accidentes no graves, graves y mortales, así como en la de los incidentes.
        </li>
    </ul>
</div>
{% endblock %}