{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15 pt40">
    <h1>DEBERES DEL EMPLEADOR</h1>
    <ul>
        <li class="texto-azul">
            Velar por la salud, seguridad e higiene de los trabajadores a su cargo.
        </li>
        <li>
            Garantizar los recursos necesarios para implementar y ejecutar actividades permanentes en medicina preventiva
            y del trabajo, y en higiene y seguridad industrial, de conformidad al programa de salud ocupacional (SG-SST),
            y con el objeto de velar por la protección integral del trabajador.
        </li>
        <li>
            Entregar a los trabajadores los elementos necesarios para la ejecución de la labor.
        </li>
        <li>
            Brindar locales de trabajo y los Elementos de Protección Personal necesarios para proteger la salud y mantener la seguridad.
        </li>
        <li>
            Prestar los primeros auxilios en caso de accidente o enfermedad.
        </li>
        <li>
            Pagar  la  remuneración pactada en las condiciones,  períodos y lugares convenidos.
        </li>
        <li>
            Guardar  absoluto respeto a la dignidad personal del trabajador,  sus creencias y sentimientos.
        </li>
        <li>
            Afiliar a sus trabajadores a las Entidades del Sistema de Seguridad Social Integral y pagar oportunamente las cotizaciones.
        </li>
        <li>
            Informar a los trabajadores sobre la Ley 1010 de 2006, realizar campañas de divulgación preventiva,
            conversatorios y capacitaciones en relación con las conductas que constituyen acoso laboral, las que no,
            las circunstancias agravantes, las conductas atenuantes y el tratamiento sancionatorio.
        </li>
    </ul>
</div>
{% endblock %}