{% extends 'evaluacion/base-titulo.html.twig' %}

{% block body %}

<div class="content-diapositiva-titulo-back">

    <div class="content-diapositiva-titulo diapositiva-22">

        <div class="caja-centro-titulo">
            <b>SEGURIDAD Y SALUD EN EL TRABAJO - PTA</b>
        </div>
        <div class="caja-centro-titulo">
            Celular Corporativo 315 3113855<br>
            Dirección: Calle 72 a No. 20 A - 57<br>
            salud.ocupacional@pta.com.co<br>
            asistente.sst@pta.com.co<br>
        </div>
    </div>
</div>
{% endblock %}