{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <p>
        <strong class="underline">FÍSICOS: </strong> Factores ambientales de naturaleza física que pueden generar
        efectos adversos en la salud según sea la intensidad, exposición y concentración de los mismos
    </p>
    <ul>
        <li>
            Ruido (máquinas, herramientas, vehículos, motores, equipos de comunicación)
        </li>
        <li>
            Radiaciones no ionizantes: radiación solar, uso monitores de computador, celulares, antenas, hornos
            microondas, radares, soldadura.
        </li>
        <li>
            Radiaciones ionizantes: procedimientos médicos, procesos industriales, radiación solar.
        </li>
        <li>
            Ambiente caluroso o frío.
        </li>
        <li>
            Quemaduras ocasionadas por contacto con corriente eléctrica, superficies calientes, fuego.
        </li>
        <li>
            Vibraciones: de cuerpo entero o en segmentos corporales (maquinaria, equipos, herramientas con motor).
        </li>
    </ul>
</div>
{% endblock %}