{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<h1>Nuestras Empresas</h1>

<div class="diapositiva-3 content-diapositiva">

    
    <ul class="timeline timeline-inverse">
        <!-- timeline time label -->
        <li class="time-label">
            <span class="bg-red">
              1985 y 1992
            </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
            <i class="fa fa-building bg-blue"></i>

            <div class="timeline-item">
                <span class="time"><i class="far fa-clock"></i></span>
                <h3 class="timeline-header">Origen</h3>

                <div class="timeline-body">
                    Desde 1985 y 1992 PTA S.A.S y SERVILABOR S.A.S empresas del servicios del Grupo PTA, nacen brindando
                    soluciones de calidad a nuestros clientes en Colombia. En España Grupo Nortempo desde 1991 se posiciona
                    como una de las organizaciones líderes en la gestión de los RRHH de las compañias.
                </div>
            </div>
        </li>
        <!-- END timeline item -->
        <!-- END timeline item -->
        <!-- timeline time label -->
        <li class="time-label">
            <span class="bg-green">
                Hoy
            </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
            <i class="fa fa-camera bg-purple"></i>

            <div class="timeline-item">
                <span class="time"><i class="far fa-clock"></i></span>

                <h3 class="timeline-header">Ahora</h3>

                <div class="timeline-body">
                    Contamos con 8 oficinas en Colombia y más de 40 en España y Portugal
                </div>
            </div>
        </li>
        <!-- END timeline item -->
        <li class="time-label">
            <span class="bg-blue">
              Mañana
            </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
            <i class="fa fa-users bg-yellow"></i>

            <div class="timeline-item">
                <span class="time"><i class="far fa-clock"></i></span>
                <div class="timeline-body">
                    Nuestra visión es continuar haciendo un buen trabajo evolucionando con nuestros clientes.
                </div>
            </div>
        </li>
        <!-- END timeline item -->
        <li>
            <i class="far fa-clock bg-gray"></i>
        </li>
    </ul>
</div>
{% endblock %}