{% extends 'evaluacion/base.html.twig' %}

{% block body %}


<div class="content-diapositiva">
    <h1 class="mb30">INCIDENTE DE TRABAJO</h1>
    <p>
        Suceso acaecido en el curso del trabajo o en relación con éste, que tuvo el potencial de ser un accidente, en el
        que hubo personas involucradas sin que sufrieran lesiones o se presentaran daños a la propiedad y/o pérdida en
        los procesos
    </p>
    <div class="text-center">
        <img src="{{ asset('/build/images/sel/evaluacion/induccion/incidente-trabajo.png') }}" alt="incidente-trabajo"
             class="incidente-trabajo">
    </div>
</div>
{% endblock %}