{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15">
    <p>
        <strong class="underline">LOCATIVOS:</strong> Condiciones de las instalaciones, áreas de trabajo, superficies de
        desplazamiento, lugares frecuentados en actividades laborales incluyendo vía pública.
    </p>
    <ul>
        <li>
            Caídas a nivel por defectos y deterioro de la superficie de la vía.
        </li>
        <li>
            Torceduras al pisar desniveles o superficies sueltas (tabletas de andenes).
        </li>
        <li>
            Caída por escaleras.
        </li>
        <li>
            Caída en alcantarillas destapadas.
        </li>
        <li>
            Contusiones al caer a nivel o dentro de huecos.
        </li>
        <li>
            Torceduras o heridas al pisar tablas de estibas rotas.
        </li>
        <li>
            Desorden de las áreas de trabajo.
        </li>
        <li>
            Escaleras portátiles o fijas en mal estado.
        </li>
        <li>
            Pisos deslizantes o con sustancias que lo hacen deslizante.
        </li>
        <li>
            Contusiones generadas al chocar contra señales de tránsito, bolardos u otros elementos que sobresalen del
            piso.
        </li>
        <li>
            Acumulación de elementos y materiales propios o ajenos a la actividad, obsoletos, deteriorados.
        </li>
        <li>
            Almacenamiento inadecuado, daño de estantes, estantes no asegurados, sobre cargados o deformados.
        </li>
    </ul>
</div>
{% endblock %}