{% extends 'evaluacion/base.html.twig' %}

{% block body %}


<div class="diapositiva-4 content-diapositiva">
    <div class="mision">
        <h1>Misión: </h1>
        <p>
            Somos una organización responsable y comprometida en aportar talento humano de excelencia, con el propósito de
            superar las expectativas de las empresas usuarias aliadas, generando desarrollo social y humano, apoyados en la
            innovación y la tecnología.
        </p>
    </div>
    <div class="vision">
        <h1>Visión: </h1>
        <p>
            Respaldado por nuestra amplia experiencia en la administración de talento humano, nos posicionamos en el mercado
            como una de las empresas líderes del sector, incrementando las ventas en un 3% al año.
        </p>
    </div>
</div>
{% endblock %}