{% extends 'evaluacion/base-titulo.html.twig' %}

{% block body %}

<div class="content-diapositiva-titulo-back">

    <div class="content-diapositiva-titulo diapositiva-22">

        <div class="caja-centro-titulo">
            <b>Módulo 3.1</b>
        </div>
        <div class="caja-centro-titulo">
            Normatividad y Conceptos Básicos <br>
            Relacionados con Acoso Laboral
        </div>
    </div>
</div>
{% endblock %}