{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <p>
        <b>Entorpecimiento laboral:</b> toda acción tendiente a obstaculizar el cumplimiento de la labor o hacerla más gravosa
        o retardarla con perjuicio para el trabajador o empleado. Constituyen acciones de entorpecimiento laboral, entre
        otras, la privación, ocultación o inutilización de los insumos, documentos o instrumentos para la labor, la
        destrucción o pérdida de información, el ocultamiento de correspondencia o mensajes electrónicos.
    </p>
    <p>
        <b>Inequidad laboral:</b> Asignación de funciones a menosprecio del trabajador.
    </p>
    <p>
        <b>Desprotección laboral:</b> Toda conducta tendiente a poner en riesgo la integridad y la seguridad del trabajador
        mediante órdenes o asignación de funciones sin el cumplimiento de los requisitos mínimos de protección y
        seguridad para el trabajador.
    </p>
</div>
{% endblock %}