{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="diapositiva-35 content-diapositiva">
    <p class="mb30">
        Dise침ar, implementar y evaluar el desarrollo del Sistema de Gesti칩n en Seguridad y Salud en el trabajo.
    </p>
    <p class="mb30">
        Garantizar el cumplimiento de los requisitos normativos aplicables a la organizaci칩n
    </p>
    <p class="mb30">
        Fomentar el aprendizaje y mejorar las capacidades de los trabajadores aportando a su crecimiento integral.
    </p>
    <p class="mb30">
        Promover la mejora continua del Sistema de Gesti칩n de la Seguridad y Salud en el trabajo.
    </p>
    <p>
        Mantener la salud, seguridad y bienestar de nuestros trabajadores, previniendo los accidentes de trabajo,
        enfermedades laborales y ausentismo general
    </p>
</div>
{% endblock %}