{% extends 'evaluacion/base-titulo.html.twig' %}

{% block body %}

<div class="content-diapositiva-titulo-back">
    <div class="content-diapositiva-titulo diapositiva-22">
        <div class="caja-centro-titulo">
            OBJETIVOS DEL SISTEMA DE GESTIÓN DE LA SEGURIDAD Y SALUD EN EL TRABAJO<br> SG-SST
        </div>
    </div>
</div>
{% endblock %}