{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="content-diapositiva-mt15">
    <p class="mb30">
        Los peligros a los que nos encontramos expuestos en nuestras actividades rutinarias y no rutinarias son:
    </p>

    <p class="mb40">
        <strong class="underline">BIOMECÁNICOS</strong>: Aquellos que afectan músculos, huesos, tendones,
        articulaciones, ocasionando dolor e imposibilidad de movimiento, se dan principalmente por manipulación de
        cargas, sobre esfuerzo físico, posturas prolongadas, posturas inadecuadas y movimientos repetitivos.

    </p>

    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{{ asset('/build/images/sel/evaluacion/induccion/biomecanicos1.png') }}"
                 alt="biomecanicos1"
                 class="biomecanicos1">
        </div>
    </div>
</div>
{% endblock %}