{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="diapositiva-32 content-diapositiva">
    <p>
        PTA SAS, el personal de trabajadores de planta y el de los diferentes procesos de las empresas contratantes,
        se comprometen a establecer actividades de promoción y prevención en seguridad vial.
    </p>
    <p>
        Todos los integrantes de PTA SAS, somos responsables de participar de las actividades realizadas con el fin de
        disminuir la probabilidad de ocurrencia de accidentes de tránsito que puedan generar, lesiones físicas, mentales
        y sociales a los trabajadores, a la comunidad en general y al medio ambiente.
    </p>
    <p>
        Por ende PTA SAS, se compromete a aplicar los parámetros descritos en el Código Nacional de Tránsito Terrestre,
        según ley 769 de 2002, Ley 1503 de 2011, decreto 2851 de 2013 y resolución 1565 de 2014.
    </p>
    <p>
        Igualmente es compromiso de todos los que conformamos PTA SAS, realizar y vigilar que se realice mantenimiento
        preventivo y correctivo de los vehículos, realizar y participar de las capacitaciones periódicas realizadas al
        personal en temas de manejo defensivo y normas de seguridad vial. 
    </p>
    <p>
        La gerencia destinará los recursos financieros, técnicos y talento humano necesario para dar cumplimiento a la
        política. Todo esto enmarcado dentro del sistema de calidad en pro del mejoramiento continúo. 
    </p>
</div>
{% endblock %}