{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="diapositiva-29 content-diapositiva">
    <p>
        <strong>PTA S.A.S.</strong>, como una organización líder en servicios de suministro, selección, evaluación y administración de
        personal en misión para empresas usuarias de diferentes actividades económicas en todo el territorio nacional,
        convencida de la importancia de prevenir las lesiones y enfermedades causadas por las condiciones de trabajo, y
        de la protección y promoción de la salud de todos sus colaboradores, se compromete a:
    </p>
    <ul>
        <li>
            Implementar el Sistema de Gestión de la Seguridad y Salud en el Trabajo para la gestión de los riesgos
            laborales en todas sus sedes, dando cobertura a todo el personal, independiente de su forma de contratación
            o vinculación, incluyendo a sus trabajadores de planta, trabajadores en misión, estudiantes en práctica,
            visitantes, proveedores, contratistas y subcontratistas, que colaboran con su propósito empresarial.
        </li>
        <li>
            Unir esfuerzos con las empresas usuarias para proteger la integridad de sus trabajadores en misión,
            buscando mejorar las condiciones y el medio ambiente de trabajo, así como la salud en el trabajo, que
            conlleva la promoción y el mantenimiento del bienestar físico, mental y social de los trabajadores.
        </li>
        <li>
            Liderar y aplicar los estándares mínimos del SG-SST.
        </li>
        <li>
            Asignar los recursos humanos, físicos, financieros y todos aquellos que sean necesarios para la ejecución del SG-SST.
        </li>
    </ul>
</div>
{% endblock %}