{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="diapositiva-5 content-diapositiva">
    <p>
        Política de calidad: Satisfacer a nuestros clientes en el suministro de empleados en misión idóneos, garantizando
        la calidad de servicio a través del mejoramiento continuo de nuestros procesos
    </p>
    <p>
        Ofrecemos:
    </p>
    <ul>
        <li>Contrato laboral.</li>
        <li>Seguridad social</li>
        <li>Prestaciones sociales de ley</li>
    </ul>
    <br>
    <p>
        Su empleador directo es PTA SAS, con el cual usted ha firmado un contrato que tiene una duración por el
        término de la realización de la obra o labor determinada, contando con los siguientes beneficios:
    </p>
    <ul>
        <li>Salud con la EPS que usted elija.</li>
        <li>Pensión con la AFP que usted elija.</li>
        <li>ARL AXA COLPATRIA</li>
        <li>Caja de compensación familiar.</li>
    </ul>
</div>
{% endblock %}