{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <h3 class="text-center">
        RECUERDE QUE PUEDE PRESENTAR LA QUEJA O DENUNCIA DE PRESUNTO ACOSO LABORAL AL CORREO ELECTRÓNICO
        <br>
        <a href="mailto:comitedeconvivencia@pta.com.co">
            comitedeconvivencia@pta.com.co
        </a>
    </h3>
</div>
{% endblock %}