{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="diapositiva-34 content-diapositiva pt60">
    <p>
        Se considera psicoactivo a toda sustancia química de origen natural o sintético que, al introducirse por
        cualquier vía, ejerce un efecto directo sobre el sistema nervioso central; Incluido el alcohol y el tabaco.
    </p>
    <p>
        Es política de PTA SAS comprometerse a generar un ambiente de trabajo sano, seguro y adecuado para aquellos
        que trabajan en la empresa.
    </p>
    <p>
        Se entiende que dicho compromiso se puede ver alterado por diferentes motivos entre los cuales están:
    </p>
    <ul>
        <li>
            Presentarse al trabajo bajo la influencia de sustancias psicoactivas o en estado de post consumo o post embriaguez.
        </li>
        <li>
            Uso de sustancias psicoactivas durante la jornada laboral.
        </li>
        <li>
            Vender o distribuir sustancias psicoactivas en el sitio de trabajo.
        </li>
    </ul>
    <p>
        <strong>En cuanto a sustancias psicoactivas se establece:</strong>
    </p>
    <ul>
        <li>
            Se considera una violación a la política de la empresa que un empleado consuma sustancias psicoactivas,
            durante su jornada laboral, dentro o fuera de la propiedad o en vehículo de la empresa.
        </li>
        <li>
            Es obligación de cada empleado informar de forma inmediata a sus superiores, si debe utilizar por cuestiones
            médicas, algún tipo de medicamento que pudiera afectar el cumplimiento seguro de sus labores
        </li>
        <li>
            En <b>PTA SAS y empresas usuarias</b>, se podrán llevar a cabo y de forma no anunciada visitas de inspección en
            busca de sustancias consideradas como psicoactivas así como muestras de control a los trabajadores a partir
            de muestras de orina, aliento y/o sangre.
        </li>
    </ul>
</div>
{% endblock %}