{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="diapositiva-35 content-diapositiva">
    <p class="mb30">
        Se considera una violación a las políticas de la compañía que todo empleado que cumpla actividades que son de
        alta responsabilidad desde el punto de vista de la seguridad, asista  a trabajar en condiciones no aptas para realizar su labor.
    </p>
    <p class="mb30">
        La violación a esta política será considerada motivo suficiente para aplicar la sanción que P.T.A. SAS,
        estime conveniente, de acuerdo con las disposiciones legales y normatividad laboral vigentes en el territorio Nacional.
    </p>
    <p class="mb30">
        El no cumplimiento de esta esta política pueden tener por resultado medidas disciplinarias que pueden comprender:
    </p>
    <ul class="mb30">
        <li>
            Llamado de atención por escrito.
        </li>
        <li>
            Suspensión.
        </li>
        <li>
            Terminación de forma unilateral del contrato de trabajo por justa causa.
        </li>
    </ul>
    <p>
        Del respeto por estás normas depende el buen funcionamiento y aseguramiento en la calidad de nuestra empresa.
    </p>
</div>
{% endblock %}