{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <h2>Procedimiento para la Recepción, Manejo y Solución de los casos de Acoso Laboral</h2>
    <ul>
        <li>
            El Comité de Convivencia Laboral realizará las siguientes actividades:
            <ul>
                <li>
                    Formular las recomendaciones que se estimaren pertinentes para reconstruir,
                    renovar y mantener vida laboral conveniente en las situaciones presentadas,
                    manteniendo el principio de la confidencialidad en los casos que así lo ameritaren.
                </li>
                <li>
                    Hacer seguimiento a los compromisos adquiridos por las partes involucradas
                    en la queja, verificando su cumplimiento de acuerdo a lo pactado.
                </li>
                <li>
                    En aquellos casos en que no se llegue a un acuerdo entre las partes, no se cumplan las
                    recomendaciones formuladas o la conducta persista, el Comité de Convivencia Laboral, deberá remitir
                    la queja a la Procuraduría General de la Nación, tratándose del sector público. En el sector
                    privado, el Comité informará a la alta dirección de la empresa, cerrará el caso y el trabajador
                    puede presentar la queja ante el inspector de trabajo o demandar ante el juez competente.
                </li>
                <li>
                    Presentar a la alta dirección de la entidad pública o la empresa privada las recomendaciones para el
                    desarrollo efectivo de las medidas preventivas y correctivas del acoso laboral, así como el informe
                    anual de resultados de la gestión del Comité de Convivencia Laboral y los informes requeridos por
                    los organismos de control.
                </li>
                <li>
                    Hacer seguimiento al cumplimiento de las recomendaciones dadas por el Comité de Convivencia a las
                    dependencias de gestión del recurso humano y salud ocupacional de las empresas e instituciones
                    públicas y privadas.
                </li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}