{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva">
    <h2>Procedimiento para la Recepción, Manejo y Solución de los casos de Acoso Laboral</h2>
    <ul>
        <li>
            Recibidas las solicitudes para evaluar posibles situaciones de Acoso Laboral, el Comité en
            la sesión respectiva las examinará, escuchando, si a ello hubiere lugar, a las personas
            involucradas; constituirá con tales personas la recuperación de tejido conveniente si fuere
            necesario; formulará las recomendaciones que estime indispensables y, en casos
            especiales, promoverá entre los involucrados compromisos de convivencia
        </li>
        <li>
            Si como resultado de la actuación del Comité, éste considerare prudente adoptar medidas
            disciplinarias, dará traslado de las recomendaciones y sugerencias a los funcionarios o
            trabajadores competentes de la empresa, para que adelanten los procedimientos que
            correspondan de acuerdo con lo establecido para estos casos en la Ley y en el presente
            Reglamento.
        </li>
        <li>
            En todo caso, el procedimiento preventivo interno consagrado en este artículo, no impide o
            afecta el derecho de quien se considere víctima de Acoso Laboral para adelantar las
            acciones administrativas y judiciales establecidas para tal efecto en la Ley 1010 de 2006.
        </li>
    </ul>
</div>
{% endblock %}