{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="content-diapositiva">
    <ol start="4">
        <li>
            Señor trabajador, <strong class="texto-rojo">
                diríjase a la clínica u hospital que le indicaron en la línea de la ARL AXA COLPATRIA</strong>.

        </li>
        <li>
            Notifique a la empresa usuaria y a PTA dentro de las siguientes 24 horas luego de la atención de urgencias,
            la incapacidad que le hayan otorgado como consecuencia del accidente a los correos
            <a href="mailto:salud.ocupacional@pta.com.co">salud.ocupacional@pta.com.co </a> y
            <a href="mailto:asistente.sst@pta.com.co">asistente.sst@pta.com.co</a>
            <strong class="texto-rojo">(no debe ausentarse del trabajo sin causa justificada)</strong>
        </li>
        <li>
            Señor trabajador, entregue o haga llegar la incapacidad original a PTA o a la empresa usuaria dentro de las
            mismas 24 horas luego del accidente.

        </li>
        <li>
            En caso de requerir autorizaciones para otros servicios derivados del accidente de trabajo, remítase a la
            página web de PTA, sección Noticias, documentos laborales en el link:
            <br>
            <a href="https://www.pta.com.co/pages/blog/que-hacer-despues-de-atencion-urgencias-por-accidente-de-trabajo.pdf"
               target="_blank">
                https://www.pta.com.co/pages/blog/que-hacer-despues-de-atencion-urgencias-por-accidente-de-trabajo.pdf
            </a>
        </li>
    </ol>

    <p>
        Allí encontrará la información por cada ciudad para autorizaciones y medicamentos <strong class="texto-rojo">únicamente</strong>
        por causa de <strong class="texto-rojo">Accidente de Trabajo</strong> con la <strong class="texto-rojo">ARL AXA
            COLPATRIA</strong>.

    </p>
</div>
{% endblock %}