{% extends 'evaluacion/base.html.twig' %}

{% block body %}



<div class="diapositiva-25 content-diapositiva">
    <h1 class="mb30">¿QUÉ CONTIENE O INCLUYE EL SG-SST?</h1>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Evaluación inicial (normas, peligros, acciones implementadas,
            programa de capacitación, descripción socio demográfica y de condiciones de salud, estadísticas de
            enfermedad y accidentalidad).

        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Política
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Objetivos y Metas.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Indicadores
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Identificación de peligros, evaluación y valoración de riesgos.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Plan de trabajo anual.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Plan de capacitación.
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked disabled> Documentación y registros.
        </label>
    </div>
</div>
{% endblock %}