{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15 pt60">
    <h1>¿Qué es el Sistema General de Riesgos Laborales?</h1>
    <p class="mb30">El Sistema General de Riesgos Laborales articula el sistema de prevención de accidentes de trabajo y enfermedades
        laborales a través de planes de salud ocupacional y prevención de riesgos al tiempo de atender los siniestros
        laborales por medio de las prestaciones de subsidio por incapacidad, indemnización por incapacidad permanente
        parcial, pensión de invalidez y pensión de sobrevivientes.</p>
    <p class="mb30">El sistema reconoce las siguientes prestaciones:</p>
    <p class="mb30">Prestaciones asistenciales hasta la recuperación del afectado.</p>
    <p class="mb30"><strong>Prestaciones ecónomicas:&nbsp;</strong></p>
    <ul>
        <li>Subsidio por incapacidad por accidente o enfermedad laboral.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>Indemnización por pérdida de capacidad laboral.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>Pensión de invalidez.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>Sustitución pensional.</li>
        <li>Auxilio funerario.</li>
    </ul>
    <p class="referencia">
        Tomado de <a
                href="http://www.mintrabajo.gov.co/empleo-y-pensiones/empleo/subdireccion-de-formalizacion-y-proteccion-del-empleo/formalizacion-laboral/que-es-el-sistema-general-de-riesgos-laborales"
                target="_blank">
            http://www.mintrabajo.gov.co/empleo-y-pensiones/empleo/subdireccion-de-formalizacion-y-proteccion-del-empleo/formalizacion-laboral/que-es-el-sistema-general-de-riesgos-laborales
        </a>
    </p>
</div>
{% endblock %}