{% extends 'evaluacion/base.html.twig' %}

{% block body %}
<div class="content-diapositiva-mt15 pt60">
    <h1>¿Qué es la Seguridad Social?</h1>
    <p>
        La seguridad social es el conjunto armónico de entidades públicas y privadas, normas y procedimientos y está
        conformado por los regímenes generales establecidos para pensiones, salud, riesgos laborales, subsidio familiar
        y los servicios sociales complementarios que se definen en la ley. Este es un sistema que cubre eventualidades
        como la de alteración a la salud, incapacidad laboral, desempleo, vejez y muerte, para cuya protección se
        establecieron los sistemas de Salud, Pensiones, Riesgos Laborales y de Subsidio Familiar.
    </p>
    <div class="row">
        <div class="col-sm-6">
            <h4>Beneficios para trabajadores</h4>
            <ul>
                <li>Garantía de protección de los derechos fundamentales.</li>
                <li>Prestaciones asistenciales y económicas para el trabajador y su familia.</li>
                <li>Generación de ingresos que mejoran la económica doméstica.</li>
                <li>Recreación y cultura para el trabajador y la familia.</li>
                <li>Seguridad y salud en el trabajo.</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>Beneficios para empleadores</h4>
            <ul>
                <li>Permitir que los trabajadores y sus familias se beneficien del sistema de seguridad social
                    integral.
                </li>
                <li>Crear y mantener un ambiente laboral seguro para los trabajadores y contratistas.</li>
                <li>Cobertura de los riesgos por parte del sistema</li>
                <li>Cumplimiento de las normas</li>
                <li>Aumento de la productividad del negocio.</li>
            </ul>
        </div>
    </div>
    <p class="referencia">
        Tomado de <a href="http://www.mintrabajo.gov.co/empleo-y-pensiones/empleo/subdireccion-de-formalizacion-y-proteccion-del-empleo/que-es-la-seguridad-social" target="_blank">
            http://www.mintrabajo.gov.co/empleo-y-pensiones/empleo/subdireccion-de-formalizacion-y-proteccion-del-empleo/que-es-la-seguridad-social
        </a>
    </p>
</div>
{% endblock %}