{% extends 'evaluacion/base.html.twig' %}

{% block body %}

<div class="content-diapositiva">
    <h1 class="mb40">RESPONSABILIDADES DE LOS TRABAJADORES FRENTE AL SG-SST</h1>
    <ul>
        <li>
            Procurar el cuidado integral de su salud.
        </li>
        <li>
            Suministrar información clara, veraz y completa sobre su estado de salud.
        </li>
        <li>
            Cumplir las normas, reglamentos e instrucciones del Sistema de Gestión de la Seguridad y Salud en el
            Trabajo de la empresa y asistir periódicamente a los programas de promoción y prevención adelantados por
            la Administradoras de Riesgos Laborales.
        </li>
        <li class="texto-azul">
            Informar oportunamente al empleador o contratante acerca de los peligros y riesgos latentes en su sitio de trabajo.
        </li>
        <li>
            Participar en las actividades de capacitación en seguridad y salud en el trabajo definido en el plan de
            capacitación del SG-SST.
        </li>
        <li>
            Participar y contribuir al cumplimiento de los objetivos del Sistema de Gestión de la Seguridad y Salud en el Trabajo SG-SST.
        </li>
    </ul>
</div>
{% endblock %}