{% extends 'evaluacion/base.html.twig' %}

{% block body %}


<div class="content-diapositiva">
    <h1 class="mb30">SEGURIDAD Y SALUD EN EL TRABAJO (Salud Ocupacional)</h1>
    <p>
        Disciplina que trata de la prevención de las lesiones y enfermedades causadas por las condiciones de trabajo,
        y de la protección y promoción de la salud de los trabajadores. Tiene por objeto mejorar las condiciones y el
        medio ambiente de trabajo, así como la salud en el trabajo, que conlleva la promoción y el mantenimiento del
        bienestar físico, mental y social de los trabajadores en todas las ocupaciones.
    </p>
</div>
{% endblock %}