// @import 'component/admin-header-nav-features';
// @import 'component/admin-nav';
@import 'helper/variables';

.body {
  background: #ecedf0;
  width: 100%;
}

.page-header {
  background: transparent;
  padding-top: 112px;
}
@media (min-width: $menu-min-width) {
  body #body.menu-open .page-header  {
    top: 158px;
  }
}

table {
  background: #fdfdfd;
}

