@import '~simple-line-icons/scss/simple-line-icons.scss';
@import 'component/index-hero';
@import 'helper/variables';

.btn-empr-bg{
  background: rgba(255, 255, 255, 0.72);
}
.btn-empl-bg{
  background: rgba(255, 255, 255, 0.72);
}

.side-container a:hover {
  color: $tertiary
}

/** --- cualidades --- **/
section.cualidades.section.section-height-5 {
  padding-bottom: 0;
}