{% extends 'pta/base.html.twig' %}

{% block title %}
    PTA - Iniciar sesión
{% endblock %}


{% block body %}


<div class="container">

    <div class="row">
        <div class="col">

            <div class="featured-boxes">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="featured-box featured-box-primary text-left mt-5">
                            <div class="box-content">
                                {{ include('security/_login-form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}