{% extends 'servilabor/base.html.twig' %}

{% block body_header %}
    <!-- Promo Block -->
    <section class="g-brd-bottom g-brd-gray-light-v4">
        <div class="container g-py-150">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                    <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Aviso de privacidad</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End Promo Block -->
{% endblock %}

{% block body %}
    <section class="container g-py-100">
        <div class="g-mb-50">
            <div class="mb-4">
                <p>
                    SERVILABOR S.A.S., sociedad colombiana, identificada con NIT No. 800.154.576-3, con domicilio principal en
                    la ciudad de Bogotá, ubicada en {{ configuracion.dir }}, con teléfono {{ configuracion.tel }}, y correo electrónico
                    <a href="mailto:datospersonales@servilabor.com.co">datospersonales@servilabor.com.co</a>
                    como responsable del tratamiento de datos personales de terceros, y en cumplimiento de lo
                    dispuesto por la ley estatutaria 1581 de 2012, reglamentada por el Decreto Nacional 1377 de 2013,
                    el Decreto 1074 de 2015, y sus fundamentos constitucionales respecto a la protección de la intimidad,
                    información de las personas y el derecho al habeas data; pone a disposición de todos los titulares de
                    la información el presente aviso de privacidad.
                </p>
                <p>
                    Sus datos personales serán tratados con el fin de cumplir el objeto social de la empresa, se usarán
                    de forma responsable, bajo los estándares legales y de seguridad pertinentes y serán utilizados en
                    general para las siguientes finalidades descritas y ampliadas en la Política de tratamiento de
                    datos puesta a disposición del público general por parte de SERVILABOR:
                </p>
                <ul>
                    <li>
                        Adelantar todas las gestiones tendientes al normal desarrollo del objeto social de la empresa.
                    </li>
                    <li>
                        Generación de ficheros internos.
                    </li>
                    <li>
                        Adelantar todas las gestiones tendientes para lograr un exitoso proceso de selección de
                        empleados.
                    </li>
                    <li>
                        Contacto y conocimiento de clientes, empleados, prospectos, proveedores, entre otros.
                    </li>
                    <li>
                        Generación y envío de correspondencia y comunicaciones dirigidas a informar situaciones de interés
                        sobre la empresa y los servicios que presta.
                    </li>
                    <li>
                        Dar cumplimiento a obligaciones legales, contractuales, contables y tributarias.
                    </li>
                    <li>
                        Cuando ello se considera necesario, entrega de información a terceros encargados del tratamiento
                        de la información vinculados contractualmente con SERVILABOR para ejercer actos
                        tendientes a lograr el pleno cumplimiento del objeto social de la empresa.
                    </li>
                    <li>
                        Solicitud y elaboración de cotizaciones, propuestas, elaboración de órdenes de servicio.
                    </li>
                    <li>
                        Pago y cobro de facturas generadas a favor o a cargo de SERVILABOR.
                    </li>
                </ul>
                <p>
                    Las finalidades específicas según cada base de datos se podrán encontrar desarrolladas en la Política
                    de Tratamiento de Datos adoptada por SERVILABOR.
                </p>
                <p>
                    El titular de los datos de acuerdo con lo dispuesto por la ley conserva su capacidad facultativa de
                    entregar datos sensibles, y si así lo hiciere reconoce que SERVILABOR S.A.S., los tratará mediante altos estándares de reserva y seguridad, en consideración a su calidad.
                </p>
                <p>
                    Los titulares de la información en cualquier momento podrán consultar las Políticas de Tratamiento
                    de datos de la compañía, así como ejercer los derechos de acceder, rectificar, actualizar y
                    suprimir sus datos de conformidad con los requisitos y trámites dispuestos para tal efecto por
                    SERVILABOR S.A.S., a través del canal:
                    <a href="mailto:datospersonales@servilabor.com.co">datospersonales@servilabor.com.co.</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}



