/* DETALLE ---------------------------------------------------------------------------------------------------------- */
#hv-detalle {
  #basicos {

    .profile {
      .img-wrap {
        background: #E1E1E1;
        width: 261px;
        height:141px;
      }

      .identificacion-tipo {
        font-size: .7em;
      }
    }
  }
}
