{% macro search(idInput, idButton) %}
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar..." id="{{ idInput }}">
        <span class="input-group-append">
            <button class="btn btn-default" type="button" id="{{ idButton }}">
                <i class="fas fa-search"></i>
            </button>
        </span>
    </div>
{% endmacro %}