<!-- Our Services -->
<section class="g-py-100">
    <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                <h2 class="h1 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-700">
                    OUTSOURCING
                </h2>
            </div>
            <p class="g-font-size-16">
                Brindamos gestión de recursos humanos dando <strong>mayor elasticidad</strong> que permite a nuestros clientes
                <strong>centrarse en la parte esencial de su negocio</strong>, depositando tareas auxiliares y especializadas en nuestras manos.
            </p>
        </header>

        <div class="row justify-content-center g-mb-20">
            <div class="col-md-6 col-lg-4 g-mb-50 g-mb-0--lg">
                <!-- Services -->
                <div class="u-shadow-v28 g-bg-white text-left rounded g-py-40">
                    <!-- Services - Header -->
                    <header class="text-center g-px-30 mb-5">
                        <div class="g-mb-25">
                  <span class="u-icon-v2 u-icon-size--md g-brd-gray-light-v4 g-color-primary rounded-circle">
                      <i class="icon-finance-211 u-line-icon-pro"></i>
                    </span>
                        </div>
                        <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Servicio de Logística</h2>
                    </header>
                    <!-- End Services - Header -->

                    <!-- Services - List -->
                    <ul class="list-unstyled mb-0">
                        <li class="d-flex align-items-center g-px-35 g-py-15">
                            <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                            </svg>
                            <span class="g-color-text ml-3">Gestión integral de almacén</span>
                        </li>
                        <li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
                            <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                            </svg>
                            <span class="g-color-text ml-3">Servicios auxiliares del ciclo productivo</span>
                        </li>
                    </ul>
                    <!-- End Services - List -->
                </div>
                <!-- End Services -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-50 g-mb-0--lg">
                <!-- Services -->
                <div class="u-shadow-v29 g-bg-primary text-left rounded g-py-40">
                    <!-- Services - Header -->
                    <header class="text-center g-px-35 mb-5">
                        <div class="g-mb-25">
                  <span class="u-icon-v3 u-icon-size--md g-color-text g-bg-secondary rounded-circle">
                      <i class="icon-finance-257 u-line-icon-pro"></i>
                    </span>
                        </div>
                        <h2 class="h5 g-color-white g-font-weight-600">Servicios Corporativos</h2>
                    </header>
                    <!-- End Services - Header -->

                    <!-- Services - List -->
                    <ul class="list-unstyled g-color-white-opacity-0_8 mb-0">
                        <li class="d-flex align-items-center g-px-35 g-py-15">
                            <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#fff"></path>
                            </svg>
                            <span class="ml-3">Servicios de control</span>
                        </li>
                        <li class="d-flex align-items-center u-shadow-v19 g-bg-white-opacity-0_1 g-px-35 g-py-15">
                            <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#fff"></path>
                            </svg>
                            <span class="ml-3">Servicios auxiliares</span>
                        </li>
                        <li class="d-flex align-items-center g-px-35 g-py-15">
                            <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#fff"></path>
                            </svg>
                            <span class="ml-3">Servicios administrativos</span>
                        </li>
                    </ul>
                    <!-- End Services - List -->
                </div>
                <!-- End Services -->
            </div>

            <div class="col-md-6 col-lg-4">
                <!-- Services -->
                <div class="u-shadow-v28 g-bg-white text-left rounded g-py-40">
                    <!-- Services - Header -->
                    <header class="text-center g-px-35 mb-5">
                        <div class="g-mb-25">
                  <span class="u-icon-v2 u-icon-size--md g-brd-gray-light-v4 g-color-primary rounded-circle">
                      <i class="icon-communication-164 u-line-icon-pro"></i>
                    </span>
                        </div>
                        <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Servicio de Mercadeo</h2>
                    </header>
                    <!-- End Services - Header -->

                    <!-- Services - List -->
                    <ul class="list-unstyled mb-0">
                        <li class="d-flex align-items-center g-px-35 g-py-15">
                            <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                            </svg>
                            <span class="g-color-text ml-3">Gestión de punto de venta / mercaderistas</span>
                        </li>
                        <li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
                            <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                            </svg>
                            <span class="g-color-text ml-3">Promociones / eventos</span>
                        </li>
                        <li class="d-flex align-items-center g-px-35 g-py-15">
                            <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                            </svg>
                            <span class="g-color-text ml-3">Atención al cliente</span>
                        </li>
                    </ul>
                    <!-- End Services - List -->
                </div>
                <!-- End Services -->
            </div>
        </div>
    </div>
</section>
<!-- End Our Services -->


<!-- Counter -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll">
    <!-- Parallax Image -->
    <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-repeat g-bg-white-gradient-opacity-v1--after" style="height: 160%;"></div>
    <!-- End Parallax Image -->

    <div class="container u-bg-overlay__inner g-color-white g-py-100">
        <header class="text-center g-width-80x--md mx-auto g-mb-70">
            <div class="u-heading-v6-2 text-center text-uppercase g-mb-20">
                <h6 class="g-font-size-12 g-font-weight-600">Nuestra solución</h6>
                <h2 class="h3 u-heading-v6__title g-brd-primary g-font-weight-600">BENEFICIOS DE LA EXTERNALIZACIÓN</h2>
            </div>
            <p class="lead">4 razones principales para externalizar</p>
        </header>

        <div class="row">
            <!-- Counter Pie Chart -->
            <div class="col-lg-6 g-mb-60">
                <div class="media">
                    <div class="g-height-140 g-width-140 g-mr-30">
                        <div class="js-pie-rtl u-chart-pie-v1 g-brd-purple g-height-140 g-width-140">
                            <div class="circles-wrp" style="position: relative; display: inline-block;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140"
                                     style="transform: matrix(-1, 0, 0, 1, 0, 0);">
                                    <path fill="transparent" stroke="#111" stroke-width="2"
                                          d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 Z"
                                          class="circles-maxValueStroke"></path>
                                    <path fill="transparent" stroke="#9a69cb" stroke-width="2"
                                          d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 "
                                          class="circles-valueStroke"></path>
                                </svg>
                                <div class="circles-text"
                                     style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 35px; height: 140px; line-height: 140px;">
                                    1
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="media-body align-self-center g-line-height-2">
                        <h4 class="h5 g-font-weight-400 g-letter-spacing-1 g-mb-15">
                            Aporte de Competitividad
                        </h4>
                        <p class="mb-0 g-color-white-opacity-0_8">
                            Delegar las actividades auxiliares le ayuda a pasar de la ejecución a la estrategia.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Counter Pie Chart -->

            <!-- Counter Pie Chart -->
            <div class="col-lg-6 g-mb-60">
                <div class="media">
                    <div class="g-height-140 g-width-140 g-mr-30">
                        <div class="js-pie-rtl u-chart-pie-v1 g-brd-pink g-height-140 g-width-140">
                            <div class="circles-wrp" style="position: relative; display: inline-block;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140"
                                     style="transform: matrix(-1, 0, 0, 1, 0, 0);">
                                    <path fill="transparent" stroke="#111" stroke-width="2"
                                          d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 Z"
                                          class="circles-maxValueStroke">
                                    </path>
                                    <path fill="transparent" stroke="#e81c62" stroke-width="2"
                                          d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 "
                                          class="circles-valueStroke">
                                    </path>
                                </svg>
                                <div class="circles-text"
                                     style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 35px; height: 140px; line-height: 140px;">
                                    2
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="media-body align-self-center g-line-height-2">
                        <h4 class="h5 g-font-weight-400 g-letter-spacing-1 g-mb-15">Ahorro de Costos</h4>
                        <p class="mb-0 g-color-white-opacity-0_8">
                            Podemos reducir el impacto de su coste en la cuenta de resultados a través de la externalización.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Counter Pie Chart -->
        </div>

        <div class="row">
            <!-- Counter Pie Chart -->
            <div class="col-lg-6 g-mb-60 g-mb-0--lg">
                <div class="media">
                    <div class="g-height-140 g-width-140 g-mr-30">
                        <div class="js-pie-rtl u-chart-pie-v1 g-brd-cyan g-height-140 g-width-140">
                            <div class="circles-wrp" style="position: relative; display: inline-block;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140"
                                     style="transform: matrix(-1, 0, 0, 1, 0, 0);">
                                    <path fill="transparent" stroke="#111" stroke-width="2"
                                          d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 Z"
                                          class="circles-maxValueStroke">
                                    </path>
                                    <path fill="transparent" stroke="#00bed6" stroke-width="2"
                                          d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 "
                                          class="circles-valueStroke">
                                    </path>
                                </svg>
                                <div class="circles-text"
                                     style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 35px; height: 140px; line-height: 140px;">
                                    3
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="media-body align-self-center g-line-height-2">
                        <h4 class="h5 g-font-weight-400 g-letter-spacing-1 g-mb-15">
                            Flexibilidad de Recursos
                        </h4>
                        <p class="mb-0 g-color-white-opacity-0_8">
                            El objetivo es tener los recursos que necesita sólo cuando los necesita.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Counter Pie Chart -->

            <!-- Counter Pie Chart -->
            <div class="col-lg-6">
                <div class="media">
                    <div class="g-height-140 g-width-140 g-mr-30">
                        <div class="js-pie-rtl u-chart-pie-v1 g-brd-primary g-height-140 g-width-140">
                            <div class="circles-wrp" style="position: relative; display: inline-block;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140"
                                     style="transform: matrix(-1, 0, 0, 1, 0, 0);">
                                    <path fill="transparent" stroke="#111" stroke-width="2"
                                          d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 Z"
                                          class="circles-maxValueStroke">
                                    </path>
                                    <path fill="transparent" stroke="#72c02c" stroke-width="2"
                                          d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 "
                                          class="circles-valueStroke">
                                    </path>
                                </svg>
                                <div class="circles-text"
                                     style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 35px; height: 140px; line-height: 140px;">
                                    4
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="media-body align-self-center g-line-height-2">
                        <h4 class="h5 g-font-weight-400 g-letter-spacing-1 g-mb-15">
                            Aumento de la Calidad de Servicio
                        </h4>
                        <p class="mb-0 g-color-white-opacity-0_8">
                            Adquisición de conocimiento de la situación de la empresa.
                            Transformación de procesos y aporte de conocimiento propio.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Counter Pie Chart -->
        </div>

    </div>
</section>
<!-- End Counter -->

<!-- Section 6 -->
<section class="g-py-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center text-center g-overflow-hidden g-mt-50--md g-mb-0--md">
                <img class="img-fluid w-75" src="{{ asset('img/servilabor/lluvia-ideas-75.jpg') }}" alt="Image Description">
            </div>

            <div class="col-md-6 align-self-center">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                        Valores agregados
                    </h2>
                </div>

                <div class="g-font-size-18 g-line-height-2 g-mb-30">
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                        <li><i class="fa fa-check"></i> Análisis de costes.</li>
                        <li><i class="fa fa-check"></i> Análisis de productividad.</li>
                        <li><i class="fa fa-check"></i> Análisis Workflow (procesos).</li>
                        <li><i class="fa fa-check"></i> Parametrización de proyectos.</li>
                        <li><i class="fa fa-check"></i> Coordinador especializado de proyectos.</li>
                        <li><i class="fa fa-check"></i> Gestión en los procesos de producción.</li>
                        <li><i class="fa fa-check"></i> Controles de calidad.</li>
                        <li><i class="fa fa-check"></i> Medios Materiales.</li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- End Section 6 -->