<!-- Icon Blocks -->
<section class="g-bg-secondary">
    <div class="container g-py-100">
        <div class="row justify-content-center g-mb-60">
            <div class="col-lg-7">
                <!-- Heading -->
                <div class="text-center">
                    <h2 class="h1 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-700">
                        Payroll
                    </h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                </div>
                <!-- End Heading -->
            </div>
        </div>


        <div class="masonry-grid row g-mb-70">

            <div class="masonry-grid-item col-sm-6 col-lg-4 ">

                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-education-087 u-line-icon-pro"></i>
                  </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Control en los costos del procesamiento de la nómina</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">
                                Al tener la oportunidad de conocer
                                con certeza cuál es el costo real de procesar la nómina de su Compañía.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-finance-256 u-line-icon-pro"></i>
                  </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Confidencialidad</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">
                                Asegura que su información no sea manipulada ó
                                utilizada indebidamente en beneficio de terceros.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-finance-256 u-line-icon-pro"></i>
                  </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Mayor satisfacción</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">
                                De sus empleados por contar con un servicio
                                eficiente, oportuno y con calidad.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-finance-256 u-line-icon-pro"></i>
                  </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Acceso a variedad de reportes</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">
                                Que le permiten hacer una mejor administración del proceso de nómina.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-grid-item col-sm-6 col-lg-4 ">
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-education-035 u-line-icon-pro"></i>
                  </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Control del proceso</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">
                                Ya que el contrato con <b>SERVILABOR</b>, está basado en
                                acuerdos de servicio de obligatorio cumplimiento, lo cual garantiza que los tiempos y
                                acuerdos siempre se cumplirán.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-science-020 u-line-icon-pro"></i>
                  </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Continuidad</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">
                                El Procesamiento funciona permanentemente, sin depender de la labor de una persona
                                específica, y por lo tanto, sin los problemas generados en caso de la ausencia de ésta.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-science-020 u-line-icon-pro"></i>
                  </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Flexibilidad</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">
                                Al contar con una herramienta que se puede ajustar a las condiciones específicas de la
                                empresa.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-finance-009 u-line-icon-pro"></i>
                  </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Facilidad</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">
                                En el reporte de novedades a través de diferentes medios.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-grid-item col-sm-6 col-lg-4 ">
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-finance-009 u-line-icon-pro"></i>
                  </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Oportunidad</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">
                                En la generación y pago de la nómina a los empleados..
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-education-141 u-line-icon-pro"></i>
                  </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Seguridad jurídica</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">
                                Al contar con personas expertas en el manejo de nómina que le minimicen
                                demandas por inconsistencias en la misma y en el almacenamiento de la información al
                                contar con
                                tecnología de punta que garantiza su conservación en el tiempo.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-shadow-v19 g-bg-white rounded g-pa-30 g-mb-30">
                    <div class="media g-mb-15">
                        <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-science-020 u-line-icon-pro"></i>
                  </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h5 g-color-black mb-20">Acceso a una herramienta de alta tecnología</h3>
                            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                            <p class="g-color-gray-dark-v4 g-mb-0">
                                Sin tener que hacer una alta inversión en la compra,
                                licenciamiento, mantenimiento, capacitación de usuarios, entre otros.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 align-self-center text-center g-overflow-hidden g-mt-50--md g-mb-0--md">
                <img class="img-fluid w-75" src="{{ asset('img/servilabor/payroll-software.jpg') }}" alt="payroll software">
            </div>

            <div class="col-md-6 align-self-center">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                        Software de Nómina
                    </h2>
                </div>

                <div class="g-font-size-18 g-line-height-2 g-mb-30">
                    <ul class="list-unstyled lists-v2 margin-bottom-30">
                        <li><i class="fa-li fa fa-check"></i>
                            Manejo Integral la información de Nomina y Autoliquidación de Personal.
                        </li>
                        <li><i class="fa-li fa fa-check"></i>
                            Cobertura de la totalidad de los procesos de Nomina es un solo sistema: Contratos laborales, Novedades,
                            pago de nómina, generación de cupones de pago, cálculo y pago de prestaciones y liquidaciones de contrato,
                            autoliquidación de aportes, parafiscales, interface a contabilidad.
                        </li>
                        <li><i class="fa-li fa fa-check"></i>
                            Integra la información  de liquidación de nómina con las novedades que afectan la seguridad social para generar
                            automáticamente la Planilla Única de Aportes.
                        </li>
                        <li><i class="fa-li fa fa-check"></i>
                            Plataforma WEB que facilita su uso desde cualquier lugar del mundo.
                        </li>
                        <li><i class="fa-li fa fa-check"></i>
                            Generación de medios magnéticos para la DIAN.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- End Blog Classic Blocks -->

</section>

