<!-- Our Services -->
<section class="g-py-100">
    <div class="container">
        <header class="text-center g-width-60x--md mx-auto">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                <h2 class="h1 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-700">
                    RPO
                </h2>
            </div>
            <p class="g-font-size-16">
                <strong>Recruitment Process Outsourcing</strong> es la transferencia de la responsabilidad operacional de
                una o varias funciones o etapas del proceso de selección, desde el cliente a Servilabor.
                El concepto de equipo dedicado en exclusiva es esencial.
            </p>
        </header>
    </div>
</section>
<!-- End Our Services -->

<!-- Icon Blocks -->
<section class="g-bg-secondary">
    <div class="container g-pb-40">
        <!-- Icon Blocks -->
        <div class="row">

            <div class="col-lg-12">
                <!-- Heading -->
                    <h2 class="h3 g-color-black text-uppercase mb-2">Posibles elementos de un RPO</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                <!-- End Heading -->
            </div>
            <div class="col-lg-4 align-self-center g-mb-30">
                <!-- Icon Blocks -->
                <div class="media g-mb-30">
                    <div class="d-flex mr-4">
                <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                  <i class="icon-like"></i>
                </span>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 g-color-black mb-20">Administración y gestión</h3>
                    </div>
                </div>
                <!-- End Icon Blocks -->

                <!-- Icon Blocks -->
                <div class="media g-mb-30">
                    <div class="d-flex mr-4">
                <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                  <i class="icon-bubbles"></i>
                </span>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 g-color-black mb-20">Apoyo tecnológico</h3>
                    </div>
                </div>
                <!-- End Icon Blocks -->

                <!-- Icon Blocks -->
                <div class="media g-mb-30">
                    <div class="d-flex mr-4">
                <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                  <i class="icon-user-following"></i>
                </span>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 g-color-black mb-20">Reclutamiento, filtro, evaluación y selección</h3>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 align-self-center g-mb-30">
                <!-- Icon Blocks -->
                <div class="media g-mb-30">
                    <div class="d-flex mr-4">
                <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                  <i class="icon-drawer"></i>
                </span>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 g-color-black mb-20">Sistema de reportes</h3>
                    </div>
                </div>
                <!-- End Icon Blocks -->

                <!-- Icon Blocks -->
                <div class="media g-mb-30">
                    <div class="d-flex mr-4">
                <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                  <i class="icon-directions"></i>
                </span>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 g-color-black mb-20">Movilidad interna</h3>
                    </div>
                </div>
                <!-- End Icon Blocks -->

                <!-- Icon Blocks -->
                <div class="media g-mb-30">
                    <div class="d-flex mr-4">
                <span class="u-icon-v3 u-icon-size--sm g-color-white g-bg-primary rounded-circle">
                  <i class="icon-screen-tablet"></i>
                </span>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 g-color-black mb-20">Detección de talento interno</h3>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 align-self-center g-mb-30">
                <div class="g-px-10">
                    <img class="img-fluid" src="{{ asset('img/servilabor/RPO-70.jpg') }}" alt="RPO image">
                </div>
            </div>
        </div>
        <!-- End Icon Blocks -->
    </div>
</section>
<!-- End Icon Blocks -->