{% extends 'hv_admin/listado-base.html.twig' %}

{% block listado_content %}
    <div class="search-control-wrapper">
        <form method="get">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" value="{{ search }}" name="search">
                    <span class="input-group-append">
                        <button class="btn btn-primary" type="button">Buscar</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    {#<div class="search-toolbar">
        <ul class="list-unstyled nav nav-tabs nav-pills">
            <li class="nav-item active">
                <a class="nav-link" href="#everything" data-toggle="tab">Everything</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#medias" data-toggle="tab">Medias</a>
            </li>
        </ul>
    </div>#}
    <div class="tab-content pb-5">
        <div id="everything" class="tab-pane active">
            {#<p class="total-results text-muted">Showing 1 to 10 of 47 results</p>#}

            <ul class="list-unstyled search-results-list">
                {% for hv in pagination %}
                    <li>
                        {{ include('hv_admin/_listado-item.html.twig') }}
                    </li>
                {% endfor %}


            </ul>

            <hr class="solid mb-0" />

            {{ knp_pagination_render(pagination) }}
        </div>

    </div>
{% endblock %}
