 @import '../../css/helper/variables';
 @keyframes pulse {
     from {
         box-shadow: 0 0 0 5px rgba(255,255,255,0)
     }

     to {
         box-shadow: 0 0 0 5px rgba(255,255,255,0.5)
     }
 }
.twin-hero {
    background-color: black;
    padding-top: 0 !important;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;

    z-index: 2;
    transform: translate(0, 0);

    .hero-shadow {
        position: absolute;
        z-index: 40;
        width: 100%;
        height: 72px;
        background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.07))
    }

    .hero {
        height: 100%;
        padding: 0;
        transition: transform .8s;
        -webkit-transition: transform .8s;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        h2, p {
            color: #fff
        }
        p {
            font-size: 1.4rem;
            &.legal-notes {
                font-size: 1rem;
            }
        }
        &.left {
            z-index: 3;
            box-shadow: 1px 0 10px rgba(0,0,0,0.7);
            &:after {
                position: absolute;
                content: "";
                border: 1px solid rgba(0,0,0,0.4);
                top: 0;
                right: -1px;
                height: 100%
            }
            .tilt {
                background: url($heroImgLeft) no-repeat -296px -268px;
                -webkit-transition: transform .8s;
                transition: transform .8s;
                top:0;
                right: 0;
                bottom: 0;
                left: -200px;
            }
            &.hero-collapsed {
                transform: translateX(-5%);
                -moz-transform: translateX(-5%);
                -webkit-transform: translateX(-5%);
            }
            &.hero-expanded {
                transform: translateX(13%);
                -moz-transform: translateX(13%);
                -webkit-transform: translateX(13%)
            }
        }
        &.center {
            z-index: 1;
            .tilt {
                background: url($heroImgCenter) no-repeat center center;
                -webkit-transition: transform .8s;
                transition: transform .8s;
                top:0;
                right: -200px;
                bottom: 0;
                left: -200px;
            }
        }
        &.right {
            z-index:2;
            box-shadow: -1px 0 10px rgba(0,0,0,0.7);
            &:after {
                position: absolute;
                content: "";
                border: 1px solid rgba(0,0,0,0.4);
                top: 0;
                left: -1px;
                height: 100%
            }
            .tilt {
                background: url($heroImgRight) no-repeat center center;
                -webkit-transition: transform .8s;
                transition: transform .8s;
                top:0;
                right: -200px;
                bottom: 0;
                left: 0;
            }
            &.hero-collapsed {
                transform: translateX(5%);
                -moz-transform: translateX(5%);
                -webkit-transform: translateX(5%);
            }
            &.hero-expanded {
                transform: translateX(-13%);
                -moz-transform: translateX(-13%);
                -webkit-transform: translateX(-13%);
            }
        }

        &.left.hero-expanded, &.center.hero-expanded, &.right.hero-expanded {
            .tilt-expanded:before {
                opacity: 1
            }
            .tilt-expanded:after {
                opacity: 0
            }
        }

        .tilt {
            position: absolute;
            &:before {
                content: "";
                -webkit-transition: opacity .8s;
                transition: opacity .8s;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, rgba(63, 49, 125, 0.7), rgba(31, 24, 64, 0.7));
                opacity: 0
            }
            &:after {
                content: "";
                -webkit-transition: opacity .8s;
                transition: opacity .8s;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.4);
                opacity: 1
            }
        }

        .initial, .expanded, .collapsed {
            padding-top: 60px;
            height: auto;
            -webkit-transition: opacity .2s;
            transition: opacity .2s;
            display: none;
            width: 400px;
            z-index: 10;
        }
        .initial.active, .expanded.active, .collapsed.active {
            display: block;
        }


        .round-icon {
            display: inline-block;
            font-size: 40px;
            color: #fff;
            border: 2px solid #fff;
            border-radius: 30px;
            width: 50px;
            height: 50px;
            line-height: 42px;
            padding: 0;
            margin-top: 10px;
            cursor: default;
            animation-duration: 1.6s;
            animation-name: pulse;
            animation-iteration-count: infinite;
            animation-direction: alternate
        }
        .round-filled-icon {
            display: inline-block;
            background: #fff;
            font-size: 40px;
            color: #3f317d;
            border-radius: 30px;
            -webkit-background-clip: content;
            background-clip: content-box;
            width: 50px;
            height: 50px;
            line-height: 42px;
            padding: 0;
            margin-top: 10px;
            cursor: default;
            animation-duration: 1.6s;
            animation-name: pulse;
            animation-iteration-count: infinite;
            animation-direction: alternate
        }
        .btn {
            border-radius: 25px;
            font-size: 1.07142857rem;
            line-height: 1.5;
            padding: 13px 30px 15px;
            display: inline-block;
            margin-bottom: 0;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            box-sizing: border-box;
            border: none;

            &.btn-white {
                padding-top: 12px;
                padding-bottom: 14px;
                border-width: 1px;
                border-color: #3f317d #3f317d #2d2358;
                color: #3f317d;
                background-color: #fff;
            }
        }
        a.btn {
            text-decoration: none;
        }
        .legal-container a{
            color: #fff;
            text-decoration: underline
        }
    }
}

@media screen and (min-width: 540px) {
    .twin-hero-back, .twin-hero {
        height: 580px;
    }
}
