#header .header-top {
    min-height: auto;
}
.page-header.no-header{
    padding: 1px 0;
}
.page-header.no-header h1 {
    display: block;
    font-size: 1px;
}
#header .header-row{
    background: #212529;
}

/* Nosotros --------------------------------------------------------------------------------------------------------- */
.logos{
    text-align:center !important;
}
.logos a.servilabor{
    background: url(../../img/colombia.gif) no-repeat 80px 30px;
    padding-bottom: 30px;
}
.logos a.nortempo{
    background: url(../../img/flags.gif) no-repeat 80px -516px;
    padding-bottom: 25px;
}
.logos .img-1{
    margin-right: 80px;
}

/* Servicios -------------------------------------------------------------------------------------------------------- */
.product-hero h1, .product-hero h2, .product-hero p, .product-hero a {
    color: white;
}
.pricing-table .plan .plan-header{
    padding: 0.15rem 1rem;
}
.pricing-table .plan .plan-footer {
    padding: 0.1rem;
}

/* Ofertas de empleo ------------------------------------------------------------------------------------------------ */
html .featured-boxes-full .featured-box-full{
    font-size: 10px;
}
html .featured-boxes-full .featured-box-full p{
    font-size: 14px;
}
.featured-boxes-full .featured-box-full{
    padding: 20px 55px;
}
.detalle-left h4{
    font-weight: 300;
}

/* Contacto --------------------------------------------------------------------------------------------------------- */

section.ciudades-nav {
    margin: 0;
    padding: 0px 0;
    text-align: center;
    z-index: 3;
}
.ciudades-nav ul{
    padding-inline-start: 0;
    position: relative;
    margin-bottom: 0;
}
.ciudades-nav .sort-source.sort-source-style-2 > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.ciudades-nav .sort-source.sort-source-style-2 > li.active > a {
    background-color: #3f317d;
}
.ciudades-nav .sort-source.sort-source-style-2 > li.active > a:after{
    margin-top: 30px;
}
#googlemaps{
    z-index:2;
}

/* Noticias --------------------------------------------------------------------------------------------------------- */
.home-hero h1, .home-hero h2, .home-hero p {
    color: white;
}

/* Registro --------------------------------------------------------------------------------------------------------- */
/* TODO BORRAR ------------------------------------------------------------------------------------------------------ */


.registro .pull-left {
    float: left !important;
}

.registro .pull-right {
    float: right !important;
}

/** --- Modal --- **/
.modal-block {
    background: transparent;
    padding: 0;
    text-align: left;
    max-width: 600px;
    margin: 40px auto;
    position: relative;
}

.modal-block.modal-block-xs {
    max-width: 200px;
}

.modal-block.modal-block-sm {
    max-width: 400px;
}

.modal-block.modal-block-md {
    max-width: 600px;
}

.modal-block.modal-block-lg {
    max-width: 900px;
}

.modal-block.modal-block-full {
    max-width: 98%;
}

/* Tables - Actions */
.table .actions,
.table .actions-hover {
    vertical-align: middle;
}

.table .actions a,
.table .actions-hover a {
    display: inline-block;
    margin-right: 5px;
}

.table .actions a:last-child,
.table .actions-hover a:last-child {
    margin-right: 0;
}

.table .actions-hover a {
    opacity: 0;
}

.table tr:hover .actions-hover a {
    opacity: 1;
}

.table .actions-fade a {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

/* Mi Perfil --------------------------------------------------------------------------------------------------------- */
ul.nav-list li.active.text-dark > a {
    font-weight: bold;
    color: #212529
}

/* PP --------------------------------------------------------------------------------------------------------------- */
.pp-header+div>section[data-building-block=organism]:first-of-type,.pp-header+section[data-building-block=organism]:first-of-type {
    padding-top: 72px
}

@media (min-width: 1024px) {
    .pp-header+div>section[data-building-block=organism]:first-of-type,.pp-header+section[data-building-block=organism]:first-of-type {
        padding-top:112px;
    }
}
.product-hero {
    min-height: 300px;
    text-align: center;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 40px 0;
    overflow: hidden
}

.product-hero__headline {
    padding-bottom: 30px
}

.product-hero__paragraph {
    padding-bottom: 30px
}

.product-hero .pypl-btn {
    margin: 0 auto
}

.product-hero .pypl-btn+.pypl-btn,.product-hero__container div+.pypl-btn {
    margin-top: 20px
}

.product-hero__hatch-text {
    padding-top: 10px
}

.product-hero-organism:first-of-type .product-hero {
    margin-top: -72px;
    padding-top: inherit
}

.product-hero .container {
    width: 100%
}

.product-hero__app-badge-wrapper {
    margin: 20px 0 auto
}

@media (min-width: 752px) {
    .product-hero__app-badge-wrapper {
        margin-left:0
    }
}

.below-product-hero {
    padding: 40px 0;
    text-align: center
}

.below-product-hero .product-hero__cta,.below-product-hero .product-hero__hatch-text,.below-product-hero .product-hero__mediabtn,.below-product-hero .product-hero__paragraph {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.below-product-hero .product-hero__paragraph+.product-hero__cta {
    margin-top: 0
}

.below-product-hero .product-hero__cta+.below-product-hero .product-hero__cta,div+.below-product-hero .product-hero__cta {
    margin-top: 20px
}

.below-product-hero .product-hero__hatch-text {
    padding-top: 10px
}

@media (min-width: 752px) {
    .product-hero {
        min-height:480px;
        text-align: left
    }

    .product-hero .pypl-btn {
        margin-left: 0
    }

    .product-hero__headline {
        padding-bottom: 20px
    }

    .product-hero__paragraph {
        font-size: 1.25rem;
        line-height: 1.5
    }

    .product-hero__hatch-text {
        max-width: 320px;
        text-align: center
    }

    .below-product-hero {
        display: none
    }
}

@media (min-width: 1024px) {
    .product-hero {
        padding-bottom:60px
    }

    .product-hero-organism:first-of-type .product-hero {
        margin-top: -112px;
    }
}

.home-hero {
    min-height: 300px;
    padding: 40px 0;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center
}

.no-flexboxlegacy .home-hero {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-pack: justify;
    -ms-flex-align: center
}

.home-hero .container {
    width: 100%
}

.home-hero__paragraph {
    padding-top: 20px
}

.home-hero__hatch-text {
    padding-top: 10px
}

.home-hero__container.center-block .pypl-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none
}

.home-hero__container.text-xs-left .home-hero__hatch-text {
    max-width: 320px;
    text-align: center
}

.home-hero .pypl-btn {
    margin-top: 30px
}

.home-hero .pypl-btn+.pypl-btn,.home-hero__container div+.pypl-btn {
    margin-top: 20px
}

@media (min-width: 752px) {
    .home-hero.short {
        min-height:480px
    }

    .home-hero.tall {
        min-height: 600px
    }

    .home-hero__paragraph {
        font-size: 1.25rem;
        line-height: 1.5
    }
}

@media (min-width: 1024px) {
    .home-hero {
        padding:60px 0
    }

    .home-hero.short {
        min-height: 480px
    }

    .home-hero.tall {
        height: calc(100vh - 125px)
    }
}

.home-hero-organism:first-of-type .home-hero {
    margin-top: -112px;
    padding-top: 112px
}

.home-hero__app-badge-wrapper {
    margin-top: 20px;
    margin-left: auto;
    text-align: center
}

@media (min-width: 752px) {
    .home-hero__app-badge-wrapper {
        margin-left:0
    }
}

.below-home-hero {
    padding: 40px 0
}

.below-home-hero .home-hero__paragraph {
    padding-top: 0
}

.below-home-hero .home-hero__paragraph+.pypl-btn,.below-home-hero .home-hero__paragraph+div>.pypl-btn {
    margin-top: 30px
}

.below-home-hero .home-hero__hatch-text {
    padding-top: 10px
}

.below-home-hero .home-hero__container .pypl-btn+.pypl-btn {
    margin-top: 20px
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.text-xs-center {
    text-align: center!important;
}