{% extends 'servilabor/app/evaluacion/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags(evaluacion.slug ~ '-titulo') }}
{% endblock %}


{% block evaluacion_content %}
    <div class="background-titulo"></div>
    {{ parent() }}
{% endblock %}