{% extends 'datatable/base.datatable.html.twig' %}

{% block title %}Listado nomina{% endblock %}
{% block body_header_title %}Listado nomina{% endblock %}

{% block body_header_right %}
    {#{{ parent() }}
    <a href="{{ path('admin_usuario_crear') }}" class="btn btn-primary">
        Crear usuario
    </a>#}
    <ul class="u-list-inline">
        <li class="list-inline-item mr-4">
            {{ parent() }}
        </li>
        {#<li class="list-inline-item">
            <a href="{{ path('admin_usuario_crear') }}"
               class="btn btn-md btn-primary u-btn-outline-primary rounded-0 form-control form-control-lg">
                Crear usuario
            </a>
        </li>#}
    </ul>
{% endblock %}


