{% extends 'base.html.twig' %}

{% block title %}
    Certificado ingresos
{% endblock %}

{% block body_header_title %}
    Certificado Ingresos y retenciones
{% endblock %}

{% block body %}
    <!-- start: page -->
    <div class="row">
        <div class="col">
            <section class="card">
                <div class="card-body">
                    <table class="table table-bordered table-striped mb-0" id="datatable-default">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>PDF</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for periodo, certificado in certificados %}
                            <tr>
                                <td>{{ periodo }}</td>
                                <td>
                                    <a target="_blank" href="{{ path('app_certificado_ingresos', {'periodo' : periodo}) }}">
                                        <i class="fas fa-file-pdf fa-2x"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- end: page -->
{% endblock %}



