{% extends 'base.html.twig' %}

{% block title %}
    Certificado laboral
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                <strong>No se abre automáticamente?!</strong> Puede abrir
                <a href="{{path('app_certificado_laboral_pdf')}}" target="_blank">Certificado laboral aquí</a>.
            </div>
            <embed class="pdf-view" type="application/pdf" src="{{ path('app_certificado_laboral_pdf') }}"
               id="embed" width="100%" height="716">
        </div>
    </div>
{% endblock %}

