{% set extendTemplate = datatable is defined ? 'datatable/base.datatable.html.twig' : 'base.html.twig'  %}

{% extends extendTemplate %}

{% block title %}
    Certificado laboral
{% endblock %}

{% block body_header_title %}
    Certificado Laboral
{% endblock %}



{% block body %}
    {% if datatable is not defined %}
        {% if certificado %}
            {% set certificado_path = path('se_certificado_laboral_pdf', {certificado: certificado.id}) %}
        {% endif %}
        <div class="row">
            <div class="col">
                <div class="alert alert-{{ certificado ? 'info' : 'warning' }}">
                    {% if certificado %}
                        <strong>No se abre automáticamente?!</strong> Puede abrir
                        <a href="{{ certificado_path }}" target="_blank">Certificado laboral aquí</a>.
                    {% else %}
                        <strong>No hay resultados</strong>
                    {% endif %}
                </div>
            {% if certificado %}
                <embed class="pdf-view" type="application/pdf" src="{{ certificado_path }}" id="embed" width="100%" height="716">
            {% endif %}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}

{% endblock %}




